@import url("chosen.css");
/*Yeasir Styles added here*/
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a:focus {
    outline: none;
}
a:hover {
    background-color: transparent;
}
img {
    max-width: 100%;
}
#bio_text {
    display: none;
}
body.popup-open {
    overflow: hidden;
    height: 100%;
}
body.popup-open:after,
body.loader-open:after,
.loader-open:after,
.blocked_ui:after,
body.show-success:after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: block;
    content: " ";
    z-index: 9991;
}
.popup-ymp {
    display: none;
}
.popup-ymp {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 800px;
    height: auto;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0;
    z-index: 9999;
    max-height: 92%;
    max-width: 92%;
    overflow: auto;
}
body.popup-open .popup-ymp {
    display: block;
}
.popup-ymp {
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid #ffffff;
    padding: 25px 10px 15px;
}
.popup-ymp form > div.active,
.popup-ymp form > div.message,
.popup-ymp form > div.sb_div {
    display: block;
}
.sb_div {
    padding: 10px 0;
    margin-top: 15px;
    border-top: 1px solid #dbdbdb;
    text-align: center;
}
.button {
    display: inline-block;
    line-height: 1;
    border-radius: 4px;
}
.button[type="reset"], a.button-reset{
    background-color: #DD9500;
    border-color: #C48400;
    color: #ffffff !important;
}
.popup_close,
.view_popup_close{
    position: absolute;
    right: 8px;
    top: 8px;
    color: #ff3d0a;
    font-weight: bold;
    font-size: 18px;
    border-radius: 20px;
    display: block;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 20px;
    text-indent: -9999px;
    background: url("../images/cross-icon.png") no-repeat 0 0 transparent;
    background-size: cover;
    opacity: 0.9;

}
.popup_close:link,
.popup_close:visited,
.popup_close:hover,
.view_popup_close:link,
.view_popup_close:visited,
.view_popup_close:hover{
    text-decoration: none;
    color: #ff3d0a !important;
    opacity: 1;
}
.img_box {
    margin-bottom: 10px;
}
.img_box img {
    height: 200px;
    width: auto;
}
.edit_image {
    text-align: center;
}
.ymp_loader_success,
.ymp_loader{
    position: fixed;
    z-index: 999999;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
}
.ymp_loader {
    border: 7px solid #f3f3f3; /* Light grey */
    border-top: 7px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.loader-open .ymp_loader {
    display: block;
}
#popup_ymp .ymp_loader {
    position: absolute;
    display: none;
    top: 45%;
}
#popup_ymp.loader-open .ymp_loader {
    display: block;
}
body.loader-open:after,
.loader-open:after,
body.show-success:after {
    z-index: 99991;
}
.popup-ymp h3 {
    margin: 10px 0;
}
.ymp_padding {
    padding: 0 15px;
}
.ymp_form_input select,
.ymp_form_input textarea,
.ymp_form_input input {
    width: 100%;
    border: 1px solid #aaa;
    margin-bottom: 10px;
    height: 30px;
    padding: 6px 10px;
    box-shadow: 0px 1px 1px inset;
}
.ymp_form_input input:focus, .ymp_form_input select:focus, .ymp_form_input textarea:focus {
    background: #f7f7f7;
    border: 1px solid #aaa;
}
.ymp_form_input select[multiple]{
    height: auto;
}
.ymp_form_input textarea {
    height: auto;
    min-height: 250px;
}

.ymp_form_input .input-invalid,
.input-invalid + .chosen-container .chosen-single {
    border-color: #e03070;
    box-shadow: 0px 1px 1px #e03070 inset;
}
.edit_contact .ymp_form_input h4 {
    margin: 0 15px 10px;
    border-bottom: 1px solid #555;
}
.text-center {
    text-align: center;
}
.ymp_wrapper {
    padding: 0 15px;
}
.ymp-row {
    margin: 0 -15px;
}
.ymp-row [class^="span-"] {
    padding: 0 15px;
    float: left;
}
.required_ind {
    color: red;
    font-weight: bold;
    font-family: "Arial", Helvetica, sans-serif;
}
.birth_date_btn {
    float: right;
    width: 30px;
}
.bdinput {
    margin-right: 36px;
}
.input-invalide {
    border-color: #ff643d !important;
}
/*.edit_bio_inner {
    max-width: 500px;
    margin: 0 auto;
}*/
.message {
    padding-left: 15px;
}
.message p {
    margin: 5px 0;
}
#archon_popup_accordion {
    padding: 10px;
}
.accordion {
    padding-bottom: 10px;
}
.accordion [data-control]{
    background: #DD9500;
    padding: 15px 20px;
    border-radius: 8px;
    border: 1px solid #b17700;
    cursor: pointer;
}
.accordion [data-control] h3 {
    margin: 0;
    padding: 0;
    text-align: left;
}
.accordion .data-content-inner{
    padding-top: 15px;
}
.ymp_form_input label {
    margin-bottom: 4px;
}
.ymp_loader_success {
    width: auto;
    height:auto;
    white-space: nowrap;
    font-size: 2em;
    color: #ffffff;
}
.show-success .ymp_loader_success {
    display: block;
}
.data-content-inner-tabs {
    padding-left: 20px;
}
.data-content-inner-tabs .accordion [data-control] {
    padding: 10px 15px;
    background: #eda400;
}
.data-content-inner-tabs .accordion [data-control] h3 {
    font-size: 1.2em;
}
[data-content] [data-accordion] {
    padding-bottom: 5px;
}
.accordion .accordion .data-content-inner {
    padding-bottom: 5px;
}
table.lines {
    width: 100%;
    margin: 0;
}

table.lines th:first-child,
table.lines td:first-child {
    padding-left: 0px;
}

table.lines th:last-child,
table.lines td:last-child {
    padding-right: 0px;
}

table.lines th,
table.lines td {
    border: 0;
    vertical-align: top;
}

table.lines td {
    border-top: 1px solid #ccc;
}

img {
    vertical-align: middle;
}
.profile_title_header {
    margin: 0;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.edit_career .pp_delete,
.edit_educ_inner .pp_delete,
.edit_children .pp_delete {
    display: inline-block;
}
.not_added .pp_delete {
    display: none;
}
.pp_delete {
    background-color: #c40036;
}
.pp_delete:hover {
    background-color: #580018;
}
.add_career_inner,
.add_career_inner .pp_delete,
.add_children_inner,
.add_children_inner .pp_delete,
.add_educ_inner,
.add_educ_inner .pp_delete {
    display: none;
}
.checkbox_radio_wrap label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 14px;
    line-height: 19px;
}
.checkbox_radio_wrap input[type=radio],
.checkbox_radio_wrap input[type=checkbox]{
    width: 0 !important;
    height: 0;
    padding: 0;
    visibility: hidden;
}
.checkbox_radio_wrap label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #eee;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    font-family: Arial, Helvetica, sans-serif;
}
.radio_wrap label:before {
    border-radius: 8px;
}
.radio_wrap input[type=radio]:checked + label:before,
.radio_wrap input[checked] + label:before {
    content: "\2022";
    color: #000;
    font-size: 30px;
    text-align: center;
    line-height: 17px;
}
.checkbox_wrap label:before {
    border-radius: 3px;
}
.checkbox_radio_wrap input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #000;
    text-align: center;
    line-height: 15px;
}
#main .children_list {
    margin: 0;
    padding: 0 0 0 15px;
}
.table-wrap {
    display: table;
    width: 100%;
}
.table-row {
    display: table-row;
}
.table-cell {
    display: table-cell;
    padding: 5px;
    vertical-align: top;
}
.new_elem_submit {
    display: none;
}
.add_educ_inner .pp_submit,
.add_career_inner .pp_submit,
.add_children_inner .pp_submit {
    display: none;
}
.add_educ_inner .new_elem_submit,
.add_career_inner .new_elem_submit,
.add_children_inner .new_elem_submit {
    display: inline-block;
}
.edit_btn_wrap {
    padding-left: 20px;
}
.last-updated {
    margin-left: 35px;
    display: none;
    font-family: 'Roboto Slab', georgia, serif;
}
#archon_spouse {
    display: none;
}
.chosen-container {
    display: block;
    margin-bottom: 15px;
}
.archousa_block p {
    margin-top: 0;
}
.chosen-container-single .chosen-single {
    border: 1px solid #aaa;
    margin-bottom: 10px;
    height: 30px;
    padding: 3px 10px 0;
    box-shadow: 0px 1px 1px inset;
    background: #eee;
    border-radius: 4px;
    color: #222;
    font-family: sans-serif;
    font-size: 15px;
}
.chosen-container .chosen-results li {
    font-family: sans-serif;
}
.avatar-save {
    width: 0;
    height: 0;
    visibility: hidden;
    font: 0;
}
.avatar-wrapper {
    text-align: right;
    width: 100%;
    min-height: 350px;
    overflow: hidden;
}
.avatar-wrapper img {
    max-width: 350px;
    width: 80%;
}
.avatar-preview img {
    max-width: 100%;
}
.avatar-upload {
    padding-top: 15px;
}
.avatar-preview {
    overflow: hidden;
    display: none;
}
.ymp-btn-group {
    display: table;
    width: 100%;
}
.ymp-btn-group-inner {
    display: table-row;
}
.btn-group {
    display: table-cell;
}
.avatar-btns {
    display: none;
}
.avatar-btns .button {
    padding: 6px 8px;
    font-size: 0.9em;
    margin: 5px;
}
.preview_title {
    padding: 0 0 10px;
    display: none;
}
.avatar-upload {
    margin-top: 15px;
    border-top: 1px solid #dbdbdb;
}
.divider_elem {
    margin: 15px;
    border-top: 1px solid #555;
}
.archons-info {
    /*padding: 20px 0;*/
}
.row [class^="span-"].archons-info > .inner {
    margin: 0;
    padding-left: 20px;
}
.row [class^="span-"].archons-info > .inner p {
    margin: 0;
}
.row [class^="span-"].archons-info > .float-left {
    padding-top: 12px;
}
.small_button, a.small_button {
    font-size: 11px;
    padding: 5px 10px;
}
.btn_p {
    padding-bottom: 5px;
}
.archousa_block p {
    margin: 0;
}
.archousa_block p.btn_p {
    margin-bottom: 1.25rem;
}
.archousa_profile_img {
    padding-top: 0 !important;
}
.archon-archousa-info {
    padding: 10px;
    background: #f4f4f4;
    margin: 0 0 15px 0;
}
.archon-archousa-info h3 {
    padding-bottom: 10px;
    margin: 0;
}
#main [data-id="archon_edit_img"] {
    width: auto;
    padding: 5px 10px;
    font-size: 0.9em;
    line-height: 1;
    margin-top: 6px;
}
/*
.prof_img {
    position: relative;
    width: 100%;
    min-height: 520px;
}
.prof_img img {
    position: absolute;
    width: auto;
    height: 348px;
    max-width: none;
    -ms-transform: rotate(90deg); !* IE 9 *!
    -webkit-transform: rotate(90deg); !* Safari *!
    transform: rotate(90deg);
    left: -17%;
    top: 17%;
}
.archousa_profile_img,
.archon_profile_img{
    position: relative;
    min-height: 120px;
}
.archousa_profile_img img,
.archon_profile_img img {
    position: absolute;
    top: 17%;
    height: 85px;
    width: auto;
    -ms-transform: rotate(90deg); !* IE 9 *!
    -webkit-transform: rotate(90deg); !* Safari *!
    transform: rotate(90deg);
}*/
.archon-archousa-info .inner {
    padding-top: 15px;
}
.amu_table {
    padding: 15px 0;
    border: 1px solid #000;
    background: #fafafa;
}
#archon_list_table,
#officers_list_table {
    border-top: 1px solid #000;
    clear: both;
    margin-bottom: 10px;
}
.amu_table td {
    vertical-align: middle;
    text-align: center;
}
.amu_table thead td {
    font-weight: bold;
}
.dataTables_length {
    margin-left: 15px;
    margin-bottom: 15px;
}
.dataTables_filter {
    margin-right: 15px;
    margin-bottom: 15px;
}
.dataTables_info {
    margin-left: 15px;
}
.dataTables_paginate {
    margin-right: 15px;
}
.dataTables_filter input {
    width: 250px;
}

.balloonstyle {
    text-align: left;
    margin-left: 8%;
}
.popup_view_profile {
    position: absolute;
    top: 20px;
    left: -9999px;
    width: 80%;
    background: #fff;
    padding: 15px;
    opacity: 0;
}
.view-popup .popup_view_profile {
    left: 10%;
    opacity: 1;
    z-index: 9999;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: 1px solid #3388c3;
    padding: 7px 11px;
    margin-left: 4px;
    min-width: 30px;
    line-height: 1;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #3388c3;
    border-color: #0662a2;
    color: #ffffff !important;
}
.action_td a {
    font-size: 0.8em;
}
.top .dataTables_length + .clear {
    padding: 0 0 10px;
    width: 100%;
    border-top: 1px solid #000;
}
.dataTables_wrapper .top {
    padding-bottom: 10px;
}
.amu_top_cont {
    padding-bottom: 30px;
}
.export_btn {
    padding-bottom: 15px;
}
.input_wrapper {
    padding-top: 10px;
}
.input_wrapper:first-child {
    padding-top: 0;
}
.input_wrapper label{
    /*display: inline-block;*/
}
.ymp_form_input input[type="radio"] {
    width: auto;
    padding: 0;
    height: auto;
    box-shadow: none;
    margin: 0 5px 0 0;
}
.font_small {
    font-size: 0.8em;
}
.radio_inputs label {
    padding-bottom: 6px;
    line-height: 1.4;
}
.input_wrapper label[for="req_cmt"] {
    padding-bottom: 6px;
}
.action_td .edit + a {
    display: none;
}
.profile_title_header_edit h1 {
    margin-top: 0;
}
.chosen-container .chosen-results li {
    font: inherit;
}
.adsc_top h1 {
    float: left;
}
.search-top {
    float: right;
}
.search-top ul,
.search-top li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.search-top li {
    display: inline-block;
    margin: 0 0 0 5px;
}
.archon_manage_title h1 {
    float: left;
}
.archon_manage_title .contentBlock {
    float: right;
}

.as_filter {
    padding-bottom: 15px;
}
.as_filter h3{
    background: url("/home/assets/templates/archon/images/down.png") no-repeat right center;
    background-size: 24px auto;
    border-bottom: 1px solid grey;
    cursor: pointer;
    margin-bottom: 0;
}
.as_filter table {
    margin: 1.25rem 0 0;
}
.filter_open h3{
    background-image: url("/home/assets/templates/archon/images/up.png");
}
.span_open, .span_close {
    display: none;
}
.filter_open .span_close,
.filter_close .span_open{
    display: inline-block;
}
.filter_close .as_filter_main,
.filter_open .span_open {
    display: none;
}
.status_form_block .contentBlock {
    padding-top: 10px;
}
.status_form_block {
    padding-bottom: 30px;
}
#page {
    width: 100%;
}
fieldset {
    width: 90%;
}
.FSF_submit,
input[type="submit"].FSF_submit,
input.FSF_input {
    padding: 2px;
    background: #FFF;
    border-style: solid;
    border-width: 1px;
    border-color: #BBB #BBB #E5E5E5 #E5E5E5;
    color: #000 !important;
    width: auto;
    border-radius: 0;
    font-size: 12px !important;
    float: left;
    text-transform: none;
}
input.FSF_input {
    width: 150px;
    margin-left: 10px;
}
.admin_page,
.admin_page #page{
    background: #FFF url('/home/assets/images/bg/body.jpg') repeat-y top left;
}
#content {
     float: none;
 }
.admin_page #header {
    color: #000;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.h1_txt {
    margin-top: 8px;
}
.button, a.button, input[type=submit] {
    font-family: Arial, Helvetica, sans-serif;
}
.view_edit_block {
    padding: 0 10px;
}
.form-input-wrap {
    padding: 5px 10px;
    min-height: 24px;
}
.ymp-input-same-line label {
    float: left;
    width: 130px;
    line-height: 30px;
}
.input_dv {
    margin-left: 135px;
    line-height: 30px;
}
.ymp-input-same-line .input_dv input {
    line-height: 1;
    margin-bottom: 0;
}
.remove-officer-pp #profile_title {
    float: left;
}
.remove-officer-pp .view_edit_block {
    float: right;
    padding: 10px 20px 0 0;
}
.remove-officer-pp .message {
    display: none;
}
.remove-officer-pp .birth_date_input_wrap {
    width: 180px;
}
.add_officer_inner, .remove_officer_inner , .update_officer_inner {
    max-width: 350px;
    margin: 0 auto;
}
.add_officer_inner {
    max-width: 450px;
}
.officer_listing_page .view_this_archon {
    display: none;
}
/*asdf 123*/

@media screen and (max-width: 999px) {
}

@media screen and (max-width: 767px) {
    .ymp-names .table-cell {
        display: block;
        float: left;
        width: 50%;
    }
    .ymp-names .table-cell:nth-child(3){
        clear: left;
    }
}

@media screen and (max-width: 499px) {

}