/* Most usual classes */

/*
 * this list of classes refers to ALL the generated buttons inside the list; 
 * if you modify it, all the generated buttons will take on the new look */
.button_big, 
.button_small, 
.button_smallest, 
.KT_tngtable tbody tr.KT_buttons input, 
.KT_tnglist .KT_tngtable #KT_selAll, 
#KT_tngdeverror input, 
#KT_tngtrace input, 
.KT_tngtable th.KT_sorter input, 
.KT_row_filter_submit_button, 
.KT_tnglist .KT_tngtable tbody tr input, 
.KT_tng .KT_tngform .KT_topbuttons input, 
.KT_tng .KT_tngform .KT_bottombuttons input{
	font-size: 10px;
}

/* *
 * recommmended css attribute order
 *
 * layout:            display, list-style
 * box positioning:   position, float, clear
 * box position:      top, right, bottom, left
 * box clipping:      overflow, clip
 * box size:          width, height
 * box style:         margin, padding, border, background
 * text:              color, font, text-decoration, text-transform
 * text positioning:  text-align, vertical-align
 * other text:        white-space, ...
 *
 * */
/*

general elements
	container elements
		div, p
	a
	lists
		ul, li
	form elements
		input
		select

structural markup

*/

/* Main div container for any ImpAKT / NeXTensio generated page
 * declares general options like font */

.merge_down {

}

.KT_tng {
 	width: 100%;
}

.KT_topbuttons, .KT_bottombuttons {
	width: 100%;
}

.KT_tng, .KT_tng textarea {
	font-family: Arial, Helvetica, sans-serif;
}

/* Form / List look and feel 
 * KT_tngform
 * 		the main container for a NeXTensio form
 * KT_tnglist
 * 		the main container for a NeXTensio list */
 
.KT_tngform, .KT_tnglist {
	float: left;
	background-color: #ffffff;
	width: 98%;
}

html > body >.KT_tngform, .KT_tnglist {
	float: left;
	background-color: #ffffff;
	width: 100%;
}



/* the main form tag inside a next list / form */
	.KT_tng .KT_tngform form, .KT_tng .KT_tnglist form {
		padding: 5px;
		margin: 0;
		
		background-color: #F4F4F4;
	}
	/* HACK : added to prevent clipping of bottom border in ie */
	* html .KT_tng form { /* ie */
		padding-bottom: 1px;
	}

	/* List / Form Headers */
	.KT_tng h3 {
		margin-left: 4px;
	}
	/*
	 * KT_tngtable
	 * 		tabular content generated for NeXT List / Form */
	 
	/*.KT_tngtable {
	  	width: 100%;
	}*/
	 
	 
	.KT_tngtable, .KT_tng .KT_options {
		margin: 5px 5px 5px 5px;
		width: 100%;
	}

	/* style for each content cell */
	.KT_tngtable tbody td {
		padding: 3px 5px;
		vertical-align: top;
	}

	/* 
	 * KT_options
	 * 		div generated inside the Nextensio List with  "Show all records ..."
	 * */
	.KT_tng .KT_options {
	}
		.KT_tng .KT_options a {
		}

/* KT_topbuttons, KT_bottombuttons
 * 		the up / down generated area with the edit, delete, add new links / buttons */
.KT_topbuttons, .KT_bottombuttons {
	padding: 10px 4px;
	min-height: 20px;
	text-align: right;
}
	/*
	 * KT_operations
	 * 		coontains only the Edit / Delete buttons
	 * */
	.KT_topbuttons div.KT_operations, .KT_bottombuttons div.KT_operations {
		display: inline;
	}
	.KT_topbuttons div.KT_left, .KT_bottombuttons div.KT_left {
		float: left;
	}

.KT_topbuttons {
	border-bottom: solid 1px #000000;
}



.KT_bottombuttons input,
input.button {
	padding: 0 13px;
	height: 20px;
	width: 70px;

	text-align: center;
	cursor: pointer;
	
	background: url(images/button_blank.gif) no-repeat 50% 40%;
	border: 0;
}



.KT_bottombuttons a, .KT_topbuttons a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

/* list specific */
.KT_tnglist .KT_options {
	padding-right: 4px;
	text-align: right;
	font-size: 11px;
}

.KT_tnglist th {
	font-weight: bold;
	background-color: #3E85B7;
	border-bottom: 1px solid #1F5981;
}

.KT_tnglist th a {
	color: #FFF;
}

.KT_tnglist th a:hover {
	color: #D3E8F7;
}

tr.KT_row_filter td {
	padding: 5px 3px;
}


.KT_tnglist .KT_options {
	margin-bottom: 0px;
}
/*
 * th.KT_order
 * 		contains the ordering sorter link (Order) and the "save" link / button
 * td.KT_order
 * 		contains the move up / down buttons on each row
 * 	*/

.KT_tnglist th.KT_order, 
.KT_tnglist td.KT_order {
	width: 70px ! important;
	text-align: center;
}
	/*
	 * change the appearance of the move up/down list buttons here
	 *  if you specify a background-image, the buttons will lose their value attribute
	 */
	.KT_tnglist td.KT_order .KT_button_move_down{
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-image:url(images/down.gif);
	}

	.KT_tnglist td.KT_order .KT_button_move_up{
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-image:url(images/up.gif);
		margin-right: 0px;
	}

	.KT_tnglist th.KT_order_selected, 
	.KT_tnglist td.KT_order_selected {
		border: 1px solid red;
		padding: 1px;
	}
.KT_tnglist th.KT_sorter a {
	padding-right: 15px;
	margin-right: 15px;
}
	/* th.KT_asc
	 * 		modify the links inside the table cell which has the active ordering
	 * */
	.KT_tnglist th.KT_asc a {
		background: url(images/up.gif) no-repeat 100% 50%;
	}
	.KT_tnglist th.KT_desc a {
		background: url(images/down.gif) no-repeat 100% 50%;
	}
	/*
	 * KT_move_op_link 
	 * 		the link for saving the moved rows
	 * */
	.KT_tnglist th.KT_asc a.KT_move_op_link, 
	.KT_tnglist th.KT_desc a.KT_move_op_link {
		padding: 0; margin: 0;
		background-image: none;
	}

	/* row colors */
	/* row alternative color */
	.KT_tnglist table.KT_tngtable tr.KT_even, tr.KT_even {
		background-color: #E2EAF0;
	}
	/* selected row (checkbox is clicked) */
	.KT_tnglist table.KT_tngtable tr.KT_highlight {
		background-color: #eaeaff;
	}
	/* moved highlight color */
	.KT_tnglist tr.KT_movehighlight {
		background-color: #b9dfb9;
	}

	/* the following two classes do the same thing : one for mozilla which can interpret :hover on any element
	 * and one set by script on mouseover/out for ie
	 * */
	/*
	.KT_tnglist table.KT_tngtable tbody tr:hover {
		background-color: #eaffea;
	}
	*/
	.KT_tnglist table.KT_tngtable tbody tr.KT_over {
		background-color: #eaffea ! important;
	}


/* KT_bottomnav, KT_topnav
 * 		list navigation container */
.KT_tng .KT_tnglist .KT_bottomnav, 
.KT_tng .KT_tnglist .KT_topnav {
	text-align: center;
	font-size: 12px;
}

	/* HACK : mozilla to ensure it doesn't float all the way to the right */
	/*
	.KT_tng .KT_tnglist .KT_bottomnav>div, .KT_tng .KT_tnglist .KT_topnav>div {
		width: 100px;
		margin-left: auto;
		margin-right: auto;
	}
	*/

.KT_tng .KT_tnglist .KT_bottomnav {
	margin: 10px 0;
}

.KT_bottomnav ul li {
  border-right: 1px solid #BFCFDC;
}

.KT_bottomnav ul li.last {
  border: 0;
}

.KT_edit_op_link {
  padding-right: 10px;
  margin-right: 5px;
  border-right: 1px solid #BFCFDC;
}

.KT_tng .KT_tnglist .KT_topnav {
	margin: 10px 0 0 0;
}
/* for styling the actual links inside the navigation area, please see the nav.css file */

/* form specific */

.KT_tng h1 {
	font-size: 14px;
	letter-spacing: -0.5px;
	padding: 5px 13px;
	margin: 0;
	
	color: #FFF;
	background: #F59F1A url(images/corner_yellow.gif) no-repeat top left;
}
	/* Form "Record x" tag when editing multiple records */
	.KT_tng .KT_tngform h2 {
		font-size: 16px;
		padding: 4px 0px 4px 4px;
		margin: 0px 0px 0px 0px;
	}

a {
  	color: #3E85B7;
}

a:hover {
  	color: #235C84;
}

input.id_checkbox,
input#KT_selAll {
  	background: none;
  	border: 0;
}