/*  This template was created by Mantis-a [http://www.mantisa.cz/]. For more templates visit Free website templates [http://www.mantisatemplates.com/]. */



/* CSS Document */


/* General */

* {
margin: 0;
padding: 0;
}

html {
height: 100%;
font-size: 62.5%;
}

body {
height: 100%;
text-align: center;
font: 1.2em Verdana, Arial, Helvetica, sans-serif;
background: #FFFFFF url('img/bg.gif') repeat-x 0 0;
min-width: 980px;
}

a:link, a:visited {
color: #005D85;
text-decoration: none;
font-weight: bold;
}

a:hover {
text-decoration: underline;
}

.cleaner {
clear: both;
height: 0;
font-size: 0;
visibility: hidden;
}

.noscreen {
display: none;
}

.hidden { /* Skip menu */
position: absolute;
top: -10000px;
left: 0;
width: 1px;
height: 1px;
overflow: hidden;
}


/* Paragraphs, headings, ... */

p {
line-height: 170%;
margin-bottom: 10px;
}

.post {
background-color: #E3F4FF;
border-left: 4px solid #57A9DF;
text-align: left;
width: 99%;
margin: 0 0 25px 0;
padding: 5px 12px;
}

.post p {
margin: 0;
color: #004C7F;
}

.post p a, .post p a:visited {
color: #004C7F;
}

.item {
margin-top: 0pt;
margin-right: 0pt;
margin-bottom: 10px;
margin-left: 0pt;
}


h1 {
font-size: 1.5em;
font-weight: normal;
color: #FFFFFF;
text-align: left;
/*margin-left: 20px;*/
padding: 10px 0 6px 0;
background: url('img/h1-bg.gif') repeat-x 0 100%;
/*width: 50%;*/
}

#header h1 {font-size: 2.5em;
font-weight: normal;
color: #FFFFFF;
text-align: left;
padding: 10px 0 6px 0;
background: url('img/h1-bg.gif') repeat-x 0 100%;
}

h1 a:link, h1 a:visited {
font-weight: normal;
text-decoration: none;
color: #3399ff;
}

h2 {
/*font-size: 1.5em;
font-family: Georgia, "Times New Roman", Times, serif;
font-weight: normal;
text-align: left;
margin: 6px 0 0 5px;*/
}

#content-box-in-right h2 {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	color: #CCCCC;
	text-align: left;
	padding-top:5px;
	border-bottom:solid 1px #09F;
	margin-top: 6px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 5px;
	padding-bottom: 5px;
	}
.sidebaritem {
	}

h3 {
color: #005D85;
font-size: 1.2em;
text-align: left;
letter-spacing: 1px;
margin-bottom: 5px;
}

h3.line {
background: url('img/heading-dot.gif') repeat-x 0 50%;
width: 90%;
}

h3.line span {
margin-left: 12px;
padding: 0 6px;
background: #FFFFFF;
}

ul {
list-style-type: none; 
}


/* Images */
.thumb {
overflow-x: hidden;
overflow-y: hidden;
border:0px;
width: 100px;
height: 75px;
}

img.thumb {
border: 3px solid #8ED8FF;
margin: 0 12px 16px 0;
}

a:hover img.thumb {
border: 3px solid #FF6123;
margin: 0 12px 16px 0;
}


/* Header */

#header {
margin: 0 auto;
width: 980px;
height: 172px;
position: relative;
background: #005D85 url('img/hd-bg.gif') repeat-x 0 0;
text-align: left;
}


/* Search form */

form.searching {
width: 189px;
height: 26px;
position: absolute;
top: 27px;
right: 25px;
}

fieldset {
border: 0;
}

#picture-input { 
position: absolute; 
top: 0; 
left: 0; 
overflow: hidden; 
width: 155px; 
height: 26px; 
background: url('img/input-bg.gif') 0 0 no-repeat; 
border: 0; 
}

#picture-input input { 
position: relative; 
top: 5px; 
left: 10px; 
width: 140px; 
border: 0;
letter-spacing: 1px;
}

form.searching input.hledat {
letter-spacing: 1px;
padding-left: 0;
font-weight: bold;
color: #FFFFFF;
position: absolute;
top: 0;
right: 0;
}

form.searching label {
display: none;
}


/* Menu */

#menu {
position: absolute;
top: 136px;
right: 18px;
}

#menu li {
float: left;
display: inline;
list-style-type: none;
}

#menu li a {
float: left;
display: inline;
list-style-type: none;
text-align: center;
color: #FFFFFF;
font-size: 1.1em;
text-decoration: none;
background-color: #232323;
border-top: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
padding: 0 2px;
height: 30px;
line-height: 30px;
margin-left: 2px;
}

#menu li a:hover {
background-color: #FF9400;
color: #151515;
border-top: 1px solid #6A4B09;
border-left: 1px solid #6A4B09;
border-right: 1px solid #6A4B09;
text-decoration: none;
}

#menu li a.active {
background-color: #FFB515 !important;
color: #151515;
border-top: 1px solid #6A4B09;
border-left: 1px solid #6A4B09;
border-right: 1px solid #6A4B09;
text-decoration: none;
}
#submenucat {
	width:980px;
	margin:auto;
	padding-top:5px;
	padding-bottom: 3px;
	line-height:20px;
	border-bottom-width: 2px;
	border-bottom-style: dotted;
	border-bottom-color: #999;	
	}

/* Content boxes */

#content-box {
width: 980px;
margin: 0 auto;
text-align: left;
}

#content-box-in {
width: 980px;
min-height:600px;
}

#content-box-in-left {
float: left;
width: 650px;
padding:0px;
}

#content-box-in-left-in {
margin: 24px 0 30px 20px;
/*background: url('img/divider.gif') repeat-y 98% 0;*/
}

#content-box-in-right {
float: right;
width: 300px;
}

#content-box-in-right-in {
margin: 24px 5px 10px 5px;
}

.galerie {
padding: 1px 0;
margin-right: 3px;
min-height: 1px;
}

.foto {
float: left;
display: inline;
width: 156px;
height: 138px;
margin: 0 10px 16px 0;
background-color: white;
text-align: center;
border: 1px solid #FFFFFF;
position: relative;
}

.foto img {
margin: 13px auto 0 auto;
border: 1px solid silver;
}

.foto:hover {
background-color: #D6ECF8;
border: 1px solid #82B7DF;
}

.foto p a, .foto p a:visited {
font-size: 1.1em;
color: #003980;
font-weight: normal;
margin-top: 6px;
}

.foto p {
margin-top: 6px;
color: #003980;
}


/* Content boxes directives */
/*publish ads button*/
.pub_content a {
	color:#FFF;
	font-weight:bold;
	font-size:14px;
	text-decoration: underline;
}

.pub_content {
	width:300px;
	margin:0px;
	padding-top:7px;
	padding-bottom:7px;
	text-align:center;
	background: #ff9400;
}
/*end publish ads button*/
#content-box-in-right-in h3 {
color: #00436A;
background-color: #D6ECF8;
border: 1px solid #82B7DF;
font-size: 1.1em;
text-align: left;
letter-spacing: 1px;
padding: 2px 0 2px 7px;
}


.sidebaritem form {
margin-top:10px;
display: block;
padding-top: 5px;
padding-right: 0px;
padding-bottom: 5px;
padding-left: 0px;
height:30px;
background-image:url(img/search_bg.png);
background-repeat:no-repeat;
text-align:right;
width:300px;
border:none;
}


#content-box-in-right-in input {
/*height:30px;
width:298px;
border: #FFF;
background-image:url(img/search_bg.png);
background-repeat:no-repeat;
padding-top:6px;
padding-bottom:4px;
padding-left:45px;}*/
width: 240px;
border:none;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
line-height: 16px;
font-size: 14px;
margin-top: 0px;
margin-right: 4px;
margin-bottom: 0px;
margin-left: 0px;
}




/* Footer */

#footer {
height: 44px;
color: #FFFFFF;
width: 100%;
background: #005D85 url('img/footer-bg.gif') repeat-x 0 0;
}

#footer-in {
width: 980px;
height: 44px;
margin: 0 auto;
}

#footer a, #footer a:visited {
color: #FFFFFF;
}

p.footer-left {
width: 350px;
float: left;
text-align: left;
line-height: 190%;
margin: 8px 0 0 12px;
display: inline; /* Because of IE Doubled Float-Margin Bug */
}

p.footer-right {
width: 400px;
font-family:Arial, Helvetica, sans-serif;
font-size:9px;
float: right;
text-align: right;
margin: 8px 12px 0 0;
display: inline; /* Because of IE Doubled Float-Margin Bug */
}

p.footer-right a, p.footer-right a:visited  {
font-weight: normal;
}

/*added for oc 1.6*/
#sysmessage {
	font-size: 18px;
	font-weight: bold;
	color: #000;
	text-align: center;
}