/* Main navigation */
#navigation {
  /* display: none; */
}
#navgalleries {
  /* display: none; */
}
#navimport {
  /* display: none; */
}
#navadmin {
  /* display: none; */
}
#navlogout {
  /* display: none; */
}

/* Button bar */
#buttonbar {
  /* display: none; */
}
#navcustomize {
  /* display: none; */
}
#buttonbar ul #navpro {
  /* display: none; */
}
#buttonbar ul #navupload {
  /* display: none; */
}
#buttonbar ul #navimages {
  /* display: none; */
}
#buttonbar ul #navsort {
  /* display: none; */
}
#buttonbar ul #navview {
  /* display: none; */
}

/* Secondary links */
#indexlink {
  /* display: none; */
}
#help {
  /* display: none; */
}

/* Galleries screen */
#newgallery {
  /* display: none; */
}
td.actionedit {
  /* display: none; */
}
td.actionview {
  /* display: none; */
}
td.actionrebuild {
  /* display: none; */
}
td.actionunlist {
  /* display: none; */
}
td.actiondelete {
  /* display: none; */
}
#newavgallery {
  /* display: none; */
}
#newpvgallery {
  /* display: none; */
}
#newsvgallery {
  /* display: none; */
}
#newtvgallery {
  /* display: none; */
}
#ageheader {
  visibility: hidden;
}

/* Customize Screen */
body.customize #advanced {
  /* display: none; */
}