* {
  margin: 0;
  padding: 0;
  outline: none; /* hide dotted outline in Firefox */
}
body {
  background-color: #EEEEEE;
  color: #333333;
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
}
img {
  border: none;
}
fieldset {
  border: none;
}
/* ================================= layout ========================================= */
#wrapper {
	width: 100%;
	color: #333333;
	background: #EEEEEE;
}
#header {
  float: left;
  width: 100%;
  background: #999999 url(../img/svmlogo.gif) 6px 16px no-repeat;
}
#login #header {
  background-image: none;
}

#content {
	margin: 16px 0 0 20px;
  padding: 4px 0 0 20px;
	width: 680px;
  border: 1px solid;
  border-color: #EEEEEE #999999 #666666 #999999;
  clear: both;
  float: left;
  display: inline;
  min-height: 395px;
  color: #333333;
  background-color: #FFFFFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#closegallery {
  float: right;
  font-size: 1em;
  margin: 8px 15px 0 0;
}
body.allviewers #content {
  border: none;
  padding-left: 21px;
}
body.allviewers #wrapper {
  background-color: #FFFFFF;
}
.clearboth { /* see http://www.pixelsurge.com/experiment/clearers.htm */
	clear: both;
	height: 0;
	margin: 0;
	font-size: 1px;
	line-height: 0;
}
/* ================================= typography ====================================== */
h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 1em 0;
}
h2 {
  font-size: 18px;
  font-weight: bold;
  padding: 13px 0 2px 0;
  color: #666666;
  min-height: 18px;
  width: 554px;
  overflow: hidden;
}
h3 {
  color: #666666;
  font-size: 16px;
  margin: 0 0 0.5em 0;
}
p, ol li, ul li {
  font-size: 14px;
}
p {
  margin: 0 0 1em 0;
}
ol {
  margin-left: 20px;
}
ol.messages {
  margin-left: 0;
  margin-top: 10px;
}
ol.messages li {
  padding-top: 5px;
  list-style-type: none;
  color: #CC2707;
  background-color: #FFFFFF;
}
ol.messages li a {
  color: #CC2707;
  background-color: #FFFFFF;
}
ol.messages li a:hover {
  color: #CC2707;
  background-color: #FFFFFF;
}
  
p.error {
  color: #CC2707;
  background-color: #FFFFFF;
  margin: 15px 0 0 0;
}
p.error a {
  color: #CC2707;
}
p.error a:link, p.error a:visited {
  color: #CC2707;
}
p.notice {
  color: #CC2707;
  background-color: #FFFFFF;
  margin: 15px 0 0 0;
}
p.notice a {
  color: #CC2707;
}
p.notice a:link, p.error a:visited {
  color: #CC2707;
}
  
pre {
  font-size: 12px;
}
em {
  font-style: italic;
  color: #BB0000;
}
a:link, a:visited {
  color: #376A85;
}
a:hover {
  color: #519cc4;
}
th {
  color: #666666;
}
/* ======================================= forms ================================== */
form, form input, form checkbox, form select {
  font-size: 14px;
}
input.text, input.colorpicker, select {
  border: 1px solid;
  border-color: #666666 #CCCCCC #EEEEEE #CCCCCC;
}
input.text, input.colorpicker {
  padding: 3px;
}
#submitinputs {
  clear: both;
  font-size: 14px;
}
input.checkbox {
  width: 20px;
  min-height: 20px;
}
input.formbutton {
  width: 125px;
  padding: 1px 0;
}
label {
  cursor: pointer;
}
form.public {
  /* no visual effect - used in manager.js for forms that need an exit check */
}
/* ================================= tables ================================ */
table {
  font-size: 14px;
  padding-bottom: 1em;
}
caption {
  text-align: left;
  color: #000;
  font-weight: normal;
  padding-bottom: 14px;
  }
td {
  padding-right: 10px;
  vertical-align: top;
}
th {
  font-weight: bold;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
  padding: 0 0 0.5em 0;
}
/* ============================== navigation ========================================= */
#navigation * {
  border: 0;
}
#externalnav {
  float: left;
  display: inline;
  margin: 9px 0 0 530px;
}
#externalnav ul {
  float: left;
  list-style: none;
}
#externalnav ul li {
  float: left;
  color: #EEEEEE;
}
#externalnav ul li a {
  float: left;
  font-weight: normal;
  font-size: 12px;
}
#externalnav ul li a:link, #externalnav ul li a:visited {
  color: #EEEEEE;
}
#externalnav ul li a:hover {
  color: #FFFFFF;
}
#navigation {
  clear: both;
  margin: 20px 0 0 10px;
  padding: 10px 0 0 0;
  float: left;
  display: inline;
}
#navigation ul {
  list-style: none;
  color: #000000;
  float: left;
  width: 680px;
}
#navigation ul li {
  float: left;
  padding-left: 0px;
  background-color: #999999;
}
#navigation ul li a {
  display: block;
  padding: 0 10px 0 10px;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
  color: #EEEEEE;
  background-color: #376A85;
  float: left; /* for IE Mac */
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-color: #AAAAAA #888888 #FFFFFF #888888;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
#navigation a:link, #navigation a:visited {
  color: #EEEEEE;
}
#navigation a:hover {
  color: #FFFFFF;
}
#navigation #navgalleries {
  padding-left: 0px;
}
#galleries #navgalleries a, #import #navimport a, #admin #navadmin a {
  color: #376A85;
  background-color: #FFFFFF;
  border-color: #CCCCCC #888888 #FFFFFF #888888;
}
#galleries #navgalleries a:link, #galleries #navgalleries a:visited, #import #navimport a:link, #import #navimport a:visited, #admin #navadmin a:link, #admin #navadmin a:visited {
  color: #376A85;
}
#galleries #navgalleries a:hover, #import #navimport a:hover, #admin #navadmin a:hover {
  color: #376A85;
}
#customize #navgalleries a:link, #customize #navgalleries a:visited, #upload #navgalleries a:link, #upload #navgalleries a:visited, #images #navgalleries a:link, #images #navgalleries a:visited, #sort #navgalleries a:link, #sort #navgalleries a:visited {
  color: #376A85;
  background-color: #EEEEEE;
  border-color: #CCCCCC #888888 #FFFFFF #888888;
}
#customize #navgalleries a:hover, #upload #navgalleries a:hover, #images #navgalleries a:hover, #sort #navgalleries a:hover {
  color: #519cc4;
}

/* ============================== button bar ========================================= */
/* http://www.oscaralexander.com/tutorials/how-to-make-sexy-buttons-with-css.html */
#buttonbar * {
  border: 0;
}
#buttonbar {
  margin: 0 0 6px 0;
  padding: 10px 0 10px 0;
  float: left;
  display: inline;
}
#buttonbar ul {
  list-style: none;
  width: 680px;
  float: left;
}
#buttonbar ul li {
  float: left;
  min-width: 85px;
  display: inline;
  margin-right: 10px;
  line-height: 22px;
  height: 22px;
  overflow: hidden;
}
#buttonbar ul #navview {
  margin-right: 0;
}
#buttonbar ul li a {
  /*display: block;*/
  font-size: 12px;
  min-width: 78px;
  margin-right: 6px;
  padding-right: 18px; /* sliding doors padding */
  text-align: center;
  text-indent: 18px;
  float: left; /* for IE Mac */
  display: inline; /* for IE 6 Win */
  text-decoration: none;
  background: transparent url(../img/bg_button_a.gif) no-repeat scroll top right;
}
#buttonbar ul li a span {
  background: transparent url(../img/bg_button_span.gif) no-repeat;
  display: block;
} 
#buttonbar ul li a:link, #buttonbar ul li a:visited, #buttonbar ul li a:hover {
  background-position: top right;
} 
#buttonbar ul li a:active {
  background-position: bottom right;
}
#buttonbar ul li a:link span, #buttonbar ul li a:visited span, #buttonbar ul li a:hover span {
  background-position: top left;
}
#buttonbar ul li a:active span {
  background-position: bottom left;
}
#images #navimages a:link, #images #navimages a:visited {
  color: #CC2707;
}
#sort #navsort a:link, #sort #navsort a:visited {
  color: #CC2707;
}
body.navcustomize #navcustomize a:link, body.navcustomize #navcustomize a:visited {
  color: #CC2707;
}
#upload #navupload a:link, #upload #navupload a:visited {
  color: #CC2707;
}
body.navpro #navpro a:link, body.navpro #navpro a:visited {
  color: #CC2707;
}
/* ============================== footer ============================================= */
#footer {
  width: 100%;
  color: #333333;
  background: #EEEEEE;
  height: 46px;
  clear: both;
}
#wrapper #footer p {
  font-size: 10px;
  margin: 0 0 0 41px;
  padding: 1em 0 0 0; 
}
/* ============================== SimpleViewer ======================================= */
body.simpleviewer h2 {
  background: url(../img/svicon24.gif) left bottom no-repeat;
  padding-left: 30px;
}
/* ============================== SimpleViewer 2 ======================================= */
body.simpleviewer2 h2 {
  background: url(../img/sv2icon24.gif) left bottom no-repeat;
  padding-left: 30px;
}
/* ============================== TiltViewer ======================================= */
body.tiltviewer h2 {
  background: url(../img/tvicon24.gif) left bottom no-repeat;
  padding-left: 30px;
}
/* ============================== TiltViewer ======================================= */
body.autoviewer h2 {
  background: url(../img/avicon24.gif) left bottom no-repeat;
  padding-left: 30px;
}
/* ============================== PostcardViewer ======================================= */
body.postcardviewer h2 {
  background: url(../img/pvicon24.gif) left bottom no-repeat;
  padding-left: 30px;
}
/* ============================== login screen ======================================= */
#login #content {
  border: none;
}
#login a:link, #login a:visited {
  text-decoration: none;
}
#login a:hover {
  text-decoration: underline;
}
  
#login #welcome {
  float: left;
  display: inline;
  width: 200px;
}
#login #loginform {
  float: right;
  display: inline;
  width: 290px;
}
#login input.text {
  width: 200px;
}
#login #footer p {
  margin: 0 0 0 77px;
}
#login h1 {
  margin-left: 35px;
  margin-bottom: 0;
  padding-top: 123px;
}
#login #welcome a:link, #login #welcome a:visited {
  color: #376A85;
  background-color: #FFFFFF;
}
#login #welcome a:hover {
  color: #519cc4;
  background-color: #FFFFFF;
}
#login #welcome p {
  margin-left: 35px;
  font-size: 13px;
  color: #333333;
  background-color: #FFFFFF;
}
#login p.error {
  font-weight: bold;
  color: #CC2707;
  background-color: #FFFFFF;
  padding-top: 73px;
}
/* ============================== galleries screen =================================== */
#galleries #content {
  width: 100%;
  min-height: 405px;
  padding: 0;
  margin: 10px 0 0 41px;
}
#galleries #submitinputs {
  margin: 1.5em 0 1em 0;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #BBBBBB;
  float: left;
  width: 100%;
}
#galleries #submit {
  width: 12em;
}
#galleries #newgallery label, #galleries #newgallery select, #galleries #newgallery input {
  display: block;
  float: left;
  color: #333333;
  padding: 0;
}
#galleries #newgallery label {
  font-weight: bold;
  color: #666666;
  margin: 2px 12px 0 0;
}
#galleries #newgallery #newgallerytype {
  width: 10em;
  margin: 1px 24px 0 0;
}
#galleries #newprompt {
  font-weight: bold;
  color: #666666;
}
#galleries th a {
  text-decoration: none;
  color: #666666;  
}
#galleries td a {
  text-decoration: none;
}
#galleries th img {
  padding-left: 2px;
}
#galleries h2 {
  margin: 0;
  padding: 0;
}
#galleries h2 a:link, #galleries h2 a:visited {
  color: #376A85;
  background-color: #FFFFFF; 
}
#galleries h2 a:hover {
  color: #519cc4;
  background-color: #FFFFFF;
}
#galleries p.message {
  padding: 12px 0 0 0;
  color: #666666;
  font-weight: bold;
}
#galleryset {
  clear: both;
  margin-top: 0.5em;
}
#galleryset th {
  padding-right: 14px;
}
#galleryset td {
  padding: 0 14px 8px 0;
  vertical-align: middle;
}
#galleryset td.title {
	width: 265px;
}
#galleryset td.simpleviewer, #galleryset td.simpleviewer2, #galleryset td.tiltviewer, #galleryset td.autoviewer, #galleryset td.postcardviewer {
  color: #666666;
  padding: 1px 14px 7px 1px;
}
.action {
  background-color: #FFFFFF;
  color: #376A85;
}

/* ============================== images screen ====================================== */
#images #imagelisttable, #images #captioncontrols {
  margin: 0;
  background-color: #F9F9F9;
  border: 1px solid;
  border-color: #999999 #CCCCCC #DDDDDD #CCCCCC;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#images #imagelisttable th.ilfilename, #images #imagelisttable td.ilfilename, #images #captioncontrols td.ilfilename {
  padding-left: 10px;
}
#images table.imagelist th {
  padding: 5px 0 10px 0;
}
#images table.imagelist td {
  margin: 0;
  padding: 0 0 5px 0;
}
#images table.imagelist td.ilselectdelete, #images table.imagelist td.ilselectalldelete {
  width: 50px;
  padding-left: 5px;
}
#images table.imagelist td.ilfilename {
  width: 164px;
}
#images table.imagelist td.ilthumbnail {
  width: 85px;
}
#images table.imagelist td.ilcaption, #images table.imagelist th.ilcaption {
  width: 276px;
  padding-left: 10px;
}
#images table.imagelist input.caption, #images table.imagelist input.newcaption, #images table.imagelist input.tvdescription, #images table.imagelist input.tvurl, #images table.imagelist input.sv2url {
  width: 253px;
}
#images table.imagelist input.caption, #images span.caption {
  color: #666666;
}
#images table.imagelist td.ilselect {
  width: 50px;
  padding: 0 5px 0 3px;
}
#images #captioncontrols {
  margin-top: 1em;
}
#images #captioncontrols tr.firstrow td {
  padding-top: 0.5em;
}
#images #captioncontrols tr.firstrow td.ilcaption, #images #captioncontrols tr.firstrow td.ilselect {
  /*border-top: 1px solid #666666;*/
}
#images #captioncontrols tr.lastrow td {
  padding-bottom: 15px;
}
#images #submitreset {
  margin-top: 15px;
  margin-bottom: 10px;
}
#images #submitinputs {
  margin: 10px 0 10px 325px;
}

/* ============================== images screen - simpleviewer 2 ===================== */
#images table.imagelist input.sv2url, #images span.sv2url {
  color: #376A85;
}

/* ============================== images screen - tiltviewer ========================= */
body.tiltviewer input.tvdescription {
  margin-top: 0px;
}
#images table.imagelist input.tvdescription, #images span.tvdescription {
  color: #556B2F;
}
#images table.imagelist input.tvurl, #images span.tvurl {
  color: #376A85;
}
#images.tiltviewer table.imagelist td {
  margin: 0;
  padding-bottom: 2px;
}
#images.tiltviewer table.imagelist td.ilselectdelete, #images.tiltviewer table.imagelist th.ilselectdelete, #images.tiltviewer table.imagelist td.ilselectalldelete {
  width: 25px;
  padding-left: 0;
}
#images.tiltviewer table.imagelist th.ilshowflip, #images.tiltviewer table.imagelist td.ilshowflip {
  width: 30px;
  text-align: center;
  padding-left: 0;
}

/* ============================== sort screen ======================================== */
#sort #submitreset {
  font-size: 14px;
}
#sort label {
  padding-right: 7px;
}
#sort img {
  display: block;
  float: left;
  padding: 0 5px 5px 0;
}
#sort #submitreset {
  clear: both;
  padding-top: 14px;
}
#sort select {
  width: 135px;
  margin-right: 5px;
}
#sort #submitinputs {
  margin: 10px 0 10px 0;
  clear: both;
}
#sort #submit {
  /*padding: 0;*/
}

/* ============================== upload screen ====================================== */
#upload object {
  margin: 0 0 0 -2px;
  padding: 0;
}
#upload #applet {
  width: 405px;
  float: left;
}
#upload #applettext {
  width: 170px;
  margin-right: 50px;
  float: right;
  display: inline;
}
#presizeinput {
  float: left;
}
#presizeonoff {
  float: right; padding-right: 14px;
}
.on {
  color: #CC2707;
}
.off {
}

/* ============================== customize screen ================================== */
body.customize #plugin {
  top: 253px;
  left: 345px;
  Z-INDEX: 20;
}
body.customize h3 {
  font-size: 14px;
  padding-bottom: 1em;
}
body.customize h3 a {
  font-weight: normal;
}
#standardversion {
  float: left;
  width: 100%;
}
body.customize #settings1 {
  width: 635px;
  padding-bottom: 0;
  margin: 5px 0 0 10px;
}
body.customize #settings2 {
  width: 303px;
  float: left;
  display: inline;
  margin: 5px 0 0 10px;
}
body.customize #settings3 {
  width: 303px;
  float: right;
  display: inline;
  margin: 5px 0px 0 0;
}
body.customize #settingspaths {
  width: 634px;
  clear: both;
  margin: 5px 0 0 10px;
}
body.customize td {
  padding: 0 0 5px 0;
  line-height: 20px;
  height: 32px;
}
body.customize td.label {
  width: 142px;
}
body.customize select {
  width: 148px;
  height: 22px;
}
body.customize #settings1 input.text {
  color: #000000;
  background-color: #FFFFFF !important;
}
body.customize input.text, body.customize input.colorpicker {
  width: 140px;
}
body.customize #title, body.customize #absurl {
  width: 485px;
}
body.customize #urltypeentry label, body.customize #useflickrentry label {
padding-left: 5px;
padding-right: 20px;
}
body.customize #submitinputs {
  margin: 5px 0 10px 350px;
}

/* ============================ Accordions =================== */
/* Should probably introduce an accordion class on the content or form say */
div.elementwrap {
  background-color: #F9F9F9;
  border: 1px solid;
  /*border-color: #CCCCCC #DDDDDD #EEEEEE #DDDDDD;*/
  border-color: #999999 #CCCCCC #DDDDDD #CCCCCC;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0 0 3px 0;
}
div.accordionElements {
  height: 0;
  overflow: hidden;
  }
div.elementwrap h3 {
  font-size: 12px;
  line-height: 1.5;
  /*background: url(../img/prosection.jpg) 0 0 repeat-x;*/
  background-color: #F9F9F9;
  margin: 0;
  padding: 0 10px 0 10px;
  /*border-top: 1px solid #EEEEEE;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #EEEEEE;*/
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}
div.elementwrap h3.togglers:hover {
  /* background-color is set with javascript */
  color: #519cc4;
}
div.elementwrap h3 a {
  font-weight: normal;
}
#customizeform {
  margin: 0 20px 20px 0;
  /*border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;*/
  }

/* ============================ SV2 Pro Screen ================================== */
#sv2pro #plugin {
  top: 414px;
  left: 435px;
  Z-INDEX: 20;
  }
#sv2pro table {
  /*width: 634px;*/
  margin: 5px 0 0 10px;
}
#sv2pro p {
  margin: 1em 0 1em 0;
  padding: 0 10px 0 10px;
  }
#sv2pro #settings2 {
  width: 303px;
  float: left;
}
#sv2pro #settings3 {
  width: 303px;
  float: right;
  display: inline;
  margin-right: 30px;
}
#sv2pro #settings4 {
  width: 303px;
  float: left;
}
#sv2pro #settings5 {
  width: 303px;
  float: right;
  display: inline;
  margin-right: 30px;
}
#sv2pro td {
  padding: 0;
  line-height: 20px;
  height: 30px;
}
#sv2pro td.label {
  width: 220px;
}
#sv2pro select {
  width: 148px;
  height: 22px;
}
#sv2pro #settings1 input.text {
  color: #000000;
  background-color: #FFFFFF !important;
}
#sv2pro input.text, #sv2pro input.colorpicker {
  width: 140px;
}
#sv2pro #submitinputs {
  margin: 0 0 10px 325px;
}
/* ============================ Import Screen =============================== */
#import h2 {
  padding-bottom: 1em;
}
#import td {
  padding: 0 0 5px 0;
  line-height: 20px;
  height: 30px;
}
#import td.col1 {
  width: 94px;
}
#import td.col2 {
  padding-right: 2px;
}
#import input.text {
  width: 475px;
}
#import ol {
  width: 555px;
  list-style-type: none;
  margin-left: 0;
}

/* ============================ Admin Screen ============================== */

#admin #currentpass {
  float: left;
  display: inline;
  width: 250px;
}
#admin #instructions {
  width: 220px;
}
#admin #changepassform {
  float: right;
  display: inline;
  width: 290px;
}
#admin input.text {
  width: 218px;
}
#admin p.error {
  font-weight: bold;
  color: #CC2707;
  background-color: #FFFFFF;
  padding-top: 1em;
}
#admin p.version {
  clear: both;
  font-size: 10px;
  padding-top: 65px;
}
  
