/**************************************************************
   AUTHOR:  Pat Heard (fullahead.org)
   DATE:    2006.11.14
   PURPOSE: Styles the html elements
 **************************************************************/

html {
  height: 100%;
  margin-bottom: 1px;
}

body {
  height: 100%;

  margin: 0;
  padding: 0;
  text-align: center;

  background: #FFF url(../images/bg/body.jpg) repeat-y top left;
}


h1 {   
  clear: both;
  margin: 0;
  padding: 5px 13px;
}

/* Rounded corners */
h1.blue, h1.red, h1.green, h1.yellow, h1.purple, h1.black {
  background-repeat: no-repeat;
  background-position: top left;
}


h1.blue {
  background-image: url(../images/bg/corner_blue.gif);
}

h1.red {
  background-image: url(../images/bg/corner_red.gif);
}

h1.green {
  background-image: url(../images/bg/corner_green.gif);
}

h1.yellow {
  background-image: url(../images/bg/corner_yellow.gif);
}

h1.purple {
  background-image: url(../images/bg/corner_purple.gif);
}

h1.black {
  background-image: url(../images/bg/corner_black.gif);
}


h2 {
  margin: 0;
  padding: 5px 0;
}

h3 {
  margin: 0;
  padding: 6px 0 0 0;
}

p {
  margin: 0;
  padding: 5px 0;
}

ol, ul {
  margin: 10px 30px;
  padding: 0 30px;
}

/* Used on the private homepage */
dl.contactDetails {
  float: left;
  width: 230px;
  padding: 10px 0;
  margin: 0 0 10px 0; 
}

dl.contactDetails dt {
  float: left;  
  width: 65px;
  padding: 0 10px 0 0;
  margin: 0;
  
  text-align: right; 
}

dl.contactDetails dd {
  float: left;
  width: 130px;
  clear: right;

  padding: 0;
  margin: 0;
  
}


/**************************************************************
   Form Elements
 **************************************************************/

form {
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  padding: 2px;
  background: #FFF;
  border-style: solid;
  border-width: 1px;
  border-color: #BBB #BBB #E5E5E5 #E5E5E5;
}

input.radio {
  padding: 0;
  background: none;
  border: 0;
}

input.macButton {
  width: 66px;
  height: 20px;
  
  cursor: pointer;
  
  background: url(../images/bg/button_blank.gif) no-repeat center center;
  border: 0;
}

fieldset {
  width: 170px;
  margin-top: 15px;
  padding: 0 10px 10px 10px;
  border: 0;
}

/* Hide the legend */
fieldset legend {
  display: none;
}

/**************************************************************
   Images
 **************************************************************/

img.floatRight {
  margin: 5px 0px 10px 15px;  
}

img.floatLeft {
  margin: 5px 15px 10px 0px;
}



