/**************************************************************
   AUTHOR:  CSS Play  (http://www.cssplay.co.uk/)  
   PURPOSE: Controls the popup image map
 **************************************************************/

/* Main map element */
#map {position:relative;z-index: 2;padding:50px 20px; width:550px; height:320px;}
#map ul {padding:0; margin:0; list-style:none;}



/**************************************************************
   Create and position the hover regions
 **************************************************************/

#map ul li#pacific   {width:189px; height:320px; position:absolute; top:50px; left:20px;}
#map ul li#western   {width:233px; height:290px; position:absolute; top:59px; left:158px;}
#map ul li#central   {width:183px; height:150px; position:absolute; top:65px; left:310px;}
#map ul li#northeast {width:118px; height:137px; position:absolute; top:50px; left:452px;}
#map ul li#southeast {width:230px; height:196px; position:absolute; top:174px; left:340px;}

#map ul li a {text-decoration:none; outline: none;}



/**************************************************************
   Define the image to appear on hover for each region
 **************************************************************/

#map ul li#pacific a.tl {width:189px; height:320px; background:url(../images/chapterMap/transparent.gif); position:absolute; top:0; left:0; text-indent:-9999px; z-index:2;}
#map ul li#pacific a.tl:hover,#map ul li#pacific:hover a.tl {background:url(../images/chapterMap/pacific.gif);}

#map ul li#western a.tl {width:233px; height:290px; background:url(../images/chapterMap/transparent.gif); position:absolute; top:0; left:0; text-indent:-9999px; z-index:1;}
#map ul li#western a.tl:hover,#map ul li#western:hover a.tl {background:url(../images/chapterMap/western.gif);}

#map ul li#central a.tl {width:183px; height:150px; background:url(../images/chapterMap/transparent.gif); position:absolute; top:0; left:0; text-indent:-9999px; z-index:1;}
#map ul li#central a.tl:hover,#map ul li#central:hover a.tl {background:url(../images/chapterMap/central.gif);}

#map ul li#northeast a.tl {width:118px; height:137px; background:url(../images/chapterMap/transparent.gif); position:absolute; top:0; left:0; text-indent:-9999px; z-index:1;}
#map ul li#northeast a.tl:hover,#map ul li#northeast:hover a.tl {background:url(../images/chapterMap/northeast.gif);}

#map ul li#southeast a.tl {width:230px; height:196px; background:url(../images/chapterMap/transparent.gif); position:absolute; top:0; left:0; text-indent:-9999px; z-index:1;}
#map ul li#southeast a.tl:hover,#map ul li#southeast:hover a.tl {background:url(../images/chapterMap/southeast.gif);}

#map ul li .xsnazzy,
#map ul li a .xsnazzy
{visibility:hidden;}

/* For IE6 to work */
#map ul li a:hover {border:0;}

/*#map ul li a:hover .xsnazzy {visibility:visible;}

#map ul li:hover .xsnazzy {visibility:visible; z-index:500;}

/* For IE7 to keep the :hover over .xsnazzy - goodness knows why? 
#map ul li:hover .xsnazzy {background:url(transparent.gif);}*/

.xsnazzy {display: block; position:absolute; height:auto; z-index: 500; text-align:center;}


/**************************************************************
   Size and Position the region popups
 **************************************************************/

#pacific .xsnazzy   {left:-245px; top:-20px; width:230px;}
#western .xsnazzy   {left:-383px; top:-29px; width:230px;}
#central .xsnazzy   {left:-535px; top:-35px; width:230px;}
#northeast .xsnazzy {left:-677px; top:-20px; width:230px;}
#southeast .xsnazzy {left:-565px; top:-144px; width:230px;}



/**************************************************************
   Style the popup
 **************************************************************/
 
/* Border and background colour */
.xb1, .xb2, .xb3, .xb4, .xb5, .xb6, .xb7 {display:block; font-size:0; overflow:hidden;}
.xb1, .xb2, .xb3, .xb4, .xb5, .xb6 {height:1px;}
.xb4, .xb5, .xb6, .xb7 {background:#ccc; border-left:1px solid #fff; border-right:1px solid #fff;}
.xb1 {margin:0 8px; background:#fff;}
.xb2 {margin:0 6px; background:#fff;}
.xb3 {margin:0 4px; background:#fff;}
.xb4 {margin:0 3px; background:#EBEBEB; border-width:0 5px;}
.xb5 {margin:0 2px; background:#EBEBEB; border-width:0 4px;}
.xb6 {margin:0 2px; background:#EBEBEB; border-width:0 3px;} 
.xb7 {margin:0 1px; background:#EBEBEB; border-width:0 3px; height:2px;} 

.xboxcontent {
  display:block; 
  background:#EBEBEB; 
  border:3px solid #fff; 
  border-width:0 3px;
}

.xboxcontent div {
  padding: 5px 12px;
  text-align: left;
}


/* Text inside the popup */
.xsnazzy h1, .xsnazzy p {margin:0 10px;}
.xsnazzy h1 {font-size:1.2em; color: #426781; font-family:arial, sans-serif; text-transform: uppercase;}
.xsnazzy p {padding-bottom:0.5em; color:#000; font-size:12px; text-align:left;}
.xsnazzy {background: transparent; margin:1em;}
  
.xboxcontent a, 
.xboxcontent a:visited {  
  display: block;
  color:#3E85B7; 
  font-size:10px; 
  text-indent:0; 
  border-top: 1px solid #F4F4F4;
}

#map ul li a:hover .xsnazzy .xboxcontent a:hover {color: #235C84; border-top: 1px solid #B9D1E2;}
#map ul li:hover .xsnazzy .xboxcontent a:hover {color: #235C84; border-top: 1px solid #B9D1E2;}

/* Close button */
.xboxcontent a.close,
.xboxcontent a:visited.close {
  font-size: 12px;
  font-weight: bold;
}