.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
    zoom: 1;
}
.as_wrap {
    padding-left: 20px;
}
.as_rtr {
    float: left;
}
.as_order {
    float: right;
}
.result_top {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 5px;
}
.search_result {
    padding-top: 15px;
}
.search_result > table {
    width: 100%;
}
.as_result h3 {
    margin-bottom: 0.7rem;
}
#profile_img img {
   max-width: 100%;
}
#main ul.chosen-choices {
    padding: 0;
    margin: 0;
}
.as_filter_main {
    padding-top: 10px;
}
.filter_item {
    padding: 5px 0;
}
.filter_item label {
    width: 123px;
    float: left;
}
.filter_item .filter_input {
    margin-left: 125px;
    width: 250px;
}
.filter_input input,
.filter_input select {
    width: 100%;
}
.filter_input .chosen-container {
    margin: 0;
}
#main .chosen-container .chosen-results {
    margin: 0 4px 4px 0;
    padding: 0 0 0 4px;
}
#main .chosen-container .chosen-results li {
    padding: 1px 6px;
}
.filter_input .search-field input {
    width: 100% !important;
}
#main .chosen-container-multi .chosen-choices {
    padding: 5px;
}
#main .chosen-container-multi .chosen-choices li.search-choice {
    padding: 3px 20px 3px 5px;
}
.submit_dv {
    padding-top: 10px;
}
.as_filter_main .submit_dv {
    margin-left: 125px;
    width: 250px;
    text-align: center;
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
    height: auto;
}
#search_therms{
    padding-top: 10px;
}
.filter_close .as_filter_main {
    padding-bottom: 10px;
    border-bottom: 1px solid #222;
}
.sf_txt {
    display: inline;
}
.filter_open .sf_txt {
    display: none;
}
.open_sfilter, .nbutton,
.open_sfilter:link, .nbutton:link,
.nbutton:active, .nbutton:visited {
    display: inline-block;
    background: #3388c3;
    color: #fff;
    border: 1px solid #0662a2;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
}
.open_sfilter,
.open_sfilter:link {
    padding-right: 40px;
    background: url('/home/assets/templates/archon/images/search-iconw.png') no-repeat 90% center #3388c3;
    background-size: 15px auto;
    /*float: right;*/
}
.open_sfilter:hover,
.nbutton:hover{
    text-decoration: none;
    background-color: #00518a;
    border-color: #03395f;
}

/*asdf 123*/

@media screen and (max-width: 999px) {
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 499px) {

}