/* MODx LE Manager template last update: 01-11-2006*/

/* Neutralize styles, fonts and viewport:
---------------------------------------------------------------- */
html, body, form, fieldset {
        margin: 0;
        padding: 0;
}
html {
    font-size: 100.01%; /* avoids obscure font-size bug */
    line-height: 1.5; /* http://meyerweb.com/eric/thoughts/2006/02/08/unitless-line-heights/ */
    font-family: "Lucida Sans", Helvetica, Arial, sans-serif !important; /* IE 
ignores this and renders Arial better */
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    height: 100%;
    color: #111;
}
body {
    font-size: 62.5%; /* 10px */
    font-size: 75%; /* 12px */
    font-size: 68.75%; /* 11px */
    height: 100%;
    margin-bottom: 1px; /* avoid jumping scrollbars */
    background: #3995D8;}
	
	.tab-page td {
	background: #FFF;;
	
}

.bar {
	background: #7BB9E6;
	border: 1px solid #FFF;
}
img, a img {
    border: 0 !important;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, pre,
blockquote, ul, ol, dl, address {
        margin: 0 0 .5em; /* Reset vertical margins on selected elements */
        padding: 0;
}

li, dd, blockquote {
    margin-left: 1em; /* Left margin only where needed */
}

/* Miscellaneous conveniences:
---------------------------------------------------------------- */
/* use with a <br class="cls" /> to clear floats without extra space */
.clearfix, .cls {
    clear: both;
    height: 0 !important;
    margin: 0;
    font-size: 1px;
    overflow: hidden;
}
.clear { clear: both; }

.contentPad {
    height: 20px !important;
    clear: both;
}

.hide, .skip, .printonly { display: none; }

.inline { display: inline; }

/* Headers and Paragraphs:
---------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, .subTitle {
    font-weight: normal;
}

h1 { font-size: 218%; }
h2 { font-size: 164%; }
h3 { font-size: 145%; }
h4 { font-size: 118%; }
h5 { font-size: 100%; font-weight: bold; }
h6 { font-size: 86%; font-weight: bold; }

p.caption, p.comment { font-size: 86%; color: #888; }

.warning{
    color: #821517;
    font-weight: bold;
}

.success{
    color: #3995D8;
    font-weight: bold;
}


button {
	color: #821517;
	font-weight: bold;
	width: 112px;
	margin-right: 5px;
	cursor: pointer;
}

a, a:active, a:visited, a:link {
	color: #1a32c7;
	text-decoration: underline;
}

a:hover {
	color: #0f1e76;
}

input, .inputBox {
	padding: 1px;
}

hr {
	color: #777;
	background-color: #777;
	height: 1px;
	border: 0;
}

.split {
	background: #3995D8 url(images/misc/line.gif) repeat-x;
	height: 1px;
	font-size: 0;
	clear: both;
	padding: 0;
}

#previewIframe {
    width:100%;
    height:400px;
}

.stay {
	border-bottom: 1px solid #3995D8;
	margin-left: 0;
}

.messageRead {
	color: #000;
}

.messageUnread {
	color: #3995D8;
	font-weight: bold;
}

.subTitle {
	width: 100%;
	height: 44px !important;
	padding: 0;
	margin: 0 10px 10px 0;
	 background: #f4f4f4 url(images/misc/subtitle.gif) repeat-x top;

}

.right {
	font-weight: bold;
	color: #000;
	float: left;
	padding: 0 20px 20px;
}
/* Topbar:
---------------------------------------------------------------- */
#topbar {
    margin: 0;
    color: #000;
    padding: 0 5px;
}
#topbar * {
    vertical-align: middle;
}
#topbar a,
#topbar a:link,
#topbar a:visited {
    font-weight: bold;
    color: #E8E8E8;
    text-decoration: none;
}
#topbar a:hover {
    color: #fff;
    text-decoration: underline;
}

#tocText {
	position: absolute;
	left: 3px;
	top: 50px;
	z-index: 1000;
}

#tocText,
#buildText,
#workText {
    font-weight: bold;
    line-height: 16px;
    margin-right: 15px;
}
#tocText,
#buildText img,
#workText img {
    margin-right: 5px;
}

#statusbar {
	position:absolute;
	right:0px;
	top:23px;
}

#supplementalNav {
    float: right;
    background: transparent;
    height:20px;
}

/* Forms:
---------------------------------------------------------------- */
form label {
    cursor: pointer;
}
fieldset {
    border: none;
}
input, select, textarea, td {
    font: inherit;
    color: inherit;
}
#ta, .tmplvars textarea {
    font-size: 130%;
    font-family: monospace;
}
form input,
form textarea {
    border: 1px solid #ddd;
    border-left-color: #c3c3c3;
    border-top-color: #7c7c7c;
    padding: 2px 0 2px 2px;
    background: #fff url(images/misc/input-bg.gif) repeat-x top left;
}
input.radio, input.checkbox {
    height: auto !important;
    width: auto !important;
    background: none !important;
    vertical-align: middle;
    border: 0;
}
select {
    border: 1px solid #c3c3c3 !important;
    border: 0;
    background: #fcfcfc;
}
.form {
    padding: 15px;
    border: solid 1px #ddd;
}
form input.hidden {
    display: none !important;
    position: absolute;
}
.form label,
.form input,
.form textarea {
    display: block;
    float: left;
    vertical-align: middle;
}
.form label {
    padding-right: 20px;
    text-align: right;
    width: 110px;
}
form textarea {
    height: 100px;
    width: 300px;
    margin-top: 0;
}
.form legend {
    color: #04C;
    font-weight: bold;
    padding: 5px;
}

.form select {
    display: inline;
    float: left;
}
.form br {
    clear: both;
}
input.submit {
    display: block !important;
    float: none !important;
    margin: 20px 0 0 140px !important;
}
input.button, input.submit {
    margin: 0;
    border: 0;
    width: auto;
    height: auto;
    background: transparent;
    vertical-align: middle;

}
.form fieldset.list {
    border: 0;
    padding: 0 !important;
    margin: 6px 0 3px 6px;
}
/* in case someone adds a legend */
.form fieldset.list legend {
    display: none;
}
.form fieldset.list label,
.form fieldset.list input {
    padding: 0;
    margin: 0 0 3px;
    float: left;
    display: inline;
    border: 0;
    background: none;
    width: auto;
    height: auto;
}
.form fieldset.list label {
    padding-left: 5px;
    text-align: left;
    width: auto;
}

/* Misc stuff:
---------------------------------------------------------------- */
.fakefieldset {
	border: 0;
	background: #fff;
	font-size: 12px;
	padding: 10px;
}

.fakefieldset strong, .fakefieldsettitle {
	color: #903;
	font-weight: bold;
}

.sectionHeader, .showHideVisible {
	margin: 0 10px 4px;
	padding: 5px 3px 5px;
	font-weight: bold;
	color: #000;
	border-top: 1px solid #3995D8;
}
.sectionHeader {
    padding: 5px 3px 5px 18px;
    background: #3995D8 url(images/misc/greenfade.gif) repeat-x top;
}

.sectionBody, .layerVisible {
	position: relative;
	top: -5px;
	display: none;
	background: #fff;
	border: 1px solid #0000CC;
	margin: 0 10px 20px;
	padding: 10px;
	display: block;
	background: #fff url(images/misc/section.gif) repeat top;
}

.showHideVisible, .layerVisible {
	margin: 0 10px 4px 10px;
}

.comment {
	font-size: 10px;
	color: #000;
}

thead, .fancyrow {
   color: #000;
	height: 18px !important;
	background-color: #E4E4E4;

}

thead td {
	color:#000;
	border-top:1px solid #fff;
}

.fancyrow2 {
	height: 18px !important;
	background-color: #F0A62F;
	background-position: top;
	background-repeat: repeat-x;
	border-bottom: 1px solid #fff;
	color: #fff;
}

li {
	padding: 0;
	margin: 0 0 0 15px;
	list-style: disc outside url(images/misc/li.gif);
}

ul {
	margin: 0 0 0 20px;
}

.screen {
	border: 1px solid #ddd;
	text-align: center;
}

a img {
	border: 0;
}

.even {
	background: #D9E7C2;
}

.odd {
	background: #fff;
}

/*	end sortable table */

.disabledImage {
    width: 20px;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.disabledImage img {
    border: 0;
}

.editorCell {
	border-top: 1px solid #808080;
	text-align: left;
	vertical-align: baseline;
}

.row1, .row2, .row3 { background-color: #fff; color: #000;}
.row2 { background-color: #C8DAA2;}
.row3 { background-color: #F4F4F4;}

.treeframebody {
background-color: #f4f4f4;

}
#treeMenu {
    background: url(images/misc/treebuttonbg.gif);
    border-bottom: 1px solid #ddd;
}
#treeMenu * {
    vertical-align: middle;
}
#treeHolder {
	cursor: default;
	height: 100%;
    padding: 5px 10px 0 10px;
    border-top: 2px solid #fff;
    /*background: #f4f4f4;*/
		background: #fff url(images/misc/section.gif) repeat top;
}

#floater {
    display: none;
    position: absolute;
    width: 200px;
    height: 50px;
    top: 25px;
    left: 4px;
    background: #fff;
    border-bottom: 1px solid #666;
    z-index: 500;
}

.rootNode, .treeNode, .treeNodeHover, .treeNodeSelected, .emptyNode {
    color: #000;
    padding: 2px;
    cursor: pointer;
    width: auto;
}

.treeNodeHover {
    background-color: #DCDCDC;
    border: 1px solid #777;
    padding: 1px;
}

.treeNodeSelected {
    background-color: #D4E0B1;
    color: #000;
    border: 1px solid #777;
    padding: 1px;
}


.unpublishedNode {
    color: #aaa;
    font-style: italic;
}

.deletedNode {
    color: #A52A2A;
    text-decoration: line-through;
}

.publishedNode {
    color: #000;
}

.emptyNode {
    color: #aaa;
    cursor: default;
}

.notInMenuNode {
    color: #777;
    text-decoration: none;
}

#treeSplitter {
	width:10px;
	height:100%;
	position:absolute;
	right:0px;
}


/* grid style */
.grid {
    width: 100%;
    background-color: #fff;
    border: 1px solid silver;}

.gridHeader {
    color: #fff;
    font-weight: bold;
    background-color: #3995D8;
    height: 25px;
    border: 1px solid #006400; }

.gridItem {
    background-color: #fff;
    padding: 3px; }

.gridAltItem {
    background-color: #eeeeee;
    padding: 3px; }

.gridRowIcon:hover {
    background-color:beige;}



/* search bar */
.searchbar {
    width: 100%;
    border: 1px solid silver;
    background-color: #DBDBDB; }

.searchtext {
    height: 18px;
    padding: 2px;
    border: 1px solid silver; }

.searchbutton {
    width: 22px;
    height: 18px;
    padding: 2px;
    text-decoration: none;
    background: #DEE9C6;
    border: 1px solid #000; }

.searchbutton:hover {
    text-decoration: none;
    background: #677E32;
}

.searchtoolbarbtn {
    height: 24px;
    padding: 3px 2px 0;
    text-decoration: none;
    border: 1px solid #e0e0e0; }

.searchtoolbarbtn:hover {
	text-decoration: none;
	border: 1px solid green; }

/* home page main links */
a.hometblink, a.hometblink:active, a.hometblink:visited, a.hometblink:link, .hometblink {
    text-decoration: underline;
    color: #000;
    font-weight: bold;
}

a.hometblink:hover {
    text-decoration: underline;
    color: Gray;}




.notice {
    width: 100%;
    padding: 5px;
    border: 1px solid #eee;
    background-color: #F4F4F4;
    color: #707070;}

#preLoader {
    position: absolute;
    z-index: 50000;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
.preLoaderText {
    background-color: #fff;
    width: 300px;
    height: 150px;
    padding: 50px;
    border: 1px solid #039;
}

/*contextmenu in editing modules*/
.contextMenu {
    background: #fff;
    margin: 0;
    padding: 0;
    border: 1px solid #039;
    border-color: #eaeaea #909090 #707070 #eaeaea;
    position: absolute;
    z-index: 10000; }

.cntxMnuItem {
    background-image: url(images/_tx_.gif);
    cursor: pointer;
    color: #000;
    padding: 3px 16px 3px 2px; }

.cntxMnuItemOver {
    cursor: pointer;
    color: #000;
    background: #3995D8;
    padding: 2px 15px 2px 1px;
    border: 1px solid #fa0; /*#039;*/
}

.cntxMnuItemDisabled {
    cursor: default;
    padding: 3px 16px 3px 2px;
    color: #111;
}
.cntxMnuItem img, .cntxMnuItemOver img, .cntxMnuItemDisabled img {
    margin-right: 8px;
}

.cntxMnuItem img, .cntxMnuItemDisabled img {
    opacity: .3;
    filter: alpha(opacity=30);
}

.cntxMnuSeparator {
    font-size: 0;
    height: 1px;
    background-color: silver;
    overflow: hidden;
    margin: 3px 1px 3px 28px; }
/*end context*/



/* Top Navbar of snap in top menu bar layout*/
#topMenu {
    background: #3995D8 url(images/misc/subtitle.gif);
}
#Navcontainer {
    padding-left: 10px;
    color: #fff;
}

ul#nav {
    margin: 0;
    padding: 0;
    height: 25px;
    width: 100%;
    position: absolute;
    top: 18px;
    overflow: visible !important
}

#nav ul {
    display: none;
    height: 25px;
    position: relative;
    z-index: 500;
    margin: 0 0 0 -10px;
    padding: 0 0 0 10px;
}

#nav li {
    list-style-type: none;
    background: transparent url(images/misc/aquatab.gif) 100% 100%;
	display: block;
    float: left;
    width: auto;
    margin: 0 3px 0 0;
    padding: 0;
    }

#nav li a {
    color: Black;
    height: 25px;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
    cursor: hand;
    line-height: 25px;
    overflow: hidden;
    padding: 0 15px;
    border-left: 1px solid #0057C1;
    float:left;
    display:block;
}

#nav li ul li a {
    background: #d4d4d4;
    float: left;
    width: auto;
}

#nav a:hover {
    color: White; /* 9ebc5a */
}

#nav a:active {
   color: #000066;
}

#nav li.active  {
	background: transparent url(images/misc/aquatab.gif) 100% 0;
	border-left: 1px solid #0057C1;
}

#nav li.active a {
    color: #000066;
    position: relative;
    z-index: 999999;
    border-left: 1px solid #8cc709;
    border-bottom: 1px solid #8fc70c;
}

#nav li.active a:hover {
    cursor: hand;
}

#nav li.active ul.subnav {
    display: block;
    position: absolute;
    top: 25px;
    width: 200%;
    left: 0;
    background: #E5E5E5 url(images/misc/subnav.gif) repeat-x;
    border-top: 1px solid #0057C1;
    border-bottom: 1px solid #0057C1;
	
}

#nav li.active ul.subnav a {
    color: #000000;
    font-weight: bold;
    border: none;
  background: #E5E5E5 url(images/misc/subnav.gif) repeat-x;
    cursor: hand;

}

#nav li.active ul.subnav li {
    margin: 0;
}

#nav li.active ul.subnav a:hover {
    color: White; /* 9ebc5a */
    background-color: #a5d535;
}

#nav li.active ul.subnav a:active {
    color: #000;
}


/* Contextual Menu used in the Tree Menu
---------------------------------------------------------- */
#mx_contextmenu {
    position: absolute;
    height: auto;
    visibility: hidden;
    z-index:10000;
    width: 170px;
    background: #fff;
    margin: 0;
    padding: 2px;
    border: 1px solid #ededed;
    border-right-color: #dcdcdc;
    border-bottom-color: #dcdcdc;
    overflow: hidden;
    line-height: 11px; }

#mx_contextmenu .menuLink {
    cursor: pointer;
    color: #222;
    padding: 3px 16px 3px 2px; }

#mx_contextmenu .menuLinkOver {
    background: #B6DAF0;
    border: 1px solid #fdfdfd;
    border-right-color: #dcdcdc;
    border-bottom-color: #dcdcdc;
    color: #fff; }

#mx_contextmenu .menuLinkOver,
#mx_contextmenu .menuLinkDisabled {
    cursor: pointer;
    padding: 2px 15px 2px 1px;}

#mx_contextmenu .menuLinkDisabled {
    cursor: default;
    color: #787878; }

#mx_contextmenu .menuLink img,
#mx_contextmenu .menuLinkOver img,
#mx_contextmenu .menuLinkDisabled img {
	margin-right: 8px; }

#mx_contextmenu .menuLink img,
#mx_contextmenu .menuLinkDisabled img {
    opacity: .3;
    filter: alpha(opacity=30);
}

#mx_contextmenu .menuLinkOver img { }

#mx_contextmenu #nameHolder {
    color: #000;
    text-align: right;
    cursor: default;
    font-weight: bold;
    padding: 2px;
    margin-bottom: 2px;
    border: 1px solid #fdfdfd;
    border-right-color: #dcdcdc;
    border-bottom-color: #dcdcdc;
    background: #3995D8;
}

#mx_contextmenu .seperator {
    font-size: 0;
    height: 1px;
    background-color: silver;
    overflow: hidden;
    margin: 3px 1px 3px 28px;
}

/* Settings Table
---------------------------------------------------------- */
.settings {
    width: 600px;
}
.settings tr {
    width: 100% !important;
}
.settings td, .settings th {
    background: transparent;
}
.settings td {
}
.settings th {
    width: 200px !important;
    text-align: left;
    color: #555;
    font-size: 120%;
}
.settings textarea, .settings input {
}


/* Tabs
---------------------------------------------------------- */
.dynamic-tab-pane-control.tab-pane {
    position: relative;
    width: 100%;
}

.dynamic-tab-pane-control .tab-row .tab {
    color: #313131;
    font-weight: bold;
    font-size: 11px;
    cursor: pointer;
    display: inline;
    margin: 3px -3px 1px 5px;
    float: left;
    padding: 2px 15px 3px;
    z-index: 1;
    position: relative;
    top: 0;
	height: 20px;
    /*background: #f5f5f5;  
	border: 1px solid #e0e0e0;*/
	background: transparent url(images/misc/aquatab.gif) 100% 100%;
	border-left: 1px solid #0057C1;
	border-bottom: 1px solid #0057C1;
  
}

.dynamic-tab-pane-control .tab-row .tab.hover {
   color: #FFF;
   /*background: #fff;*/
   text-decoration: none; }

.dynamic-tab-pane-control .tab-row .tab.selected {
    color: #000;
    z-index: 3;
    top: 0;
	background: transparent url(images/misc/aquatab.gif) 100% 0;
	border-left: 1px solid #0057C1;
	border-bottom: 1px solid #FFFFFF;
}

.dynamic-tab-pane-control .tab-row .tab span {
    font-weight: bold;
    font-size: 11px;
    color: #4B4B4B;
    font-weight: normal;
    text-decoration: none;
}

.dynamic-tab-pane-control .tab-page {
    clear: both;
    background: transparent;
    z-index: 2;
    position: relative;
    top: -2px;
    padding: 0px;
	margin: 0;
}

.dynamic-tab-pane-control .tab-row {
    z-index: 1;
    white-space: nowrap;
	margin-left: 10px;
}
.dynamic-tab-pane-control li {
    margin-left: 10px;
}

/* Tree buttons
---------------------------------------------------------- */
.treeButton {
    display:block;
    cursor: default;
    color: #000;
    border: 1px;
    border-bottom-color: #809c47;
    padding: 3px 5px;
    white-space: nowrap;
    vertical-align: middle;
}
.treeButton:hover {
    border: 1px solid #006400;
    padding: 2px 4px;
    background: #C5DFF3;
}

.treeButtonDisabled {
    cursor: default;
    border: 1px solid #006400;
    padding: 2px 4px;
    color: #777;
    border-width: 0;
    opacity: .5;
    filter: alpha(opacity=50);
}


/* WebFX cool buttons... must also remove these...
---------------------------------------------------------- */
.coolButton,
.coolButtonHover,
.coolButtonActiveHover,
.coolButtonActive,
.coolButtonActiveDisabled,
.coolButtonDisabled,
.coolButtonUpDisabled {
    cursor: default;
    color: #000;
    border: 1px;
    border-bottom-color: #809c47;
    padding: 3px 5px;
    white-space: nowrap;
    vertical-align: middle;
}
.coolButtonHover {
    border: 1px solid #006400;
    padding: 2px 4px;
    background: #C5DFF3;
}

.coolButtonActive,
.coolButtonActiveHover {
    border: 1px solid #000;
    border-color: #444 #ccc #ccc #444; /* ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow */
    padding: 2px 3px 2px 5px;
}

.coolButtonUpDisabled,
.coolButtonActiveDisabled,
.coolButtonDisabled {
    border: 1px solid #006400;
    padding: 2px 4px;
    color: #777;
    border-width: 0;
}

.coolButtonActiveDisabled {
    border: 1px solid #006400;
    padding: 0 4px 3px 4px;
}

.coolButtonUpDisabled img,
.coolButtonActiveDisabled img,
.coolButtonDisabled img {
    opacity: .3;
    filter: alpha(opacity=30);
}

/* Welcome Page
---------------------------------------------------------- */
a.hometblink, a.hometblink img { 
    border: 0 !important;
    text-decoration: none !important;
    }
.wm_button {
    float: left;
    margin: 0 6px 2px 5px;
    text-align: center;
    }

/* Welcome Page
---------------------------------------------------------- */
#mainActionPages {
    background: #f4f4f4 url(images/misc/mainbg.gif) repeat-x top;
}
.tab-page { border: none;
background: #3995D8;
}
.sectionBody .tab-page { border-width: 1px 0 0;}

/* New Action Buttons
---------------------------------------------------------- */
.actionButtons a {
	color: #000;
	border: 1px;
	border-bottom-color: #809c47;
	padding: 3px 5px;
	white-space: nowrap;
	vertical-align: middle;
	display: block;
	text-decoration: none;
}

.actionButtons a:hover {
    border: 1px solid #006400;
    padding: 2px 4px;
    background: #C5DFF3;
}

.actionButtons a:active {
    border: 1px solid #000;
    border-color: #444 #ccc #ccc #444; /* ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow */
    padding: 2px 3px 2px 5px;
}

.actionButtons a.disabled {
    border: 1px solid #006400;
    padding: 2px 4px;
    color: #777;
    border-width: 0;
}

.actionButtons a.disabled img {
    opacity: .3;
    filter: alpha(opacity=30);
}

/* New sortable table class
---------------------------------------------------------- */

.sortabletable {
	font: Icon;
	border: 0 solid ThreeDShadow;
	color: WindowText;
}

.sortabletable thead tr {
	height: 18px !important;
	background-color: #3995D8;
}

.sortabletable tr {
	background: #fff;
}

.sortabletable tr.even {
	background: #B8D9F1;
}

.sortabletable td, .sortabletable th {
	padding: 2px 5px;
}

.sortabletable th {
	text-align: left;
	cursor: pointer;
	color: #000;
}

.sortabletable th a {
	text-decoration: none;
	color: #000;
}

.sortabletable th:active {
	background: #ccc;
	padding: 3px 4px 1px 6px;
}

/* welcome icons */

#enlarge {padding:0; margin:2em auto; list-style-type:none; width:410px; height:40px;
background: #B8D9F1;}
#enlarge li {display:block; float:left; width:40px; height:40px; position:relative;}
#enlarge li a {display:block; width:40px; height:40px; background:transparent; overflow:hidden; position:relative;}
#enlarge li a img {width:100%; height:100%; border:0;}


.desktop {
    margin: 0;
	background: #2A3675 url(images/misc/desktop.jpg) repeat-x;
	height: 400px;
	color: #FFFFFF;
}
.desktop span{
	color: #FFFFFF;
}
.desktop td  {
	background: transparent;
}
#enlarge li a:hover {position:absolute; left:-20px; top:-20px; width:80px; height:80px; z-index:100;}

	/* accesscontrol.inc.php - manager login page 
-----------------------------------------------------*/
body#login {
    background: #3995D8;
    background-image: none;
}	

#mx_loginbox,
.loginLicense {
    width: 460px;
    margin: 90px auto 0;
    border: 1px solid #191970;
    padding: 20px;
	background: #fff url(images/misc/linee.gif) repeat top;
}

#mx_logobox {
    
}

#mx_loginArea {
    margin-left: 85px;
    width: 325px;
}

h1.siteName {
	font-weight: bold;
	font-size: 18px;
	margin: 0 0 0;
	color: #000;
	
}
.loginMessage {
    font-size: 9px;
    line-height: 1.4;
    margin-bottom: 1em;
}

img.loginCaptcha {
    border: 1px solid #039;
    width: 148px;
    height: 60px; 
}

#mx_loginbox label {
    display: block;
    font-weight: bold;
}
#mx_loginbox input {
    margin: 0 0 10px 0;
}
#mx_loginbox input.checkbox {
    float: left;
    clear: left;
    margin-right: 3px;
}
#mx_loginbox input.text {
    width: 300px;
}
#mx_loginbox input.login {
    float: right;
    clear: right;
    margin-right: 25px;
}
.loginLicense {
	background-color: #60605F;
	padding: 10px 20px;
	color: #fff;
	border: 1px solid #60605F;
	margin: 20px auto;
	font-size: 9px;
	
}
.loginLicense a {
	color: #94B451;
	font-size: 9px;
}

.notice {
	width: 100%;
	padding: 5px;
	border: 1px solid #eee;
	background-color: #F4F4F4;
	color: #707070;}
