<!-- welcome -->
<div class="sectionBody" style="display:none !important;">
    <table border="0" cellpadding="5">
      <tr>
        <td colspan="2">
            <h1 style="margin:0">[+site_name+]</h1>
            [+welcome_title+]
        </td>
      </tr>
      <tr>
        <td width="100" align="right">
            <img src='media/style/[+theme+]/images/misc/logo.png' alt='[+logo_slogan+]' />
            <br /><br />
        </td>
        <td valign="top">
            <span class="wm_button" style="border:0">[+SecurityIcon+]</span>
            <span class="wm_button" style="border:0">[+WebUserIcon+]</span>
            <span class="wm_button" style="border:0">[+ModulesIcon+]</span>
            <span class="wm_button" style="border:0">[+ResourcesIcon+]</span>
            <span class="wm_button" style="border:0">[+BackupIcon+]</span>
            <br style="clear:both" /><br />
            [+MessageInfo+]
        </td>
      </tr>
    </table>
</div><div class="subTitle" style="margin-bottom:0px">
  <span class="right"><img src="media/style/[+theme+]/images/_tx_.gif" width="1" height="5" />
  &nbsp;&nbsp;</span>
</div>
<div style="margin: 0px 12px;">
	<script type="text/javascript" src="media/script/tabpane.js"></script>
	<div class="tab-pane" id="welcomePane" style="border:0">
    <script type="text/javascript">
        tpPane = new WebFXTabPane(document.getElementById( "welcomePane" ),false);
    </script>

		

		<!-- home tab -->
		<div class="tab-page" id="tabhome" style="padding-left:0px; padding-right:0px;">
			<h2 class="tab">[+site_name+]</h2>
			<script type="text/javascript">tpPane.addTabPage( document.getElementById( "tabhome" ) );</script>
			<div class="sectionHeader">[+welcome_title+]</div>
			<div class="sectionBody">
                <table class="desktop" width="100%" border="0" cellpadding="5">
                  <tr>
                    <td>
                        <h1 style="margin:0">[+site_name+]</h1>
                        [+welcome_title+]                    </td>
                  </tr>
                  <tr>
                    <td align="right" valign="top">                 
                
						
                        <div align="right">
                          <p><br />
                         <a href="http://modxcms.com/forums/index.php" target="_blank"> <img src='media/style/[+theme+]/images/icons/forum.gif' alt='Forum' border="0" /></a><br />
                          </a>Forum      <br />
				          <p><a href="http://modxcms.com/repository.html" target="_blank"><img src='media/style/[+theme+]/images/icons/addons.gif' alt='Repository' border="0" /><br />
                          </a>Repositoty</p>
				          <p>&nbsp;</p>
				          <p><br style="clear:both" />
				            <br />
			              </p>
                    </div></td>
                  </tr>
                  <tr>
                    <td align="left"><ul id="enlarge">
<li><span class="wm_button" style="border:0">[+SecurityIcon+]</span></li>
<li><span class="wm_button" style="border:0">[+WebUserIcon+]</span></li>
<li><span class="wm_button" style="border:0">[+ModulesIcon+]</span></li>
<li><span class="wm_button" style="border:0">[+ResourcesIcon+]</span></li>
<li><span class="wm_button" style="border:0">[+BackupIcon+]</span></li>
<li><a href="index.php?a=71" target="_self"><img src='media/style/[+theme+]/images/icons/searchbig.gif' alt='Search' border="0" /></a><a href="#one"></a></li>
<li><a href="index.php?a=17" target="_self"><img src='media/style/[+theme+]/images/icons/configuration.gif' alt='Search' border="0" /></a><a href="#one"></a></li>
<li><a href="index.php?a=10" target="_self"><img src='media/style/[+theme+]/images/icons/mail_generic.gif' alt='Search' border="0" /></a><a href="#one"></a></li>
</ul></td>
                  </tr>
              </table>
			</div>
		</div>
<!-- system check -->
		<div class="tab-page" id="tabcheck" style="display:[+config_display+]; padding-left:0px; padding-right:0px;">
			<h2 class="tab" style="display:[+config_display+]">[+settings_config+]</h2>
			<script type="text/javascript"> if('[+config_display+]'=='block') tpPane.addTabPage( document.getElementById( "tabcheck" ) );</script>
			<div class="sectionHeader">[+configcheck_title+]</div><div class="sectionBody">
				<img src="media/style/[+theme+]/images/icons/event2.gif" />
				[+config_check_results+]
			</div>
		</div>
		<!-- recent activities -->
		<div class="tab-page" id="tabAct" style="padding-left:0px; padding-right:0px">
			<h2 class="tab">[+recent_docs+]</h2>
			<script type="text/javascript">tpPane.addTabPage( document.getElementById( "tabAct" ) );</script>
			<div class="sectionHeader">[+activity_title+]</div><div class="sectionBody">
				[+RecentInfo+]
			</div>
		</div>

		<!-- user info -->
		<div class="tab-page" id="tabYour" style="padding-left:0px; padding-right:0px">
			<h2 class="tab">[+info+]</h2>
			<script type="text/javascript">tpPane.addTabPage( document.getElementById( "tabYour" ) );</script>
			<div class="sectionHeader">[+yourinfo_title+]</div><div class="sectionBody">
				[+UserInfo+]
			</div>
		</div>

		<!-- online info -->
		<div class="tab-page" id="tabOnline" style="padding-left:0px; padding-right:0px">
			<h2 class="tab">[+online+]</h2>
			<script type="text/javascript">tpPane.addTabPage( document.getElementById( "tabOnline" ) );</script>
			<div class="sectionHeader">[+onlineusers_title+]</div><div class="sectionBody">
				[+OnlineInfo+]
			</div>
		</div>

	</div>
</div>