/*
Theme Name: wpClassifieds
Theme URI: http://theme.anunciamex.com/
Description:  Wordpress Classified Ads Theme. Developed by <a href="http://mx.anunciamex.com/">Anunciamex anuncios clasificados</a>.
Version: 1.2.1
Author: Anunciamex
Author URI: http://mx.anunciamex.com/

    Theme released under GPL.
    http://www.opensource.org/licenses/gpl-license.php

*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol,ul {
    list-style: none;
}
blockquote,q {
    quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none;
}
:focus {
    outline: 0;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.container_12,.container_16 {
    margin: 0 auto;
    width: 960px;
}
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}
.container_12 .grid_3,.container_16 .grid_4 {
    width: 220px;
}
.container_12 .grid_6,.container_16 .grid_8 {
    width: 460px;
}
.container_12 .grid_9,.container_16 .grid_12 {
    width: 700px;
}
.container_12 .grid_12,.container_16 .grid_16 {
    width: 940px;
}
.alpha {
    margin-left: 0;
}
.omega {
    margin-right: 0;
}
.container_12 .grid_1 {
    width: 60px;
}
.container_12 .grid_2 {
    width: 140px;
}
.container_12 .grid_4 {
    width: 300px;
}
.container_12 .grid_5 {
    width: 380px;
}
.container_12 .grid_7 {
    width: 540px;
}
.container_12 .grid_8 {
    width: 620px;
}
.container_12 .grid_10 {
    width: 780px;
}
.container_12 .grid_11 {
    width: 860px;
}
.container_16 .grid_1 {
    width: 40px;
}
.container_16 .grid_2 {
    width: 100px;
}
.container_16 .grid_3 {
    width: 160px;
}
.container_16 .grid_5 {
    width: 280px;
}
.container_16 .grid_6 {
    width: 340px;
}
.container_16 .grid_7 {
    width: 400px;
}
.container_16 .grid_9 {
    width: 520px;
}
.container_16 .grid_10 {
    width: 580px;
}
.container_16 .grid_11 {
    width: 640px;
}
.container_16 .grid_13 {
    width: 760px;
}
.container_16 .grid_14 {
    width: 820px;
}
.container_16 .grid_15 {
    width: 880px;
}
.container_12 .prefix_3,.container_16 .prefix_4 {
    padding-left: 240px;
}
.container_12 .prefix_6,.container_16 .prefix_8 {
    padding-left: 480px;
}
.container_12 .prefix_9,.container_16 .prefix_12 {
    padding-left: 720px;
}
.container_12 .prefix_1 {
    padding-left: 80px;
}
.container_12 .prefix_2 {
    padding-left: 160px;
}
.container_12 .prefix_4 {
    padding-left: 320px;
}
.container_12 .prefix_5 {
    padding-left: 400px;
}
.container_12 .prefix_7 {
    padding-left: 560px;
}
.container_12 .prefix_8 {
    padding-left: 640px;
}
.container_12 .prefix_10 {
    padding-left: 800px;
}
.container_12 .prefix_11 {
    padding-left: 880px;
}
.container_16 .prefix_1 {
    padding-left: 60px;
}
.container_16 .prefix_2 {
    padding-left: 120px;
}
.container_16 .prefix_3 {
    padding-left: 180px;
}
.container_16 .prefix_5 {
    padding-left: 300px;
}
.container_16 .prefix_6 {
    padding-left: 360px;
}
.container_16 .prefix_7 {
    padding-left: 420px;
}
.container_16 .prefix_9 {
    padding-left: 540px;
}
.container_16 .prefix_10 {
    padding-left: 600px;
}
.container_16 .prefix_11 {
    padding-left: 660px;
}
.container_16 .prefix_13 {
    padding-left: 780px;
}
.container_16 .prefix_14 {
    padding-left: 840px;
}
.container_16 .prefix_15 {
    padding-left: 900px;
}
.container_12 .suffix_3,.container_16 .suffix_4 {
    padding-right: 240px;
}
.container_12 .suffix_6,.container_16 .suffix_8 {
    padding-right: 480px;
}
.container_12 .suffix_9,.container_16 .suffix_12 {
    padding-right: 720px;
}
.container_12 .suffix_1 {
    padding-right: 80px;
}
.container_12 .suffix_2 {
    padding-right: 160px;
}
.container_12 .suffix_4 {
    padding-right: 320px;
}
.container_12 .suffix_5 {
    padding-right: 400px;
}
.container_12 .suffix_7 {
    padding-right: 560px;
}
.container_12 .suffix_8 {
    padding-right: 640px;
}
.container_12 .suffix_10 {
    padding-right: 800px;
}
.container_12 .suffix_11 {
    padding-right: 880px;
}
.container_16 .suffix_1 {
    padding-right: 60px;
}
.container_16 .suffix_2 {
    padding-right: 120px;
}
.container_16 .suffix_3 {
    padding-right: 180px;
}
.container_16 .suffix_5 {
    padding-right: 300px;
}
.container_16 .suffix_6 {
    padding-right: 360px;
}
.container_16 .suffix_7 {
    padding-right: 420px;
}
.container_16 .suffix_9 {
    padding-right: 540px;
}
.container_16 .suffix_10 {
    padding-right: 600px;
}
.container_16 .suffix_11 {
    padding-right: 660px;
}
.container_16 .suffix_13 {
    padding-right: 780px;
}
.container_16 .suffix_14 {
    padding-right: 840px;
}
.container_16 .suffix_15 {
    padding-right: 900px;
}
.container_12 .push_3,.container_16 .push_4 {
    left: 240px;
}
.container_12 .push_6,.container_16 .push_8 {
    left: 480px;
}
.container_12 .push_9,.container_16 .push_12 {
    left: 720px;
}
.container_12 .push_1 {
    left: 80px;
}
.container_12 .push_2 {
    left: 160px;
}
.container_12 .push_4 {
    left: 320px;
}
.container_12 .push_5 {
    left: 400px;
}
.container_12 .push_7 {
    left: 560px;
}
.container_12 .push_8 {
    left: 640px;
}
.container_12 .push_10 {
    left: 800px;
}
.container_12 .push_11 {
    left: 880px;
}
.container_16 .push_1 {
    left: 60px;
}
.container_16 .push_2 {
    left: 120px;
}
.container_16 .push_3 {
    left: 180px;
}
.container_16 .push_5 {
    left: 300px;
}
.container_16 .push_6 {
    left: 360px;
}
.container_16 .push_7 {
    left: 420px;
}
.container_16 .push_9 {
    left: 540px;
}
.container_16 .push_10 {
    left: 600px;
}
.container_16 .push_11 {
    left: 660px;
}
.container_16 .push_13 {
    left: 780px;
}
.container_16 .push_14 {
    left: 840px;
}
.container_16 .push_15 {
    left: 900px;
}
.container_12 .pull_3,.container_16 .pull_4 {
    left: -240px;
}
.container_12 .pull_6,.container_16 .pull_8 {
    left: -480px;
}
.container_12 .pull_9,.container_16 .pull_12 {
    left: -720px;
}
.container_12 .pull_1 {
    left: -80px;
}
.container_12 .pull_2 {
    left: -160px;
}
.container_12 .pull_4 {
    left: -320px;
}
.container_12 .pull_5 {
    left: -400px;
}
.container_12 .pull_7 {
    left: -560px;
}
.container_12 .pull_8 {
    left: -640px;
}
.container_12 .pull_10 {
    left: -800px;
}
.container_12 .pull_11 {
    left: -880px;
}
.container_16 .pull_1 {
    left: -60px;
}
.container_16 .pull_2 {
    left: -120px;
}
.container_16 .pull_3 {
    left: -180px;
}
.container_16 .pull_5 {
    left: -300px;
}
.container_16 .pull_6 {
    left: -360px;
}
.container_16 .pull_7 {
    left: -420px;
}
.container_16 .pull_9 {
    left: -540px;
}
.container_16 .pull_10 {
    left: -600px;
}
.container_16 .pull_11 {
    left: -660px;
}
.container_16 .pull_13 {
    left: -780px;
}
.container_16 .pull_14 {
    left: -840px;
}
.container_16 .pull_15 {
    left: -900px;
}
.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
body {
    background: #fff url(body.png) repeat-x 0 0;
    color: #333;
    font-family: Calibri,Arial, Tahoma, Verdana;
    font-size: 14px;
}
a, a:visited {
    color: #3E85B7;
    text-decoration: none;
}
a:hover {
    color: #0c4a8a;
    text-decoration: underline;
}
a img {
    border: none;
}
a:focus, a:hover, a:active {
    outline: none;
}
#content_main h1 {
    border-bottom: 1px solid #DDDDDD;
    color: #444;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 5px 0px;
}
#content_main h1 a, #content_main h1 a:visited {
    color: #034492;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
}
#content_main h1 a:hover {
    text-decoration: underline;
}
#content_main h2 {
    border-bottom: 1px solid #DDDDDD;
    color: #444;
    font-size: 18px;
    font-weight: normal;
    margin: 0px 0px 5px 0px;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
}
#content_main h2 a, #content_main h2 a:visited {
    color: #034492;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}
#content_main h2 a:hover {
    text-decoration: underline;
}
#content_main h3 {
    border-bottom: 1px solid #DDDDDD;
    color: #444;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 10px 0px;
}
#content_main h4 {
    border-bottom: 1px solid #DDDDDD;
    color: #444;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 5px 0px;
}
#content_main h5 {
    color: #444;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 5px 0px;
}
#content_main h6 {
    border-bottom: 1px solid #DDDDDD;
    color: #444;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 5px 0px;
}
#header {
    position: relative;
    height: 145px;
    background: url(boule-masthead.png) no-repeat 0 0;
}
#logo h1, #logo h4 {
    position: absolute;
    top: 20px;
    left: 210px;
    
    width: 520px;
    height: 70px;
    text-indent: -1000px;
    
    
    font-family: bold 36px "Arial Rounded MT Bold", "Trebuchet MS", Arial, sans-serif;
    letter-spacing: -3px;

}
#logo p {
    position: absolute;
    right: 0;
    top: 20px;
    font-weight: bold;
}
#logo p a:hover {
    color: #fff;
}
#logo img {
    display: block;
    float: left;
}
#top_search {
    background-color: #F4F4F4;
    khtml-border-radius: 3px;
    margin-top: 10px;
    moz-border-radius: 3px;
    padding: 8px 10px;
    text-align: center;
    webkit-border-radius: 3px;
}
#top_search_input {
    background: #F9F9F9;
    border: 1px solid #DDDDDD;
    color: #444;
    display: inline;
    font-family: Arial, Tahoma, Verdana;
    font-size: 13px;
    padding: 5px;
    width: 248px;
}
#top_search_select {
    background: #F9F9F9;
    border: 1px solid #DDDDDD;
    color: #333;
    display: inline;
    font-family: Arial, Tahoma, Verdana;
    font-size: 11px;
    padding: 5px 2px;
    width: 180px;
}
#top_search_button {
    background: #F9F9F9;
    border: 1px solid #DDDDDD;
    color: #444;
    font-family: Arial, Tahoma, Verdana;
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
}
.firstH {
    color: #77AF4C;
}
.secondH {
    color: #235C95;
}
#top_dropdown {
    position: static;
}
#top_dropdown ul {
    font-size: 15px;
}
#top_dropdown ul li {
    display: inline;
    float: left;
    position: relative;
    z-index: 9999;
}
#top_dropdown ul li a {
    background: #b4cfe3;
    color: #222;
    display: block;
    font-weight: bold;
    khtml-border-radius-topleft: 5px;
    khtml-border-radius-topright: 5px;
    margin-right: 6px;
    moz-border-radius-topleft: 5px;
    moz-border-radius-topright: 5px;
    padding: 8px 20px;
    text-decoration: none;
    webkit-border-top-left-radius: 5px;
    webkit-border-top-right-radius: 5px;
}
* html #top_dropdown ul li a {
    display: inline-block;
}
#top_dropdown ul li a:link, #top_dropdown ul li a:visited {
    color: #222;
}
#top_dropdown ul li a:hover {
    background: #3E85B7;
    color: #fff;
}
#top_dropdown ul li ul {
    display: block;
    font-size: 12px;
    left: 0;
    position: absolute;
    visibility: hidden;
}
#top_dropdown ul li ul li {
    display: list-item;
    float: none;
}
#top_dropdown ul li ul li ul {
    top: 0;
}
#top_dropdown ul li ul li a {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    khtml-border-radius: 0px;
    margin: 0;
    moz-border-radius: 0px;
    padding: 8px 5px 8px 20px;
    webkit-border-radius: 0px;
    width: 160px;
}
#top_dropdown ul li ul li a:hover {
    background: #3E85B7;
    color: #fff;
}
#top_dropdown .default_page_item a, #top_dropdown .default_page_item a:link, #top_dropdown .default_page_item a:visited, #top_dropdown .default_page_item a:hover {
    background: #3E85B7;
    color: #FFF;
}
#top_dropdown .current_page_item a, #top_dropdown .current_page_item a:link, #top_dropdown .current_page_item a:visited, #top_dropdown .current_page_item a:hover {
    background: #3E85B7;
    color: #fff;
}
#top_cats {
    background: #3E85B7;
    overflow: hidden;
    position: static;
}
#top_cats ul {
    font-weight: bold;
    padding: 0 5px;
    text-transform: capitalize;
    width: 930px;
}
#top_cats li {
    display: inline;
}
#top_cats a {
    color: #FFF;
    float: left;
    margin: 5px;
    padding: 6px 8px;
    text-decoration: none;
}
#top_cats a:link, #top_cats a:visited, #top_cats a:active {
    color: #FFF;
}
#top_cats a:hover {
    background: #276fa2;
    color: #fff;
}
#top_cats ul li ul {
    background: #3E85B7;
    border-top: 1px solid #b4cfe3;
    font-size: 11px;
    left: 0;
    margin-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    top: 0;
    visibility: hidden;
    z-index: 9999;
}
#top_cats ul li ul li a {
    background: #3E85B7;
    margin: 0;
    margin: 5px 0 0 0;
    padding: 6px 8px;
    padding: 6px;
    padding-right: 8px;
}
#top_cats ul li ul li a:hover {
    background: #b4cfe3;
}
#content {
    line-height: 18px;
    padding: 10px 0 0 0;
}
#content_main {
    min-height: 700px;
    padding: 20px 0px 10px 0px;
}
.breadcrumb {
    background: #f4f4f4;
    font-size: 17px;
    height: 20px;
    khtml-border-radius: 3px;
    margin: 0px 0px 0px 0px;
    moz-border-radius: 3px;
    padding: 5px 10px 5px 10px;
    webkit-border-radius: 3px;
}
.pop_cats {
    background: #f4f4f4;
    font-size: 11px;
    khtml-border-radius: 3px;
    margin: 0px 0px 0px 0px;
    moz-border-radius: 3px;
    padding: 5px 10px 5px 10px;
    webkit-border-radius: 3px;
}
.pop_cats span {
    color: #76AF4C;
    font-size: 18px;
    font-weight: bold;
}
.single_area {
    margin: 0px;
    padding: 0px 0px 10px 0px;
}
.single_area p {
    margin: 0px;
    padding: 0px 0px 15px 0px;
}
.single_area ul {
    list-style-type: square;
    margin: 0px;
    padding: 0px 0px 15px 0px;
}
.single_area ul li {
    list-style-type: square;
    margin: 0px 0px 0px 20px;
    padding: 0px;
}
.single_area ul ul {
    list-style-type: square;
    margin: 0px;
    padding: 0px 0px 0px 0px;
}
.single_area ol {
    list-style-type: decimal;
    margin: 0px;
    padding: 0px 0px 15px 0px;
}
.single_area ol li {
    list-style-type: decimal;
    margin: 0px 0px 0px 20px;
    padding: 0px;
}
.single_area blockquote {
    background: #f4f4f4;
    khtml-border-radius: 3px;
    margin: 0px 25px 15px 25px;
    moz-border-radius: 3px;
    padding: 10px 20px 0px 15px;
    webkit-border-radius: 3px;
}
.single_area blockquote p {
    margin: 0px;
    padding: 0px 0px 15px 0px;
}
#pictures {
    margin-bottom: 10px;
}
#pictures a img {
    border: 1px solid #ccc;
    float: left;
    margin: 0px 5px 10px 0px;
    padding: 3px;
}
#pictures a:hover img {
    border: 1px solid #333;
    float: left;
    margin: 0px 5px 10px 0px;
    padding: 3px;
}
.comments {
    margin-top: 25px;
}
.commentlist {
    margin: 10px 0px 25px 0;
}
.commentlist li {
    padding: 5px 10px;
}
.commentlist .alt {
    background: #F3F6F2;
}
.commentlist cite {
    color: #5C8F47;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
}
.commentlist cite a, .commentlist cite a:visited {
    color: #5C8F47;
}
.commentlist small {
    display: block;
    font-size: 11px;
    margin-bottom: 5px;
}
.post {
    margin: 0px 0px 40px 0px;
    padding: 0px;
}
.postdetails {
    font-size: 11px;
    font-weight: bold;
}
.postdetails p {
    margin: 0px;
    padding: 0px 0px 10px 0px;
}
.postdetails .ico_date {
    background: url(ico_date.gif) no-repeat top left;
    margin: 0px 0px 0px 3px;
    padding: 0px 0px 0px 15px;
}
.postdetails .ico_comment {
    background: url(ico_comments.gif) no-repeat top left;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 15px;
}
.postdata {
    border-top: 1px solid #DDDDDD;
    font-size: 12px;
    margin: 0px;
    padding: 5px 0px 0px 0px;
}
.postdata .ico_tags {
    background: url(ico_tag.gif) no-repeat top left;
    margin: 0px;
    padding: 0px 0px 0px 15px;
}
#listings img {
    border: 1px solid #ccc;
    float: right;
    margin: 0px 0px 0px 10px;
    padding: 3px;
}
#listings h2 {
    border: 0;
}
#listings .post {
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 10px;
}
#listings .post:hover {
    background-color: #FFFCEF;
}
#listings .post-detail {
    color: #999;
    font-size: 11px;
}
#listings .post-cat a {
    background: url(ico_folder.gif) no-repeat 0px 0px;
    padding-left: 14px;
}
#listings .post-date {
    color: #333;
}
#listings .post-price {
    color: #333;
    font-weight: bold;
}
#listings .post-place {
    color: #333;
}
#listings .post-desc {
    font-size: 12px;
}
#sidebar {
    padding: 10px 0px 0px 0px;
}
#sidebar h4 {
    border-bottom: 1px solid #DDDDDD;
    color: #444;
    font-size: 16px;
    font-weight: bold;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 5px 0px;
}
#sidebar .widget {
    background: #D3E3EF;
    khtml-border-radius: 3px;
    margin: 0px 0px 10px 0px;
    moz-border-radius: 3px;
    padding: 2px 2px 2px 2px;
    webkit-border-radius: 3px;
}
#sidebar .whitebox {
    background: #FFFFFF;
    khtml-border-radius: 3px;
    margin: 0px;
    moz-border-radius: 3px;
    padding: 10px 10px 5px 10px;
    webkit-border-radius: 3px;
}
#sidebar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#sidebar ul li {
    list-style-type: none;
    margin: 0px 0px 5px 0px;
    padding: 0px;
}
#sidebar ul ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#sidebar ul li li {
    margin: 0px;
    padding: 0px 0px 5px 0px;
}
#sidebar ul li ul li {
    margin: 0px;
    padding: 0px 0px 5px 0px;
}
#sidebar .columns {
    float: left;
    margin-right: 10px;
    width: 44%;
}
.contactform, .commentform {
    margin: 5px 10px 0px 0px;
}
.contactform input, .commentform input {
    background-color: #F9F9F9;
    border: 1px solid #ccc;
    color: #333;
    font: 12px arial, verdana, sans-serif;
    padding: 4px;
    width: 220px;
}
.contactform textarea, .commentform textarea {
    background-color: #F9F9F9;
    border: 1px solid #ccc;
    color: #333;
    font: 12px arial, verdana, sans-serif;
    padding: 4px;
    width: 400px;
}
.contactform p, .commentform p {
    margin: 5px 0px 5px 0px;
}
.contactform .submit, .commentform .submit {
    background: #C9E38B;
    border: 1px solid #777;
    border: 1px solid #ccc;
    color: #2c4618;
    khtml-border-radius: 3px;
    moz-border-radius: 3px;
    padding: 4px 8px 4px 8px;
    webkit-border-radius: 3px;
    width: auto;
}
.form .ico_person {
    background: #F9F9F9 url(ico_person.gif) no-repeat 2% 50%;
    padding-left: 25px;
}
.form .ico_mail {
    background: #F9F9F9 url(ico_mail.gif) no-repeat 2% 50%;
    padding-left: 25px;
}
#frontpage {
    padding: 10px 0px 10px 0px;
}
#frontpage_cats .cats_col1 {
    float: left;
    margin-right: 15px;
    width: 197px;
}
#frontpage_cats .cats_col2 {
    float: left;
    width: 196px;
}
#frontpage_cats .cats_colums ul {
    border: 1px solid #ddd;
    border: none;
    list-style-type: none;
    margin-bottom: 15px;
    padding: 0px;
    padding: 5px 8px;
}
#frontpage_cats .cats_colums ul li {
    background: url("bullet_1.gif") no-repeat left 8px;
    border-bottom: 1px solid #ddd;
    line-height: 20px;
    padding: 2px 0 2px 10px;
}
#frontpage_cats .cats_colums ul li.cathead {
    background: none;
    font: bold 1.2em arial, sans-serif;    
    text-decoration: none;
    padding: 0 0 2px 0;
}
#frontpage_cats .cats_colums ul li.cathead a {
    color: #444;
}
#frontpage_cats .cats_colums ul li.cathead a:hover {
    text-decoration: underline;
}
.pagination {
    margin: 15px 0;
}
.pagination .palignright {
    float: right;
}
.pagination .palignleft {
    float: left;
}
.wp-pagenavi a, .wp-pagenavi a:link {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #034492;
    margin: 2px;
    padding: 2px 4px 2px 4px;
    text-decoration: none;
}
.wp-pagenavi a:visited {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #034492;
    margin: 2px;
    padding: 2px 4px 2px 4px;
    text-decoration: none;
}
.wp-pagenavi a:hover {
    background-color: transparent;
    border: 1px solid #333;
    color: #333;
}
.wp-pagenavi a:active {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #034492;
    margin: 2px;
    padding: 2px 4px 2px 4px;
    text-decoration: none;
}
.wp-pagenavi span.pages {
    background-color: #F3F6F2;
    border: 1px solid #ddd;
    color: #333;
    margin: 2px 2px 2px 0px;
    padding: 2px 4px 2px 4px;
}
.wp-pagenavi span.current {
    background-color: #F3F6F2;
    border: 1px solid #ddd;
    color: #333;
    font-weight: bold;
    margin: 2px;
    padding: 2px 4px 2px 4px;
}
.wp-pagenavi span.extend {
    background-color: transparent;
    border: 1px solid #333;
    color: #333;
    margin: 2px;
    padding: 2px 4px 2px 4px;
}
#carousel {
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    height: 142px;
    margin: 0 0 15px 0;
    width: 620px;
}
#content_main h4.carousel {
    color: #444;
    font: bold 1.4em arial, sans-serif;
    letter-spacing: 0;
    margin: 10px 0px 0px 0px;

    padding: 0px 0px 5px 0px;
}
#carousel .slider {
    float: left;
    left: -5000px;
    margin: 15px;
    position: relative;
    visibility: hidden;
}
#carousel .slider ul {
    height: 110px;
    width: 552px;
}
#carousel .slider ul li {
    font-size: 11px;
    height: 112px;
    line-height: 11px;
    padding: 0 6px;
    text-align: center;
    width: 98px;
}
#carousel .slider ul li a {
    font-weight: bold;
}
#carousel .slider ul li a img {
    border: 1px solid #ccc;
    cursor: pointer;
    height: 65px;
    margin-bottom: 2px;
    padding: 3px;
    width: 90px;
}
#carousel .slider ul li a:hover img {
    border: 1px solid #333;
    cursor: pointer;
    height: 65px;
    margin-bottom: 2px;
    padding: 3px;
    width: 90px;
}
#carousel .prev {
    cursor: pointer;
    float: left;
    padding-top: 44px;
}
#carousel .next {
    cursor: pointer;
    float: right;
    padding-top: 44px;
}
#footer {
    background: #f4f4f4;
    color: #444;
    font-size: 11px;
    font-weight: bold;
    margin-top: 30px;
    padding: 30px 0;
    text-align: center;
    
    border-top: 1px solid #ddd;
}
#footer a {
    color: #444;
}
#footer ul {
    margin-bottom: 5px;
}
#footer ul li {
    display: inline;
    margin-right: 10px;
}
#footer p {
    color: #666;
    font-weight: normal;
    text-transform: none;
}
#footer p a {
    color: #666;
}
.odd {
    background-color: #F4F4F4;
}
.even {
    background-color: #FFF;
}
.hover {
    color: #FFFCEF;
}
