.word {
    font-family: Calibri,Arial,sans-serif;
    font-weight: normal;
    padding: 4px 4px 4px 4px;
    letter-spacing: 1px;
    float: left;
    text-decoration: none;
}
.size9 {
    color: #000;
    font-size: 15px;
}
.size8 {
    color: #222;
    font-size: 14px;
}
.size7 {
    color: #444;
    font-size: 13px;
}
.size6 {
    color: #666;
    font-size: 12px;
}
.size5 {
    color: #777;
    font-size: 11px;
}
.size4 {
    color: #888;
    font-size: 10px;
}
.size3 {
    color: #999;
    font-size: 9px;
}
.size2 {
    color: #aaa;
    font-size: 8px;
}
.size1 {
    color: #bbb;
    font-size: 7px;
}
.size0 {
    color: #ccc;
    font-size: 6px;
}
