/* Custom CSS */
.wc_payment_method label {
	display: inline-block;
}

.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt {
	background-color: #3388c3;
}

.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button {
	background-color: #F59E1D;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	padding-left: 1em !important;
	padding-right: 1em !important;
}

#huge_it_slideshow_image_container_2 { padding-bottom: 20px;}

#huge_it_slideshow_image_container_2 .huge_it_slideshow_title_text_2,
#huge_it_slideshow_image_container_2 .huge_it_slideshow_description_text_2{
	display:none;
}

.an_wc_feat_row {
	background-color: #ccc;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
}
