/*! normalize.css v1.1.1 | MIT License | git.io/normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{background:#fff;color:#000;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}button,html,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:dotted thin}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.67em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:after,q:before{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ol,nav ul{list-style:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure,form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

/*! fontello.css */
@font-face{font-family:fontello;src:url(../font/fontello.eot?17677007);src:url(../font/fontello.eot?17677007#iefix) format('embedded-opentype'),url(../font/fontello.woff?17677007) format('woff'),url(../font/fontello.ttf?17677007) format('truetype'),url(../font/fontello.svg?17677007#fontello) format('svg');font-weight:400;font-style:normal}[class*=" fa-"]:before,[class^=fa-]:before{font-family:fontello;font-style:normal;font-weight:400;speak:none;display:inline-block;width:1em;text-align:center;font-variant:normal;text-transform:none;text-decoration:none!important;line-height:1em}.fa-fw:before{content:''}.fa-circle-o:before{content:'\e800'}.fa-circle:before{content:'\e801'}.fa-search:before{content:'\e802'}.fa-cancel:before{content:'\e807'}.fa-chevron-right:before{content:'\e805'}.fa-chevron-left:before{content:'\e804'}.fa-chevron-up:before{content:'\e806'}.fa-chevron-down:before{content:'\e803'}.fa-down:before{content:'\e808'}.fa-left:before{content:'\e809'}.fa-right:before{content:'\e80a'}.fa-up:before{content:'\e80b'}.fa-chevron-down:before,.fa-chevron-left:before,.fa-chevron-right:before,.fa-chevron-up:before,.fa-down:before,.fa-fw:before,.fa-left:before,.fa-right:before,.fa-up:before{font-size:20px;font-size:1.2rem;vertical-align:middle}

/* ==========================================================================
   Main site styles
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
	height: 100%;	
	overflow-y: scroll;
}

html {
	background: #fff;
}

body {
	min-height: 100%;
    font-size: 1em;
	font-family: Raleway, arial, sans-serif;
    line-height: 1.6;
	color: #3e3d3d;
	font-style:normal;
}

::-moz-selection,
::selection {	
	text-shadow: none;
	color: #fff;
    background: #3388c3;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

a:link, a:visited {
	color: #3388c3;
	text-decoration: none;
	transition: color .1s;
}

a:hover {
	color: #00518a;
	text-decoration: underline;
}

p, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 20px 0;
	margin: 1.25rem 0;	
}

h1, h2, h3, h4, h5, h6, #tagline {
	font-family: 'Roboto Slab', georgia, serif;
	font-weight: 400;
}

h1 {
	font-size: 36px;
	font-size: 2.4rem;
	line-height: 100%;
	color: #3e3d3d;
}
.entry h1, .entry h2, .entry h3, .entry h4, .entry h5 {color: #3e3d3d !important; font-family: 'Roboto Slab', georgia, serif !important}
.entry p {font-family: Raleway, arial, sans-serif !important; color: #3e3d3d !important;}

h2 {
	font-size: 1.5em;
}

.archousa h2 {
	color: #38123b;
}

h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1.1em;
}

h6 {
	font-size: 1em;
}

abbr[title] {
	border: 0;
}

label {
	display: block;
}

input,
select,
textarea,
a.button {
	padding: 5px;
	border-radius: 4px;
}

input,
select,
textarea {
	box-sizing: border-box;
	background: #eee;
	border: 0;
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;
	transition: all .2s;
}

input:focus,
select:focus,
textarea:focus {
	background: #f7f7f7;
	border-color: 1px solid #aaa;
}

a.button,
input[type=submit] {
	display: inline-block;
	padding: 8px 20px;
	
	text-transform: uppercase;
	text-decoration: none;
	
	color: #fff !important;
	background-color: #3388c3;
	border-width: 0 2px 2px 0;
	border-style: solid;
	border-color: #0662a2;
	
	transition: all .2s;
	margin-top: 7px;
}

a.button:hover,
input[type=submit]:hover {
	text-decoratin: none;
	background-color: #00518a;
	border-color: #03395f;
}

.archousa a.button,
.archousa input[type=submit] {
	background-color: #9a1a5b;
	border-color: #73093f;
}

.archousa a.button:hover,
.archousa input[type=submit]:hover {
	text-decoratin: none;
	background-color: #73093f;
	border-color: #53052d;
}

a.button.button-gray {
	color: #3388c3 !important;
	background-color: #edeae9;
	border-color: #cacaca
}

a.button.button-gray:hover {
	background-color: #ccc;
	border-color: #aaa
}

address {
	font-style: normal;
}

label {
	display: block;
}

#main #container {
	margin-top: 0;
}

#main ul {	
	margin: 0;
	padding: 0;	
}

#main ul li {
	padding: 0;	
	    list-style-type: none;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.width {
	max-width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
}

.home .full-width {
	margin-bottom: 50px;
}

.padding {
	padding: 20px;
}

.padding-top-none-20 {
	padding: 0 20px 20px 20px;
}

.padding-top-none-10 {
	padding: 0 10px 10px 10px;
}

.padding {
	padding: 20px;
}

/* 
 * Header
 */
header {
	position: relative;
	width: 100%;
/*	background: 
		url(../images/header-sphinx.png) no-repeat 90% 10px,
		url(../images/header-light.png) no-repeat 10% 0,
		#d4d5d7 url(../images/header-bg.jpg) repeat 0 0;
	border-top: 10px solid #3388c3;
*/	
	transition: all .2s;
}

.archousa header {
	background: 
		url(../images/header-sphinx-archousa.png) no-repeat 90% 10px,
		url(../images/header-light.png) no-repeat 10% 0,
		#f9f8f9 url(../images/header-archousa-bg.jpg) repeat 0 0;
	border-color: #9a1a5b;
}

.home header {
	background-position:  90% 100%, 10% 0, 0 0;
}

.colocated header {
	background-position:  90% 50px, 10% 0, 0 0;
}

header .topbar {
	position: relative;
	z-index: 10;
	padding: 0 !important;
	
	font-size: 14px;
	font-size: .9rem;
	
	background: rgba(0,0,0,.1);
}

header .topbar ul {
	margin: 0 10px;
	text-align: left;	
}

header .topbar a {
	color: #666;
	display: inline-block;
	padding: 4px;
}

header > div {
	padding-bottom: 10px;
}

.home header > div {
	padding-bottom: 0px;
	margin-bottom: 0;
}

header ul {
	display: inline;
	margin: 0;
	padding: 0;
}

header li {
	margin: 0;
	padding: 0;
	display: inline;
}

header .logo,
header .account,
header form,
header section {
	position: relative;
	/*z-index: 3;*/
}

header .logo {
	float: left;
	color: #777;
	padding: 20px;
	white-space: nowrap;
}

header .span-9 p {
	float: right;
	color: #777;
	white-space: nowrap;
	font-style:italic;
}

header .logo img {
	height: 75px;
	transition: all .2s;
		max-width:none !important;
}

header .logo .boule {
	margin-left: 10px;
	padding-left: 14px;
	border-left: 2px solid #ccc;
}

header .logo em {
	margin-left: 10px;
	display: inline-block;
	vertical-align: middle;
}



header form,
header .account {
	float: right;
	font-size: 14px;
	font-size: .9rem;
	
	text-align: right;	
	padding: 40px 20px 0 20px;
}

header form input {
	width: 120px;
	margin: 5px 3px;
}

.archousa header form input {
	background: #fff;
}

header form input[type=submit] {
	width: 100px;
	padding: 5px 20px 3px 20px;
}

header form a {
	font-size: 12px;
	font-size: .8rem;
	color: #3388c3 !important;
}

header .account {
	padding-top: 45px;
	font-size: 16px;
	font-size: 1rem;	
	color: #777;
}

header .account li:first-child {
	margin-right: 5px;
	padding-right: 8px;
	border-right: 2px solid #aaa;
}

header nav {
	position: relative;
	z-index: 1;
	clear: both;
	background: #3388c3;
	border-radius: 4px;
}

.archousa header nav {
	background: #38123b;
}

header nav ul {
	padding: 0 10px;
}

header nav a:link,
header nav a:visited {
	display: inline-block;
	padding: 6px 10px;
}

header nav a:link,
header nav a:visited,
.menu-panel a:link,
.menu-panel a:visited,
.menu-panel .trigger {
	color: #ffffff;
}

header nav a:hover,
header nav a.active,
.menu-panel a:hover,
.menu-panel .trigger:hover  {
	color:#B0D1DE;
	text-decoration: none;
}

header .secondary {
	float: right;
	margin-right: 15px;
}

header nav a:link.secondary,
header nav a:visited.secondary {
	color: #999;
}

header nav a:hover.secondary  {
	color: #fff;
}

header .fa-search {
	font-size: 20px;
	font-size: 1.25rem;
	line-height: 16px;
	line-height: 1rem;
	margin-left: 7px;
}
header .floatright {text-align:right;float:right !important; padding-right:20px;}
header .grid-12 .span-9 {width:70%;}
header .floatright h2 {margin-bottom:0;}
header .floatright p {margin-top:3px; font-style: italic;}
header .padding-left-40 {padding-left:40px;}

/* 
 * JET Menu (responsive menus)
 */

.jetmenu {
	position: relative;	
}

.jetmenu ul li {
	display: inline-block;
}

.jetmenu a {
	position: relative;
	outline: none;
	z-index: 10;
}
.jetmenu ul a {
	position: relative;
	padding: 10px 15px;
	color: #fff;
	text-decoration: none;
	display: inline-block;
}

/* DROPDOWN CONFIGURATION */
.jetmenu ul.dropdown, 
.jetmenu ul.dropdown li ul.dropdown {
	list-style: none;
    margin: -1px 0 0 0;
    padding: 0;   
	display: none;
    position: absolute;	
	min-width: 220px;
	z-index: 99;		
	background: #3e3d3d;
}

.archousa .jetmenu ul.dropdown, 
.archousa .jetmenu ul.dropdown li ul.dropdown {
	background: #38123b;
}

.jetmenu ul.dropdown{
	left: -15px;
	padding: 10px 0;
}
.jetmenu ul.dropdown li ul.dropdown{
    left: 100%;
	top: inherit;
	padding: 10px 0;
	margin-top: -10px;
	margin-left: 0 !important;
}
.jetmenu ul.dropdown li{
	clear:both;
	width:100%;	
}
.jetmenu ul.dropdown li a {
	width:100%;
	padding: 3px 25px;
	display:inline-block;
	float:left;
	clear:both;
	text-decoration: none;
	
	font-size: 16px;
	font-size: 1rem;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box;
}
.jetmenu ul.dropdown li:hover > a{
	text-decoration: underline;
}

/* SUBMENU INDICATORS */
.jetmenu .indicator {
	position: relative;
	left: 5px;
	top: 0;
	float: right;	
}
.jetmenu ul li .indicator{
	top: 2px;
	left: 10px;
	color: #646161;
}

.topbar .jetmenu ul.dropdown, 
.topbar .jetmenu ul.dropdown li ul.dropdown {
	min-width: 200px;
	background: #c2c2c0;
} 

.topbar .jetmenu ul.dropdown li a {
	color: #666;
	font-size: 14px;
	font-size: .9rem;
}

.fa-bars:before {
    content: '\e80c';
}


[class*=" fa-"]:before, [class^=fa-]:before {
    font-family: fontello;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
	margin-left:7px;
    text-decoration: none!important;
    line-height: 1em;}
	


header .open,
header .login,
header nav .logout,
header nav .profile,
header .menu-panel {
	display: none;
}

header section {
	margin: 10px 20px 5px 20px;
}

.home header section {
	margin-top: 10px;
}

header h1 {
	margin: 0;
}

header section p  {
	margin: 10px 0;
}

header section p {
	font-size: 24px;
	font-size: 1.5rem;
	max-width: 500px;
}

header section .button {
	padding: 15px 30px;
}

/* 
 * Main content area
 */
#main {
/*	position: relative;*/
	z-index: 0;
	padding-top: 0;
	background: #fff;
}

.divider-top {
	margin-top: 8px;
/* 	background: #d4d5d7 url(../images/events-bg.jpg) repeat 0 0; */
	border-top: 2px dotted #ccc;
	padding-top:30px;
}

.divider-bottom {
	margin-bottom: 6px;
/* 	background: #d4d5d7 url(../images/events-bg.jpg) repeat 0 0; */
	border-bottom: 2px dotted #ccc;
}
.padding-top-minus-20 {margin-top:-20px !important;}


/* 
 * Gray events section
 */

#events .more, #events .dig-in {margin-top:20px;}
#events .dig-in a {font-family: 'Roboto Slab', georgia, serif}
#events .dig-in a::after {content: '\203A';margin-left:10px;}
#events .dig-in a::after, 
#events .more span {font-size:180%;vertical-align: sub;margin-left:10px;height:auto;}
#events .more h2.widgettitle, #events .dig-in a {font-size:16px; font-weight:700;}

#events {
	margin-top: 25px;
	background: #d4d5d7 url(../images/events-bg.jpg) repeat 0 0;
	border-top: 10px solid #F59E1D;
}

.archousa #events {
	background: #f9f8f8 url(../images/header-archousa-bg.jpg) repeat 0 0;
	border-color: #F59E1D;
}

#events h2 {
	font-size: 30px;
	font-size: 2rem;
}

#events ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

#events ul.dpe-flexible-posts li {
	border-bottom: 2px solid #ccc;
	    margin-bottom: 15px;
}

.archousa #events ul.dpe-flexible-posts li {
	border-color: #ddd;
}

#main .dates li, #events .tribe-events-list-widget-events li {
	position: relative;
	padding-left: 80px;
	margin: 20px 0;
	min-height: 75px;
}

.dates li:first-child {
	margin-top: 0;
}

.dates strong, #events .tribe-events-list-widget-events strong {
	display: block;    
}

.dates .date, #events .tribe-events-list-widget-events .date {
	display: inline-block;
	left: 0;
	top: 0;
	
	width: 60px;
	padding: 10px;
	box-sizing: border-box;
	
	font-size: 14px;
	font-size: .875rem;
	text-align: center;
	
	background-color: #F59E1D;
	color: #fff;
	border-radius: 4px;
}

.archousa .dates .date {
	background-color: #F59E1D;
}

.dates .date strong, #events .tribe-events-list-widget-events strong {
	font-size: 36px;
	font-size: 2.25rem;
	line-height: 32px;
	line-height: 2rem;
}
#events .dpe-flexible-posts li h4, #events .tribe-events-list-widget-events h4 {font-weight:700; margin:0 0 2px 0 !important;}
#events .dpe-flexible-posts li p, #events .tribe-events-list-widget-events p {margin-top:2px;}

/* 
 * Sidenav
 */
#nav ul, .widget ul.menu {
	margin: 0;
	padding: 0;
}

#nav a, .widget ul.menu a, #sidebar ul.menu a {
	display: block;
	zoom: 1;
}

#nav a, .widget ul.menu a, #sidebar ul.menu a {
	padding: .75em 0;
	border-top: 2px solid #eee;
}
.widget ul.menu li:first-child a {border:none;}

#nav a.active, #sidebar ul.menu a:active {
	font-weight: bold;
}

#nav ul ul, .widget ul.menu ul {
	padding-bottom: 0;
}

#nav ul ul a, .widget ul.menu ul a, #sidebar ul.menu ul a{
	padding: 0 10px 10px 30px;
	font-weight: 400 !important;
	border: 0;
}

#nav ul ul a:hover, #sidebar ul.menu a:hover {
	text-decoration: underline;
}

#nav ul ul ul a{
	padding-left: 60px;
	background-position: 30px 7px !important;
}

/* -------------sidebar nav --------------*/

#sidebar .menu li {/*display:none;*/}
#sidebar .menu li.current-menu-parent,#sidebar .menu li.current-menu-parent .sub-menu li, #sidebar .sub-menu li.current-menu-item, #sidebar .menu li.current-menu-item li, #sidebar .menu .current-menu-item .sub-menu, #sidebar .menu .current-menu-item .sub-menu li {display:block !important;}
#sidebar .menu li.current-menu-item {font-weight:bold;}
#sidebar .menu li.current-menu-item .sub-menu {font-weight:normal;}
#sidebar .menu .current-menu-item .sub-menu li { border-top: 2px solid #eee; }
#sidebar .menu .current-menu-item .sub-menu, #sidebar .menu .current-menu-item .sub-menu li, #sidebar .menu .current-menu-item .sub-menu li a {padding: .75em 0;}
#sidebar .menu .current-menu-item .sub-menu li ul {    margin-top: .75em;  padding: 0 10px 10px 30px;
    font-weight: 400 !important;
    border: 0;}
#sidebar .menu .current-menu-item .sub-menu li:before { content: '\e805';
font-size: 1.2rem;
    vertical-align: middle;
	font-family: fontello;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    text-decoration: none!important;
    line-height: 1em;
    color: #3388c3;}
#sidebar ul.menu.sm li a {padding: .6em 0; font-size:.85em;}

/* Events Calendar grid and single events */
	


#tec-events-calendar-header, .tec-calendar, #tec-content .ical, .events-single #content .ical, a.gmap, .tec-event-list-meta td, .tec-nav, #tec-event-meta, span.back, .eventsListWidget .dig-in, .gcal-add {font-family: Raleway, arial, sans-serif !important;font-size:inherit !important;}
#tec-event-meta {border:none !important; font-size:inherit !important;}
.tec-month-nav {position:relative !important;}
.placeholder {font-style:normal;}


/* ------------------ buttons ----------------------*/
.btn {background:#3388c3;color:#fff !important;padding:5px 17px;margin:8px 14px 8px 0;font-size:.7em !important;display:inline-block;border-radius:.5em;white-space:nowrap;font-weight:400;text-transform:uppercase;}
.post-nav {margin:25px 0;}
/*#tec-event-meta dd {margin-left: 85px;}
.tec-event .eventhdr h2 {margin-bottom:0 !important;margin-top:0 !important; margin:0 !important;font-size: 1.8em;}
.tec-event .eventhdr p {font-weight:700; font-size:.95em; margin-top: 5px;}
.tec-event .span-3 .wp-post-image {max-width: 300px;margin-bottom: 25px;}*/
ul.ecs-event-list {margin:0 !important;}
.ecs-event-list img {display:block; width:30%; max-width:150px;margin:0 15px 0 0;float:left;}
.ecs-event p {display:block;width:70%;margin-top:5px;}
.ecs-event {display:block; clear:both;width:100%;margin:60px 0;}
.ecs-event h4 {display:block; width:70%;}
ul.ecs-event-list .duration {font-size:.9em; font-weight:600; margin-bottom: 0; color: #565656;}
.tribe-events-month #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-next a, .tribe-events-month #tribe-events-header .tribe-events-sub-nav li {
   display: block;
}
.tribe-events-notices {background: #f5f5f5 !important; border:none !important; border-radius:0 !important; font-size:.7em;}
.tribe-events-notices ul {margin: 0 12px !important;}
.list-hdr {margin-bottom:0;margin-top:60px;}
/*.tribe-events-event-image img {max-width:300px !important;}*/
#events .tribe-events-list-widget-events .tribe-events-event-image img {max-width:120px !important; float:left;}
#events .tribe-events-list-widget-events .tribe-events-event-image{    margin-right: 25px;float: left;}
#events .tribe-events-list-widget-events .eventdetails {display:inline-block; margin:0 0 3px 10px !important; vertical-align:top; width: 78%;}
/* 
 * Footer
 */

footer {
	/*margin-top: 50px;*/
}
 
footer h2 {
	text-align: left;
}

footer ul {
	padding: 0;
}

footer .lines {
	margin: 0 10px 0 0;
}

footer .float-right .lines {
	margin: 0 0 0 10px;
}

footer .lines a {
	display: inline-block;
	width: 100%;
}

footer .copyright {
	margin: 50px 0;	
	font-size: 12px;
	font-size: .75rem;
}

footer img {
	width: auto !important;
	height: 85px !important;
}

footer img:first-child {
	margin-right: 20px;
}
footer .grid-12 .inner li.widget {width: 29.33%;
    }
footer .grid-12 .inner {margin-left: 40px;}
footer .grid-12 li.widget {display: inline-block;
    vertical-align: top;    float: left;    }
footer .grid-12 li.widget:nth-child(1) {margin-right: 46px;}
footer .grid-12 li.widget:nth-child(3) {margin-left: 50px;}

/* 
 * Grid layout 
 */

.row {
	margin: 10px 0 10px -40px;	
} 
 
.row [class^="span-"] {	
	float: left;	
}

.row [class^="span-"] > .inner {
	margin-left: 40px;
}

.row img {
	max-width: 100%;
	height: auto;
}
.row img.no-resize {
	width: auto !important;
} 

.span-1 {
	width: 12.5%;
}

.span-2 {
	width: 25%;
}

.span-3 {
	width: 37.5%;
}

.span-4 {
	width: 50%;
}

.span-5 {
	width: 62.5%;
}

.span-6 {
	width: 75%;
}

.span-7 {
	width: 87.5%;
}

.span-8 {
	width: 100%;
}

.grid-12 .span-1 {
	width: 8.33%;
}

.grid-12 .span-2 {
	width: 16.66%;
}

.grid-12 .span-3 {
	width: 25%;
}

.grid-12 .span-4, footer .grid-12 li.widget {
	width: 33.33%;
}

.grid-12 .span-5 {
	width: 41.66%;
}

.grid-12 .span-6 {
	width: 50%;
}

.grid-12 .span-7 {
	width: 58.33%;
}

.grid-12 .span-8 {
	width: 66.66%;
}

.grid-12 .span-9 {
	width: 75%;
}

.grid-12 .span-10 {
	width: 83.33%;
}

.grid-12 .span-11 {
	width: 91.66%;
}

.grid-12 .span-12 {
	width: 100%;
}

/* 
 * Image slider
 */
#slider {
	position: relative;
	z-index: 0;
} 
 
#slider .slide {
	display: none;
	position: relative;
	width: 100%;
	z-index: 1;
}

#slider .slide.next {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
}

#slider .slide:first-child {
	display: block;
}

#slider .overlay {
	position: absolute;
	z-index: 2;
	bottom: 0px !important;
	left: 0px;
	right: 0px;
	display: block;
	padding: 0;
	text-align: left;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	background: rgba(0,0,0,0.7) !important;
	width: 100% !important;
	max-width: 100% !important;
}
#slider .huge_it_slideshow_title_text_1, #slider .huge_it_slideshow_description_text_1
{position:relative;width:80%; background: none !important;right:0; top:0; bottom:0; padding:0; border-radius:0;text-align:left;}

#slider .huge_it_slideshow_title_text_1 a, #slider .huge_it_slideshow_description_text_1 a {width:auto !important; height:auto !important; display: inline; color: #78bdda;}

#slider .huge_it_slideshow_title_text_1 a:visited, #slider .huge_it_slideshow_description_text_1 a {color: #78bdda;}

#slider a img {height:auto !important;max-height:none;}


.no-rgba #slider .overlay {
	background: url(../images/overlay-70.png) repeat 0 0;
}

#slider .overlay {
	color: #fff;
}

#slider h2, #slider .huge_it_slideshow_title_text_1 {	
	margin: 0;
	font-family: 'Roboto Slab', georgia, serif;
	font-size: 2.2em !important;
	font-weight:400 !important;
	line-height: 1em;
	color: #fff;
	text-align:left !important;
	padding:2% 0 2% 2%;
} 

#slider .huge_it_slideshow_description_text_1 {font-size: 1em;	padding:0 0 2% 2%;}

#slider a:hover {
	text-decoration: none;
}

#slider .link, .slider-pro .link {
	color: #78bdda;
}

#slider .link:hover {
	text-decoration: underline;
}

#slider .idx-cont, #slider .huge_it_slideshow_dots_thumbnails_1, #slider .huge_it_slideshow_dots_thumbnails_1 {
	position: absolute;
	z-index: 3;
	right: 8px;
	/*top: 15px;*/
/*	height: 30px;*/
	z-index: 3;
/*	width: 90%;*/
	text-align: right;
    width: 24%;
    height: 14%;
/*    right: 0;*/
    bottom: 0;
    white-space: nowrap;
}

#slider .idx-cont .fa {
	color: #fff;
	padding: 3px;
	opacity: 0.5;
	cursor: pointer;
	
    -webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;	
}

#slider .huge_it_slideshow_dots_thumbnails_1 {top:auto;}

#slider .huge_it_slideshow_dots_1 
{border: 3px solid #909090;margin:20px 6px;width:15px; height:15px;box-shadow:none;}

#slider .huge_it_slideshow_dots_active_1
{border: 3px solid #ffffff}

#slider #huge_it_slideshow_left_1 {left:10px;}
#slider #huge_it_slideshow_right_1 {right:10px;}

#slider .idx-cont .active {
	opacity: 1;
}

#slider .idx-cont span {
	display: inline-block;
	width: 12px;
	height: 13px;
	margin: 3px;
	color: #fff;
	opacity: 0.5;
	cursor: pointer;
	
    -webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

#slider .idx-cont span.active {
	opacity: 1;
}

.no-js #slider .slide {
	display: block;
}

#slider .slider-pro .sp-slides-container .sp-slides .desc-in, #slider .slider-pro .sp-slides-container .sp-slides .title-in {
    text-align: left !important;
	transform-origin: bottom left 0px !important;
}

#slider .slider-pro .sp-slides-container .sp-slides .title-in-bg, #slider .slider-pro .sp-slides-container .sp-slides .desc-in-bg {
	background: rgba(0, 0, 0, 0.7); !important;
}

/* 
 * Round images on home page
 */
.round ul.dpe-flexible-posts {margin:0 !important;}
.round .dpe-flexible-posts li, li.widget {list-style-type:none;}

.round .dpe-flexible-posts img, .roundwidget img {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 80%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.round .widget_sp_image-description a.morelink {font-weight:bold; margin-top:15px;display:block;}

.round .dpe-flexible-posts .title {font-size:1.5em;
	font-family:'Roboto Slab', georgia, serif;margin:1.25em 0;}
	
	#sticky-span {display:none;}


	/* 
	 * Boule officers
	 */
	
	.widget ul {list-style:none; margin:0 !important; padding:0;}
	.widget #chapter-officers li {margin: 25px 0;}
/* 
 * Images with a translucent overlay
 */
.image-overlay,
.image-overlay img {
	display: block;
	position: relative;
	z-index: 1;
}

.image-overlay .text,
.image-overlay h2 {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 100%;	
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	margin: 0;
	padding: 0 .4em;
	
	color: #fff;
	background: rgba(0,0,0,.7);
	
	transition: background .3s;
}

.image-overlay h2 {
	text-align: center;
}

.image-overlay .text {
	padding: .6em;
}

.image-overlay:hover .text {
	background: rgba(0,0,0,1);
}

.image-overlay .text h3 {
	margin: 0;
	font-size: 1.3em;
}

.image-overlay .text p {
	margin: 0;
	font-size: .8em;
}

.image-overlay .fa {
	display: none;
}

.no-rgba .image-overlay .text,
.no-rgba .image-overlay h2 {
	background: url(../images/overlay-70.png) repeat 0 0;
}
.divider {    margin-bottom: 50px;
    border-bottom: 2px dotted #ccc;
    float: left;width:100%;}

/* 
 * Breadcrumbs
 */ 
.breadcrumbs {
	padding: 0;
	list-style: none;
}
 
.breadcrumbs li {
	font-size: 14px;
	font-size: .9rem;
	display: inline;
	color: #666;
}

.breadcrumbs li:before {
	content: '>';
	padding: 0 10px 0 5px;
	color: #aaa;
}

.breadcrumbs li:first-child:before {
	content: '';
	padding: 0;
}

/* 
 * OO css
 */

.clear {
	clear: both;
} 
 
.font-small {
	font-size: 12px !important;
	font-size: .75rem !important;
}

.font-large {
	font-size: 24px !important;
	font-size: 1.5rem !important;
}

.sans-serif {
	font-family: 'Open Sans', arial, sans-serif !important;
	line-height: 140%;
	letter-spacing: 0;
}

.bold {
	font-weight: 700 !important;
}

.uppercase {
	text-transform: uppercase !important;
}

.relative {
	position: relative;
}

.padding-small {
	padding: 10px;
}

.margin-none {
	margin: 0 !important;
}

ul.margin-none {
	list-style: none;
}

.margin-vert-none {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.margin-top-none {
	margin-top: 0 !important;
}

.margin-top-large {
	margin-top: 50px !important;
}

.margin-top-medium {
	margin-top: 25px !important;
}

.margin-top-small {
	margin-top: 10px !important;
}

.margin-left-xsmall {
	margin-left: 5px !important;
}

.margin-left-small {
	margin-left: 10px !important;
}

.margin-left-medium {
	margin-left: 25px !important;
}

.margin-bottom-large {
	margin-bottom: 50px !important;
}

.margin-bottom-medium {
	margin-bottom: 25px !important;
}

.margin-bottom-small {
	margin-bottom: 10px !important;
}

.block {
	display: block !important;
}

.inline-block {
	display: inline-block !important;
}

.inline {
	display: inline !important;
}

.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

.width-50 {
	width: 50% !important;
}

.width-80 {
	width: 80% !important;
}

.width-100 {
	width: 100% !important;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.background-grey {
	background: #3e3d3d;
}

.color-white {
	color: #fff;
}

.color-grey {
	color: #9e9e9e;
}

.color-red {
	color: #cd1b1b;
}

.msg {
	padding: 25px;
	color: #fff;
	background: #3388c3;
}

.msg.success {
	background: #52b609;
}

.msg.warning {
	background: #ff8a00;
}

.msg.error {
	background: #cd1b1b;
}

.archousa .msg {
	background: #9a1a5b;
}

.archousa .msg.success {
	background: #8eaf37;
}

.archousa .msg.warning {
	background: #ff8a00;
}

.archousa .msg.error {
	background: #38123b;
}

.msg .title {
	display: block;
}

.msg .fa {
	font-size: 1.5em;
	color: #104b7d;
}

.msg.success .fa {
	color: #598808;
}

.msg.warning .fa {
	color: #eeae00;
}

.msg.error .fa {
	color: #b40f0f;
}

img.float-left {
	margin: 5px 20px 20px 0;
}

img.float-right {
	margin: 5px 0 20px 20px;
}

ul.lines li {
	padding: 10px 0 !important;	
	border-top: 2px solid #eee;
}

ul.lines li:first-child {
	padding-top: 0;	
	border-width: 0;
}

.input-button input {
	width: 85%;
	padding: 12px;
	border-radius: 4px 0 0 4px;
}

.input-button a {	
	position: relative;
	left: -5px;
	top: -1px;

	border-radius:  0 4px 4px 0;
}

ul.double-space li {
	margin: 25px 0;
}


ul.expandable > li > a {
	display: block;
	padding: 15px;
	font-weight: bold;
	text-decoration: none;
	
	color: #3388c3;	
	border-top: 2px solid #ccc;
}

ul.expandable .fa {
	color: #999;
} 

ul.expandable ul {
	display: none;
	margin: -5px 40px 15px 40px !important;
}

ul.expandable .open ul {
	display: block;
}

ul.semantic {
	margin: 0 !important;
	padding: 0;
	list-style: none;
}

.semantic li {
	margin: 0;
	padding: 0 !important;
	display: inline;
	background: 0 !important;
}

#cont ul.no-indent,
#cont ul.no-indent li{
	margin: 0 10px;
}

/* blog and archive page ================================================
============================================================================*/

body.archive #main .link-list, .lcp_catlist {    list-style-type: none;margin-left:0;}
body.archive #main .link-list li, #main ul.lcp_catlist li {padding:12px 0 50px 0; border-bottom:2px dotted #ccc;}
#respond img.avatar {max-width:30px;}
span.icon.archive, a.icon.comment, span.lcp_date, span.lcp_author, span.lcp_catlink, .lcp_post .ex_hd {font-size:80%;margin: 0 0 12px 0;display:inline-block;color: #8c8c8c;}
.single #blog-single .post-content h2 {margin-bottom:0px;}
.imgleft, .descleft  {display:inline-block;vertical-align:top;}
.descleft {width:68%;}
.imgleft, .archive .link-list .mainimg {display:inline-block; vertical-align:top;width:28%;margin-right:3%; }
.descleft h3 {margin-top:0;}
.imgleft {height:151px; overflow: hidden;}
.imgleft a img.lcp_thumbnail {    height: 100%;
    width: auto;
    max-width: none;
	min-width:320px;
    margin-left: -30%;}
	.page .contentBlock .lcp_catlist h3.lcp_post {margin-bottom:0;}
	.page .contentBlock .lcp_catlist span.lcp_date {margin:0 0 8px 0; padding: 0 10px 0 0 ;}
	.page .contentBlock .lcp_catlist span.lcp_author {margin:0 0 8px 0; padding: 0 0 0 10px;}
	.page .contentBlock .lcp_catlist a.lcp_more {margin-top:20px; font-size:90%;}
	.page .contentBlock .lcp_catlist span.lcp_date { border-right: 1px solid #8c8c8c;line-height:1;}
	.archive .contentBlock h3 {margin-bottom:0;}
	 .archive .contentBlock span.icon.archive {margin: 0 0 8px 0;}
	 .archive .contentBlock .descleft p.excerpt {margin-top:5px;}
	 p.readmore {font-size: .8em;margin-top:.5rem;}
/* ==========================================================================
   IE Fixes
   ========================================================================== */

.lt-ie9 body {
	min-width: 960px;
}

.lt-ie9 header {
	background: #d4d5d7 url(../images/header-sphinx.png) no-repeat 90% 10px;
}

.lt-ie9 .home header {
	background: #d4d5d7 url(../images/header-sphinx.png) no-repeat 90% 100%;
}

.lt-ie9 .archousa header {
	background: #f9f8f9 url(../images/header-sphinx-archousa.png) no-repeat 90% 10px;
}

.lt-ie9 .home .archousa header {
	background: #f9f8f9 url(../images/header-sphinx-archousa.png) no-repeat 90% 100%;
}

.lt-ie9 header a:visited {
	text-decoration: none;
}

.lt-ie9 header a:hover {
	text-decoration: underline;
}

.lt-ie9 .topbar {
	background: url(../images/overlay-10.png) repeat 0 0;
}
   
.lt-ie8 #slider {
	font-size: 0;
	line-height: 0;
}

.lt-ie9 .input-button a {
	top: -2px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

/*
 * Clearfix
 */

.clearfix:before,
.clearfix:after,
.row:before,
.row:after,
header:before,
header:after,
#main:before,
#main:after {
    content: " "; 
    display: table; 
	zoom: 1;
}

.clearfix:after,
.row:after,
header:after,
#main:after {
    clear: both;
}

/* ==============================================
accordion
===========================================*/
#accordion .ui-accordion-header {background:none; padding: 0 10px 0 1.3em;border:0;;margin-bottom:10px;color: #3388c3;}
#accordion.ui-accordion .ui-accordion-header .ui-accordion-header-icon {top:10%;left:0;margin-top:0;}
#accordion h3:link, #accordion h3:hover, #accordion h3:active, #accordion h3:visited {text-decoration:underline;border:0; outline: none;}
#accordion ul:link, #accordion ul:hover, #accordion ul:active, #accordion ul:visited{border:0;outline: none;}
#accordion ul {background:none; margin-left:1.6em;border:0;outline: none;}
#accordion .ui-accordion-header-active, #accordion .ui-state-active, #accordion .ui-state-focus {border:0;outline: none;}
#accordion .ui-widget-content a {color: #336184;}

/* ==============================================
recent updates newsletter widget
===========================================*/
.recent-updates .title {width:100%;  font-weight:bold;  display: inline-block;}
.recent-updates .updated {border-right: 1px solid #ddd; padding: 0 8px 0 0; }
	.recent-updates .blogname, .recent-updates .updated {text-transform: uppercase;
    font-size: 0.6em;
    padding: 0 5px 0 0;
    color: #666; margin-bottom: 10px;
    display: inline-block;color: #909090;}
	.recent-updates .contentBlock .blogname, .recent-updates .contentBlock .updated {color: #bfbfbf;}
	.recent-updates .updated {padding:0 5px 0 0;}
	.recent-updates .contentBlock .updated {padding:0 5px 0 5px;}
	.recent-updates a:hover {  text-decoration:none;}

	
	.recent-updates span[class^="link-"],
	.ngg-navigation a,
	.ngg-navigation span,
	.page-numbers a,
	.page-numbers span {
		font-size: 0.9em;
		display: inline-block;
		float: none;
		padding: 2px 6px !important;
		margin: 6px 6px 0 0 !important;
		text-transform: uppercase;

		color: #737f90 !important;
		background-color: #e2e2e2;
		cursor: pointer;

		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		 border-radius: 2px;
		 border: 0 !important;
	}

	.recent-updates span[class^="link-"]:hover,
	.recent-updates span[class^="link-"].active,
	.page-numbers a:hover,
	.page-numbers span,
	#container .ngg-navigation a:hover,
	#container .ngg-navigation span.current {
		color: #465260 !important;
		background-color: #dbeaf5 !important;
	}

	ul.page-numbers {
		margin-top: 35px;
	}

	.page-numbers li,
	.page-numbers li.next {
		display: inline;
		zoom: 1;
		margin: 0;
		float: left;
	}
	.recent-updates .contentBlock .span-6 {overflow:hidden;align-items:center;width:48%;height:175px;}
	.recent-updates.span-9 {width:71%;}
	.recent-updates .contentBlock .featured:nth-of-type(even), .recent-updates.span-9 {margin-right:4%;}
	.recent-updates .contentBlock .featured img, .recent-updates .contentBlock .span-6 img {max-width:none;    flex-shrink: 0;
    min-width: 100%;height:auto;    min-height: 175px;
    width: auto;}
	.recent-updates .text {
    position: absolute;
    z-index: 2;
    bottom: 0px !important;
    left: 0px;
    right: 0px;
    display: block;
    background: rgba(0,0,0,0.7) !important;
    width: 100% !important;
    max-width: 100% !important;
}
.recent-updates .inner {position:relative;overflow:hidden;}
.recent-updates .span-6 .inner {height:175px;}
.recent-updates .featured {margin-bottom:20px;}
.recent-updates .featured .text h2 {color: #fff; font-size: .9em;font-family: Raleway, arial, sans-serif;font-weight:bold;margin:0.8rem 0 0 0; padding:0 10px;line-height:1.3em;}
.recent-updates .featured .updated {margin-left: 5px;}
.recent-updates a .inner .featured .text h2:hover {color: #efefef;}
ul.recent-updates li {border-bottom: 1px solid #efefef;}
ul.recent-updates .updated {    font-size: 0.7em;margin-bottom:8px;}
ul.recent-updates .title {line-height: 1.4em;
    margin-top: 5px;}
	
	.navigation {width:100%;}
	

	.pagination, #main .lcp_paginator {
	clear:both;
	padding:20px 0;
	position:relative;
	font-size:11px;
	line-height:13px;
	margin: 1.25rem 0;
	}

	.lcp_paginator li {border: 0 !important;}
	.pagination span, .pagination a, #main .lcp_paginator li a, #main .lcp_paginator li.lcp_currentpage {
	display:block;
	float:left;
/*	margin: 2px 2px 2px 0;*/
	padding:6px 9px 5px 9px;
	text-decoration:none;
	width:auto;
	color:#fff;
	background: #555;
	}
	#main .lcp_paginator li.lcp_currentpage {background: #3388c3;}
	.pagination span:hover, .pagination a:hover, #main .lcp_paginator li a:hover, #main .lcp_paginator li.lcp_currentpage:hover {opacity: .7;} 

	.pagination a:hover{
	color:#fff;
	background: #3279BB;
	}

	.pagination .current{
	padding:6px 9px 5px 9px;
	background: #3279BB;
	color:#fff;
	}
	.lcp_more {font-weight: bold;}
	.lcp_more:after {content: "\203A";margin-left:4px;}
/* ==============================================
gallery styling
===========================================*/
.gallery-caption {font-size:11px !important;width:85%;margin:5px auto 0 auto;text-align:center;-webkit-margin-start:0px !important;margin-left:auto !important;}
.gallery-caption p {margin:0;}
.gallery-item {overflow:hidden;}
.gallery-size-medium .gallery-item {max-width:none; height: 240px;}

/* ==========================================================================
   Responsive Design
   ========================================================================== */

   
.menu-mobile,   
.show-mobile {
	display: none;
}

@media screen and (max-width: 1250px) {
	header,
	.archousa header {
		background-position: 270px 10px, 0 0, 0 0;
	}
	
	.home header {
		background-position: 300px 100%, 0 0, 0 0;
	}

	.colocated header {
		background-position: 270px 50px, 10% 0, 0 0;
	}

	header nav {
		margin: 0 20px;
	}
}

@media screen and (max-width: 1200px) {
	.full-width.padding {
		padding: 0;
		margin-bottom: -25px;
	}
}
 
@media screen and (max-width: 999px) {

	footer img {		
		height: 65px !important;
	}
	
	.image-overlay .text h3 {
		font-size: 1.1em;
	}

	.image-overlay .text p {
		font-size: .7em;
	}

	.image-overlay-hover .image-overlay .text {
		padding-top: .5em;
	}	
}

@media screen and (max-width: 899px) {
	header form input {
		width: 80px;
	}

	header form input[type=submit] {
		width: auto;
	}
	
	.colocated header em {
		max-width: 150px;
	}
	header .logo img {
		height: 65px;}
		
		#slider h2, #slider .huge_it_slideshow_title_text_1 {
			font-size: 1.8em !important;
		}
	
		#slider .huge_it_slideshow_description_text_1 {font-size: .8em !important;line-height:1.2em;}
}
header .grid-12 .span-9 {width:60%;}

@media screen and (max-width: 765px) {
		
	[class^='span-'], .home .recent-updates .contentBlock .span-6 {
		width: 100% !important;
	}
	.home .recent-updates .contentBlock .span-6, .home .recent-updates .span-6 .inner {height:215px;}
	header .grid-12 .span-9, header [class^='span-'] {width:60% !important;}
	header .grid-12 .span-3, header [class^='span-'] {width:25% !important;}
	#events .span-4 {padding: 20px 0; border-bottom: 2px dotted #B5B5B5;}
	#slider .idx-cont, #slider .huge_it_slideshow_dots_thumbnails_1, #slider .huge_it_slideshow_dots_thumbnails_1 {height:20%;bottom:5px;}
	header,
	.home header,
	.colocated header,
	.archousa header{
		background-size: 700px, auto, auto;
		background-position: 25px 25px, 0 0, 0 0;
	}

	.home header	{
		background-position: 25px 100%, 0 0, 0 0;
	}
	
	header .topbar,
	header .logo em {
		display: none;
	}
	
	header nav {
		position: absolute;
		z-index: 4;
		top: 103px;
		right: 0px;
		display: inline-block;
		padding: 0 10px;
		width: auto;
	}
	
	header nav ul {
		padding: 0;
	}
	
	header .jetmenu li,
	header .jetmenu .showhide {
		display: none;
	}
	
	header .jetmenu .home li,
	header .jetmenu .home .showhide {
		display: block;
	}
	
	header nav .open,
	header nav .login,
	header nav .logout,
	header nav .profile {
		display: inline;
		cursor: pointer;	
	}
	
	header form,
	header .account,
	header .jetmenu .home {
		display: none;
	}
	
	header .jetmenu a {
		padding: 8px 10px;
	}
	
	header .secondary {
		float: none;
	}
	
	header section {
		clear: both;
		padding-top: 20px;
		text-align: left;
	}
	
	header section * {
		text-align: center;
	}
	
	header section p {
		max-width: 100%;
	}	

	footer .lines {
		margin: 0 !important;
	}
	
	footer .float-right .lines li:first-child {
		padding-top: 10px;
		border-width: 2px 
	}
	
	footer img {		
		height: 90px !important;
	}	
	
	footer .copyright {
		text-align: center;
	}
	
	.menu-panel {
		display: none;
		position: fixed;
		z-index: 10;
		top: 0;
		right: 0;		
		min-width: 300px;
		height: 100%;		

		overflow: auto;
		background: #3e3d3d;
	}
	
	.archousa .menu-panel {
		background: #2a0c2c;
	}

	.menu-mobile {
		display: block;
		padding: 1em 3em 1em 1em;
		
		position: relative;
		z-index: 11;
	}

	.menu-mobile {
		color: #fff;
	}
	
	.menu-mobile li {
		display: block;
		cursor: pointer;
	}
	.menu-mobile li.hidemobile {display:none;}
	
	.menu-mobile ul {
		padding-left: 1em;
	}
	
	.menu-mobile li a,
	.menu-mobile .trigger {
		display: block;
		padding: 10px;
	}
	
	.menu-mobile a .fa-search {
		display: none;
	}
	
	.menu-mobile ul {
		display: none;
	}
	
	.menu-mobile .open > ul {
		display: block;
	}
	
	.menu-mobile .close {
		position: absolute;
		top: 21px;
		right: 25px;
		font-size: 20px;
		font-size: 1.25rem;
		color: #666;
		cursor: pointer;
	}
	
	.menu-mobile .close:hover {
		color: #fff;
	}
	
	header .menu-mobile .pipe {
		padding: 4px 0;
	}
	
	#slider h2, #slider .huge_it_slideshow_title_text_1 {
		font-size: 1.2em !important;
	}
	
	#slider .huge_it_slideshow_description_text_1 {font-size: .8em !important;line-height:1.2em;}
	
	#slider .idx-cont {
		display: none;
	}	
	
	.hide-mobile {
		display: none !important;
	}
	
	.show-mobile {
		display: block !important;
	}
	
	.margin-top-large-mobile {
		margin-top: 50px !important;
	}

	.image-overlay .text h3 {
		font-size: 1.3em;
	}

	.image-overlay .text p {
		font-size: .8em;
	}
	
	.image-overlay.image-large img {
		margin-top: 0;
	}
	
	.image-overlay-hover .image-overlay .text {
		z-index: 99;
	}	
	#slider ul li {overflow:visible;}
/*	#slider ul li .overlay {position:initial; margin-top:0;}*/
	footer .grid-12 .inner li.widget {width:100%;}
	footer .grid-12 li.widget:nth-child(3) {margin-left:0;}
	#main .widget_dpe_fp_widget {margin-top:60px;}
}

@media screen and (max-width: 499px) {

	header .logo img {
		height: 62px;
		margin-top: 7px;
		max-width: none;
	}
	
	#slider h2, #slider .huge_it_slideshow_title_text_1 {
		font-size: 1em !important;
	}
		#slider .huge_it_slideshow_description_text_1 {font-size: .7em !important;line-height:1.2em;}

	header .secondary.last {
		margin-right: 0;
	}

	#cont,
	footer .width {	
		padding: 20px;
	}
	
	.input-button input {
		width: 70%;
	}
	
	#slider .overlay {
/*		position: initial;*/
		background: #000 !important;
		/*margin-top:20px;*/
	}
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
	

    a:link,
    a:visited {
        text-decoration: underline;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
	

	
	.overlay,
	.image-overlay p,
	.image-overlay h2,
	.image-overlay .text{
		color: #000 !important;
		border: 10 solid #fff !important;
		background-color: #fff !important;
	}
	
	.image-overlay-hover .image-overlay .text {
		bottom: 0;
	}	
	
	.padding {
		padding-top: 0;
		padding-bottom: 0;
	}

	.margin-top-large {
		margin-top: 0 !important;
	}

	header {		
		border: 0 !important;
	}
	
	header section {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	
	header .button {
		display: none;
	}
	
	header .logo {
		width: 100%;
	}
	
	#main {
		margin-top: 0 !important;
	}
	
	#main > .row > .float-right,
	#events [class^="span-"] {
		width: 100% !important;
	}

	#events {
		border: 0;
	}
	
	header form,
	header .account,
	header nav,
	#nav,
	footer,
	.idx-count {
		display: none !important;
	}
}
