<div>
	<a href="[+maxigallery.childurl+]">
		<img src="[(base_url)][+maxigallery.path_to_gal+]tn_[+maxigallery.picture.filename+]" class="thumbnail" title="[+maxigallery.strings.go_to_gallery+]" alt="[+maxigallery.strings.go_to_gallery+]" />
	</a>
	<p>[+maxigallery.pageinfo.pagetitle+]</p>
</div>
