[+maxigallery.embedtype:is=`slideshow`:then=` 
	countArticle = countArticle+1;
	mySlideData[+maxigallery.pageinfo.id+][countArticle] = new Array(
	'[(base_url)][+maxigallery.path_to_gal+][+maxigallery.picture.filename+]',
	'[+maxigallery.picture_link_url+]',
	'[+maxigallery.picture.title:htmlent+]',
	'[+maxigallery.picture.descr:htmlent+]');

`+]

[+maxigallery.embedtype:isnot=`slideshow`:then=`
 
<div>
[+maxigallery.embedtype:is=`slidebox`:then=` 

	<a href="[(base_url)][+maxigallery.path_to_gal+][+maxigallery.picture.filename+]" rel="lightbox_[+maxigallery.path_to_gal+]gallery">

`+]

[+maxigallery.embedtype:is=`lightboxv2`:then=` 

	<a href="[(base_url)][+maxigallery.path_to_gal+][+maxigallery.picture.filename+]" rel="lightbox[maxigallery]" title="[+maxigallery.picture.title:htmlent+] - [+maxigallery.picture.descr:htmlent+]">

`+]

[+maxigallery.embedtype:is=`slimbox`:then=` 

	<a href="[(base_url)][+maxigallery.path_to_gal+][+maxigallery.picture.filename+]" rel="lightbox[maxigallery]" title="[+maxigallery.picture.title:htmlent+] - [+maxigallery.picture.descr:htmlent+]">

`+]

[+maxigallery.embedtype:is=`popup`:then=` 

	<a href="javascript:void(0);" onClick="javascript:openWindow('[(base_url)][+maxigallery.path_to_gal+][+maxigallery.picture.filename+]','[+maxigallery.picture.title:htmlent+]',[+maxigallery.picture_height_normal+],[+maxigallery.picture_width_normal+],'gallery');">

`+]

[+maxigallery.embedtype:is=`external`:then=` 

	<a href="[(base_url)][+maxigallery.path_to_gal+][+maxigallery.picture.filename+]" rel="external">

`+]

[+maxigallery.embedtype:is=``:then=`
	
	<a href="[+maxigallery.picture_link_url+]">

`+]
	
	 	<img src="[(base_url)][+maxigallery.path_to_gal+]tn_[+maxigallery.picture.filename+]" class="thumbnail" title="[+maxigallery.picture.title:htmlent+] [+maxigallery.strings.click_to_zoom+]" alt="[+maxigallery.picture.title:htmlent+] [+maxigallery.strings.click_to_zoom+]" />
	
	</a>
	<p>
	[+maxigallery.picture.title:htmlent+]
	</p>
</div>
`+]