[+maxigallery.managebutton:isnot=``:then=`

	<center>[+maxigallery.managebutton+]</center>
	<br />
	
`+]

[+maxigallery.childgalleries:isnot=``:then=`
	<div class="thumbs">
		[+maxigallery.childgalleries+]
	</div>
	<br />
	
`+]

[+maxigallery.pagenumbers:isnot=``:then=`
	
	[+maxigallery.pagecount:isnot=`1`:then=`
	
		[+maxigallery.currentpage:is=`1`:then=`

			[+maxigallery.strings.previous+] |

		`:else=`
		
			<a href="[+maxigallery.previous_page_url+]">[+maxigallery.strings.previous+]</a> |
		`+]
	
		[+maxigallery.pagenumbers+]
	
		[+maxigallery.currentpage:is=`[+maxigallery.pagecount+]`:then=`

			[+maxigallery.strings.next+]

		`:else=`
	
			<a href="[+maxigallery.next_page_url+]">[+maxigallery.strings.next+]</a> 
	
		`+]
	
		<br /><br />
	`+]
`+]

[+maxigallery.embedtype:is=`slideshow`:then=`
	<div class="slideshowwrapper">
	<div class="jdSlideshow" id="mySlideshow[+maxigallery.pageinfo.id+]"></div>
	</div>
	<script type="text/javascript">
	countArticle = -1;
	var mySlideData[+maxigallery.pageinfo.id+] = new Array();
	[+maxigallery.pictures+]
	</script>
`+]

[+maxigallery.embedtype:isnot=`slideshow`:then=`
	<div class="thumbs">
		[+maxigallery.pictures+]
	</div>
`+]