<div class="managecontainer">
	<p>
		[+maxigallery.messages+]
	</p>
	<p>
		[+maxigallery.strings.gallery_description+]:
		<br />
		[+maxigallery.pageinfo.description+]
	</p>
	<div class="pictureform">
		<form action="[+maxigallery.urlaction+]" method="post" name="editform">
			[+maxigallery.hiddenfields.mainform+]
	
			<input type="button" value="[+maxigallery.strings.back_to_normal_view+]" onclick="location.href='[+maxigallery.urlback+]'"/>
			<input type="submit" value="[+maxigallery.strings.save_changes+]" />
	
			<br /><br />
		
			[+maxigallery.managepictures+]
		
		</form>
	</div>
	<div class="uploadform">
		<form action="[+maxigallery.urlaction+]" method="post" enctype="multipart/form-data" name="uploadform">
			[+maxigallery.hiddenfields.uploadform+]

			[+maxigallery.uploadpictures+]
	
			<br class="clearboth" />
	
			<input type="submit" value="[+maxigallery.strings.upload_pictures+]" />
		</form>
	</div>
	<hr />
</div>