/**************************************************************
   AUTHOR:  Pat Heard (fullahead.org)
   DATE:    2006.11.14
   PURPOSE: Controls the layout of the site and styles
            the menus
 **************************************************************/



/**************************************************************
   #content: Sets the width of the site.  Make changes here
             to convert to a fixed width site.
 **************************************************************/

#content {  
  float: left;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 850px;

  text-align: left;
}

#content[id] {
  height: auto;  
}





/**************************************************************
   #header: Holds the site title and header images
 **************************************************************/

#header {
  position: relative;
  height: 125px;
  z-index: 1;
  background-color: #000;
}

#header img.logo {
  position: absolute;
  top: 10px;
  left: 7px;
}

#header img.greek {
  position: absolute;
  top: 0;
  left: 270px; 
}

#header a img {
  border: 0;
}

/* Used for SEO and text readers */
#header h1 {
  margin: 0;
  padding: 0;
  text-indent: -100em;
}

/* Coloured bars at top */
#header .thick,
#header .thin {
  position: absolute;
  left: 0;
  width: 100%;
  font-size: 1px;
}

#header .thick {  
  top: 118px;
  height: 5px;
  font-size: 1px; 
}

#header .thin {
  top: 123px;
  height: 2px;
}


/* Header quote */
#header .quote {
  position: absolute;
  z-index: 10;
  bottom: 10px;
  left: 210px; 
  
  /* FIX */
  width: 640px;
}


/* Sign Out Link */
#header .signout {
  position: absolute;
  top: 10px;
  left: 790px;
}


/**************************************************************
   #page: Holds the main page content.
 **************************************************************/

#page {
  float: left;
  /* 840px + 10px right padding gives the 850px width */
  width: 1014px; 
  clear: both;
  
  padding: 1em 10px 5.5em 0;  
}


/**************************************************************
   #sidenav: Side navigation
 **************************************************************/

#sidenav {
  float: left;
  width: 210px;
}

/* The side menu */ 
#sidenav ul {
  margin: 0 15px 10px 15px;
  padding: 0;
  list-style: none;
}

#sidenav ul li {
  margin: 0;
  padding: 0;
  display: inline;
}

#sidenav ul li a,
#sidenav ul li span {
  display: block; 
}


/* Hides from IE-mac \*/
* html #sidenav ul li a {
  height: 1%;
}
/* End hide from IE-mac */

#sidenav ul li a span {
  display: block;
  padding: 2px 0;
}

#sidenav ul li span {
  padding: 2px 0;
}

#sidenav ul li a:hover,
#sidenav ul li a:hover span {
  background-color: #BDD8EB;
}


/* Submenu definition begins */

#sidenav ul ul {
  display: none;
  margin: 0;
  padding: 5px;  
}

#sidenav ul li.here ul {
  display: block;
  margin: 0;
  padding: 0 0 0 10px;  
}


/* Submenu Items */

#sidenav ul li.here ul li a,
#sidenav ul li.here ul li a span {
  display: block;
}


/**************************************************************
   #footer: The page footer - will stick to the bottom if not
            enough content.
 **************************************************************/

#footer {
  float: left;
  position: relative;
  width: 850px;
  clear: both;  
  
  margin-top: -5.3em;
  height: 5.3em; 
}


#footer #copyright {  
  position: absolute;
  top: 0;
  left: 375px;

  width: 300px;    
  padding-top: 20px;  
  text-align: center;
  border-top: 2px solid #CCC;
}




/**************************************************************
   Various login, search and other forms
 **************************************************************/
 
.searchForm {
  margin: 10px 15px;
}

.loginForm {
  margin-bottom: 4px;
  text-align: center;
}

#header .loginForm {
  position: absolute;
  z-index: 10;
  top: 5px;
  left: 0;
  width: 835px;

  text-align: right;
}

.searchForm a img,
.loginForm a img {
  position: relative;
  top: 5px !important;
  top: 3px;
  left: 3px;
  border: 0;
}

.searchForm a:hover,
.loginForm a:hover {
  background: none;
}


.loginForm input,
.searchForm input {
 position: relative;
 top: 2px !important;
 top: 4px;
}

.loginForm input.button,
.searchForm input.button,
.searchForm img {
 position: static;

 cursor: pointer;
 vertical-align: middle;

 background: none;
 border: 0;
}



/**************************************************************
   AJAX search results
 **************************************************************/

#ajaxSearch_output {
  margin: 15px;  
}

.AS_ajax_result {
  margin-bottom: 10px;
}

.AS_ajax_resultDescription {
  display: block;
}


/**************************************************************
   .contentBlock: gives the blocks of content their faint
                  gray background
 **************************************************************/

.contentBlock {
  margin-bottom: 15px;
  padding: 6px 10px;
  background-color: #F4F4F4;
}

.contentFooter {
 margin-top: -15px;
 padding: 6px 10px;
 background-color: #E7E7E7;
 margin-bottom: 15px;
 border-top: 1px solid #D0C8C8;
clear:both;
}

span.navigation {
text-align: right;
font-size: smaller;
}

span.pub_date, span.category {
display: block;
font-size: smaller;
}

/**************************************************************
   Press Releases list
 **************************************************************/

ul.pressReleases {
  margin: 5px 5px 10px 18px;
  padding: 0;
}

ul.pressReleases li {
  margin: 0;
  padding: 0;
list-style-type: none;
}

ul.pressReleases li a {
  display: block;
  padding: 3px 0;
}

ul.pressReleases li a span.desc, span.location, span.article, span.date {
  display: block;
}

ul.pressReleases li a:hover {
  background-color: #DBEAF5;
}




/**************************************************************
   Galleries (main gallery selection page)
 **************************************************************/

/* FIX (most of this section has changed) */
/* OLD STUFF */
/*
ul.galleries {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
}

ul.galleries li {
  display: inline;
  margin: 0;
  padding: 0;
}

ul.galleries li a {
  float: left;  
  width: 190px;
  margin: 0 7px 15px 0;
  padding: 3px;
  text-decoration: none;
  text-align: center;
}

ul.galleries li.last a {
  margin-right: 0;
}

ul.galleries li a img {
  border: 0;  
  height: 126px;
}

ul.galleries li a span.title {
  display: block;
}
*/

ul.galleries {
 margin: 0;
 padding: 0;
 list-style: none;
 clear: both;
}

ul.galleries li {
 float: left;
 width: 190px;
 margin: 0 7px 20px 0;
 padding: 0;
 text-align: center;
}

ul.galleries li a {
 padding: 3px;
}

ul.galleries li br {
 margin-top: -15px;
 display: block;
}

ul.galleries li a:hover {
 background: none;
}

ul.galleries li a img {
 border: 0;
 height: 126px;
}

ul.galleries li a span.title {
 display: block;
 padding-top: 10px;
 text-decoration: underline;
}


/**************************************************************
   Child Galleries 
(child gallery 
selection page)
 
**************************************************************/

ul.childgalleries {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
}

ul.childgalleries li {
  display: inline;
  margin: 0;
  padding: 0;
}

ul.childgalleries li a {
  float: left;  
  width: 190px;
  margin: 0 4px 15px 0;
  padding: 3px;
  text-decoration: 
none;
}

ul.childgalleries li.last a {
  margin-right: 0;
}

ul.childgalleries li a img {
  border: 0;
}

ul.childgalleries li a span.title {
  display: block;
  text-align: center;
}

/**************************************************************
   Gallery (subpage with thumbnails and scrolling container)
 **************************************************************/

div.thumbnails {
  width: 570px;
  margin: 10px;
  padding: 10px;
  height: 250px;
  overflow: auto;
  background-color: #ECECEC;  
}

div.thumbnails ul {
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
}

div.thumbnails ul li {
  display: inline;
  margin: 0;
  padding: 0;  
}

div.thumbnails ul li a {
  margin: 3px;
  text-decoration: none;
}

div.thumbnails ul li a img {
  border: 2px solid #ECECEC;
  vertical-align: middle;
}

div.thumbnails ul li a:hover img {
  border: 2px solid #80AFD1;
}

div.thumbnails ul li.selected a img,
div.thumbnails ul li.selected a:hover img {
  border: 2px solid #F59F1A;
}


/* Holds the currently display image */
#image {
  margin: 20px 10px 10px 10px;
  text-align: center;
  height: 600px;
  background-position: top center;
  background-repeat: no-repeat;
  
}



/**************************************************************
   Width classes used by the site columns
 **************************************************************/

.width804 {
  width: 804px;
}

.width630 {
  width: 630px;
}

.width460 {
 width: 400px;
}

.width360 {
  width: 360px;
}

.width305 {
  width: 305px;
}

.width250 {
  width: 250px;
}

.width100 {
  width: 100%;
}

.width75 {
  width: 74%;
}

.width66 {
  width: 65.5%;
}

.width50 {
  width: 49.7%;
}

.width40 {
  width: 39%;
}

.width33 {
  width: 32.7%;
}

.width25 {
  width: 24.7%;
}


.width20 {
  width: 19.5%;
}

.width10 {
  width: 9.5%;
}


/**************************************************************
   Alignment classes
 **************************************************************/

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.alignCenter {
  text-align: center;
}


/**************************************************************
   Generic colour definitions
 **************************************************************/

.red {
  background-color: #8c1401; /*#BF311B;*/
}

.redFont {
  color: #8c1401; /*#BF311B;*/
  font-weight: bold;
}

.yellow {
  background-color: #F59F1A;
}

.yellowFont {
  color: #F59F1A;
}
 
.blue {
  background-color: #3E85B7;
}

.green {
  background-color: #768526;
}

.purple {
  background-color: #A64399;
}

.black {
  background-color: #182B34;
}




/**************************************************************
   Generic display classes
 **************************************************************/

.clear {
  clear: both;
}

.block {
  display: block;
}

.small {
  font-size: 0.9em;
}

.imageCaptionRight {
  float: right;
  padding: 5px 0px 10px 15px;
  text-align: center;
}

.imageCaptionLeft {
  float: left;
  padding: 5px 15px 10px 0px;
  text-align: center;
}

.imageCaptionRight img,
.imageCaptionLeft img {
  padding-bottom: 3px;
}

/*.archonImage {
  border: 1px solid #ccc; 
  margin: 0px 8px 4px 8px; 
  padding: 2px; 
  width: 200px;
  text-align: center;
}*/

.archonImageLeft {
  margin: 0 8px 2px 0;
  background-color: #DADADA;
  padding-bottom: 0.5em;
}

.archonImageLeft span.caption {
display: block;
font-size: smaller;
margin: 0 0 0 4px;
line-height: 1.2em;
}

.archonImageLeft span.title, span.boule {
display: block;
font-size: smaller;
margin: 0 0 0 4px;
line-height: 1.2em;
color: #6a6a6a;
}

.archonImageRight {
margin: 0 0 0 8px;
background-color: #C1C1C1;
padding-bottom: 0.5em;
}

.archonImageRight span.caption {
display: block;
font-size: smaller;
margin: 0 0 0 4px;
line-height: 1.2em;
}

.archonImageRight span.title, span.boule {
display: block;
font-size: smaller;
margin: 0 0 0 4px;
line-height: 1.2em;
color: #6a6a6a;
}




.foundation {
  background: transparent url(../images/bg/foundation-logo.gif) no-repeat top left;
  width: 620px;
  height: 76px;
}

/*fixes the lost password problem*/

#WebLoginLayer0,
#WebLoginLayer2 {
 z-index: 10;
}

