
/* =Hoverbox Code
----------------------------------------------------------------------*/

/* CHANGED: corrected selector and removed margins and padding */
ul.hoverbox 
{
	cursor: default;
	list-style: none;
	
	padding: 0;
	margin: 0;
}
/* END CHANGE */

.hoverbox a
{
	cursor: default;
}

.hoverbox a .preview
{
	display: none;
}

.hoverbox a:hover .preview
{
	display: inline;
	position: absolute;
	top: -33px;
	left: -45px;
	z-index: 1;
}

.hoverbox img
{
	border-color: #aaa #ccc #ddd #bbb;
	border-style: solid;
	border-width: 1px;

	vertical-align: top;
	
	
	/* CHANGED: reduced size to allow for multi stack */
	margin: 10px 5px;
	width: 64px;
	height: 64px;
	/* END CHANGE */
	
}

.hoverbox li
{
	display: inline;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	
}

.hoverbox .preview
{
	border-color: #000;
	width: 176px;
	height: 182px;
}