/**************************************************************
   AUTHOR:  Pat Heard (fullahead.org)
   DATE:    2006.11.14 
   PURPOSE: Fixes IE's major problems
 **************************************************************/


 /* min-width hack for IE since it doesn't understand the valid css property */
#content { 
  width: expression(document.body.clientWidth < 851 ? "850px" : "100%");  
}

/* deal with page re-flows (hide from IE mac) \*/
.contentBlock {
  height: 1%;
}
/* end hide from IE mac */

ul.galleries li br {
 display: none;
}

