#hd {
	margin-bottom: 24px;
}

#hd h2 {
	font-size: 14px;
}

#showcart {
	float: right;
}


.yui-g h2 {
	font-size: 28px;
}

.yui-u {

	margin: 9px 0 18px 0;
	background-color: #D7C48C;
}
.yui-u span  {
	display: block;
}

.yui-u span.title {
	background-color: #B6964F;
	padding: 6px;
	font-size: 14px;
	font-weight: bold;
}

.yui-u span.desc {
	background-color: #E3D7BB;
	margin-top: -3px;
	padding: 6px;
	font-weight: bold;
	text-align: center;
}

.yui-u span.paypal {
	background-color: #FAF5EB;
	padding: 6px;
   	text-align: center;
}

.class {
	clear: both;
}

#ft {
	font-size: 10px;
	text-align: center;
	padding: 12px;
}

/* START ADD */
.width750 {
  margin: 0;
  padding: 0;
  width: 750px;
}

.yui-gb {
  width: 720px;
}

.yui-gb .yui-u {
	width: 225px;
	margin-right: 5px;
}

#showcart {
  margin-right: 20px !important;
  margin-right: 0;
}

/* END ADD */