/**************************************************************
   AUTHOR:  Pat Heard (fullahead.org)
   DATE:    2006.11.14
   PURPOSE: Controls the layout of the site and styles
            the menus
 **************************************************************/



/**************************************************************
   #content: Sets the width of the site.  Make changes here
             to convert to a fixed width site.
 **************************************************************/

#content {
  float: left;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 850px;

  text-align: left;
}

#content[id] {
  height: auto;
}





/**************************************************************
   #header: Holds the site title and header images
 **************************************************************/

#header {
  position: relative;
  height: 125px;
  z-index: 1;
  background-color: #000;
}

#header img.logo {
  position: absolute;
  top: 10px;
  left: 7px;
}

#header img.greek {
  position: absolute;
  top: 0;
  left: 270px;
}

#header a img {
  border: 0;
}

/* Used for SEO and text readers */
#header h1 {
  margin: 0;
  padding: 0;
  text-indent: -100em;
}

/* Coloured bars at top */
#header .thick,
#header .thin {
  position: absolute;
  left: 0;
  width: 100%;
  font-size: 1px;
}

#header .thick {
  top: 118px;
  height: 5px;
  font-size: 1px;
}

#header .thin {
  top: 123px;
  height: 2px;
}


/* Header quote */
#header .quote {
  position: absolute;
  z-index: 10;
  bottom: 10px;
  left: 210px;

  /* FIX */
  width: 640px;
}


/* Sign Out Link */
#header .signout {
  position: absolute;
  top: 10px;
  left: 790px;
}


/**************************************************************
   #page: Holds the main page content.
 **************************************************************/

#page {
  float: left;
  /* 840px + 10px right padding gives the 850px width */
  width: 1014px;
  clear: both;

  padding: 1em 10px 5.5em 0;
}


/**************************************************************
   #sidenav: Side navigation
 **************************************************************/

#sidenav {
  float: left;
  width: 210px;
}

/* The side menu */
#sidenav ul {
  margin: 0 15px 10px 15px;
  padding: 0;
  list-style: none;
}

#sidenav ul li {
  margin: 0;
  padding: 0;
  display: inline;
}

#sidenav ul li a,
#sidenav ul li span {
  display: block;
}


/* Hides from IE-mac \*/
* html #sidenav ul li a {
  height: 1%;
}
/* End hide from IE-mac */

#sidenav ul li a span {
  display: block;
  padding: 2px 0;
}

#sidenav ul li span {
  padding: 2px 0;
}

#sidenav ul li a:hover,
#sidenav ul li a:hover span {
  background-color: #BDD8EB;
}


/* Submenu definition begins */

#sidenav ul ul {
  display: none;
  margin: 0;
  padding: 5px;
}

#sidenav ul li.here ul {
  display: block;
  margin: 0;
  padding: 0 0 0 10px;
}


/* Submenu Items */

#sidenav ul li.here ul li a,
#sidenav ul li.here ul li a span {
  display: block;
}


/**************************************************************
   #footer: The page footer - will stick to the bottom if not
            enough content.
 **************************************************************/

#footer {
  float: left;
  position: relative;
  width: 850px;
  clear: both;

  margin-top: -5.3em;
  height: 5.3em;
}


#footer #copyright {
  position: absolute;
  top: 0;
  left: 375px;

  width: 300px;
  padding-top: 20px;
  text-align: center;
  border-top: 2px solid #CCC;
}




/**************************************************************
   Various login, search and other forms
 **************************************************************/

.searchForm {
  margin: 10px 15px;
}

.loginForm {
  margin-bottom: 4px;
  text-align: center;
}

#header .loginForm {
  position: absolute;
  z-index: 10;
  top: 5px;
  left: 0;
  width: 835px;

  text-align: right;
}

.searchForm a img,
.loginForm a img {
  position: relative;
  top: 5px !important;
  top: 3px;
  left: 3px;
  border: 0;
}

.searchForm a:hover,
.loginForm a:hover {
  background: none;
}


.loginForm input,
.searchForm input {
 position: relative;
 top: 2px !important;
 top: 4px;
}

.loginForm input.button,
.searchForm input.button,
.searchForm img {
 position: static;

 cursor: pointer;
 vertical-align: middle;

 background: none;
 border: 0;
}



/**************************************************************
   AJAX search results
 **************************************************************/

#ajaxSearch_output {
  margin: 15px;
}

.AS_ajax_result {
  margin-bottom: 10px;
}

.AS_ajax_resultDescription {
  display: block;
}





/**************************************************************
   .contentBlock: gives the blocks of content their faint
                  gray background
 **************************************************************/

.contentBlock {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #F4F4F4;
}

.contentFooter {
 margin-top: -15px;
 padding: 2px 10px 4px 10px;
 background-color: #E7E7E7;
 margin-bottom: 15px;
 border-top: 1px solid #D0C8C8;
clear:both;
}

span.navigation {
text-align: right;
font-size: smaller;
}

span.pub_date, span.category {
display: block;
font-size: smaller;
}


/**************************************************************
   Press Releases list
 **************************************************************/

ul.pressReleases {
  margin: 5px 5px 10px 18px;
  padding: 0;
}

ul.pressReleases li {
  margin: 0;
  padding: 0;
}

ul.pressReleases li a {
  display: block;
  padding: 3px 0;
}

ul.pressReleases li a span.desc {
  display: block;
}

ul.pressReleases li a:hover {
  background-color: #DBEAF5;
}




/**************************************************************
   Galleries (main gallery selection page)
 **************************************************************/

/* FIX (most of this section has changed) */
/* OLD STUFF */
/*
ul.galleries {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
}

ul.galleries li {
  display: inline;
  margin: 0;
  padding: 0;
}

ul.galleries li a {
  float: left;
  width: 190px;
  margin: 0 7px 15px 0;
  padding: 3px;
  text-decoration: none;
  text-align: center;
}

ul.galleries li.last a {
  margin-right: 0;
}

ul.galleries li a img {
  border: 0;
  height: 126px;
}

ul.galleries li a span.title {
  display: block;
}
*/

ul.galleries {
 margin: 0;
 padding: 0;
 list-style: none;
 clear: both;
}

ul.galleries li {
 float: left;
 width: 190px;
 margin: 0 7px 20px 0;
 padding: 0;
 text-align: center;
}

ul.galleries li a {
 padding: 3px;
}

ul.galleries li br {
 margin-top: -15px;
 display: block;
}

ul.galleries li a:hover {
 background: none;
}

ul.galleries li a img {
 border: 0;
 height: 126px;
}

ul.galleries li a span.title {
 display: block;
 padding-top: 10px;
 text-decoration: underline;
}


/**************************************************************
   Child Galleries
(child gallery
selection page)

**************************************************************/

ul.childgalleries {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
}

ul.childgalleries li {
  display: inline;
  margin: 0;
  padding: 0;
}

ul.childgalleries li a {
  float: left;
  width: 190px;
  margin: 0 4px 15px 0;
  padding: 3px;
  text-decoration:
none;
}

ul.childgalleries li.last a {
  margin-right: 0;
}

ul.childgalleries li a img {
  border: 0;
}

ul.childgalleries li a span.title {
  display: block;
  text-align: center;
}

/**************************************************************
   Gallery (subpage with thumbnails and scrolling container)
 **************************************************************/

div.thumbnails {
  width: 570px;
  margin: 10px;
  padding: 10px;
  height: 250px;
  overflow: auto;
  background-color: #ECECEC;
}

div.thumbnails ul {
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
}

div.thumbnails ul li {
  display: inline;
  margin: 0;
  padding: 0;
}

div.thumbnails ul li a {
  margin: 3px;
  text-decoration: none;
}

div.thumbnails ul li a img {
  border: 2px solid #ECECEC;
  vertical-align: middle;
}

div.thumbnails ul li a:hover img {
  border: 2px solid #80AFD1;
}

div.thumbnails ul li.selected a img,
div.thumbnails ul li.selected a:hover img {
  border: 2px solid #F59F1A;
}


/* Holds the currently display image */
#image {
  margin: 20px 10px 10px 10px;
  text-align: center;
  height: 600px;
  background-position: top center;
  background-repeat: no-repeat;

}

/**************************************************************
   Messages and icons
 **************************************************************/

.message {
	background: #ffc;
	list-style: none;
	margin: 10px 0;
	padding: 1px;
}

.message li {
	margin: 5px;
	padding: 5px 5px 5px 20px;
}

.message li.error {
	background: url(../images/icons/cancel.png) no-repeat 0 50%;
}

.message li.success {
	background: url(../images/icons/accept.png) no-repeat 0 50%;
}

.message li.warning {
	background: url(../images/icons/warning.png) no-repeat 0 50%;
}

a.icon {
	padding-top: 1px;
	padding-bottom: 1px;
}

a.add {
	padding-left: 20px;
	color: #558c15;
	background: url(../images/icons/add.png) no-repeat 0 50%;
}

a.remove {
	padding-left: 20px;
	color: #888;
	background: url(../images/icons/cancel-gray.png) no-repeat 0 50%;
}

a:hover.remove {
	color: #c00;
	background: url(../images/icons/cancel.png) no-repeat 0 50%;
}

a.add.reverse,
a.remove.reverse,
a:hover.add.reverse,
a:hover.remove.reverse {
	padding-left: 0;
	padding-right: 20px;
	background-position: 100% 50%;
}




/**************************************************************
   Big buttons
 **************************************************************/

 /* default, green button */
a.big-button,
span.big-button,
input.big-button {
    padding: 10px 0;
    margin: 10px 0;

	display: block;
	width: 100%;
	text-align: center;

    border-radius: 2px;
    border: 1px solid #67900e;
    color: #3e540f;
	cursor: pointer;
	text-decoration: none;

	background: #99c33f url(../images/bg/big-button-green.png) repeat-x 0 0;
}

a:hover.big-button,
input:hover.big-button {
    color: #263506;
	background: #a4d146 url(../images/bg/big-button-green.png) repeat-x 0 -37px;
}

/* blue button */
a.big-button.blue,
input.big-button.blue {
    border-color: #3274a3;
    color: #104061;
	background: #5cafe8 url(../images/bg/big-button-blue.png) repeat-x 0 0;
}

a:hover.big-button.blue,
input:hover.big-button.blue {
    border-color: #3274a3;
    color: #104061;
	background: #75c2f6 url(../images/bg/big-button-blue.png) repeat-x 0 -37px;
}

/* disabled button */
a.big-button.gray,
a:hover.big-button.gray,
span.big-button {
    border-color: #aaaaaa;
    color: #666;
	cursor: default;

	background: #dddddd; /* Old browsers */
	background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* W3C */
}

a.big-button.inline-block,
span.big-button.inline-block,
input.big-button.inline-block {
	display: inline-block;
	vertical-align: middle;
	padding: 5px;
	width: auto;
}

/**************************************************************
   Width classes used by the site columns
 **************************************************************/

.width804 {
  width: 804px;
}

.width630 {
  width: 630px;
}

.width500 {
 width: 500px;
}

.width460 {
 width: 460px;
}

.width360 {
  width: 360px;
}

.width305 {
  width: 305px;
}

.width275 {
  width: 275px;
}

.width250 {
  width: 250px;
}

.width100 {
  width: 100%;
}

.width75 {
  width: 74%;
}

.width66 {
  width: 65.5%;
}

.width50 {
  width: 49.7%;
}

.width40 {
  width: 39%;
}

.width33 {
  width: 32.7%;
}

.width25 {
  width: 24.7%;
}


.width20 {
  width: 19.5%;
}

.width10 {
  width: 9.5%;
}


/**************************************************************
   Alignment classes
 **************************************************************/

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right !important;
}

.alignCenter {
  text-align: center;
}


/**************************************************************
   Generic colour definitions
 **************************************************************/

.red {
  background-color: #8c1401; /*#BF311B;*/
}

.redFont {
  color: #8c1401; /*#BF311B;*/
  font-weight: bold;
}

.yellow {
  background-color: #F59F1A;
}

.yellowFont {
  color: #F59F1A;
}

.blue {
  background-color: #3E85B7;
}

.green {
  background-color: #768526;
}

.purple {
  background-color: #A64399;
}

.black {
  background-color: #182B34;
}

.gray {
  color: #999;
}

/**************************************************************
   Generic display classes
 **************************************************************/

.clear {
  clear: both;
}

.block {
  display: block;
}

.small {
  font-size: 0.9em !important;
}

.marginTopNone {
	margin-top: 0 !important;
}

.marginRight15 {
  margin-right: 15px !important;
}

.marginBottom20 {
	margin-bottom: 20px !important;
}

.marginBottom5 {
	margin-bottom: 5px !important;
}

.pipe {
	font-size: 12px;
	color: #aaa;
	padding: 0 5px;
}

.lineTop {
	border-top: 1px solid #ccc;
	padding-top: 10px;
	margin-top: 5px;
}

.lineHeightSmall {
	line-height: 90%;
}

img.border {
	border: 5px solid #fff;
	outline: 1px solid #ddd;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	box-sizing: border-box;
	max-height: 230px;
	min-height: 150px;
	height: auto;
}

.imageCaptionRight {
  float: right;
  padding: 5px 0px 10px 15px;
  text-align: center;
}

.imageCaptionLeft {
  float: left;
  padding: 5px 15px 10px 0px;
  text-align: center;
}

.imageCaptionRight img,
.imageCaptionLeft img {
  padding-bottom: 3px;
}

.archonImage {
  border: 1px solid #ccc;
  margin: 0px 8px 4px 8px;
  padding: 2px;
  /*width: 200px;*/
  text-align: center;
}

.foundation {
  background: transparent url(../images/bg/foundation-logo.gif) no-repeat top left;
  width: 620px;
  height: 76px;
}

/*fixes the lost password problem*/

#WebLoginLayer0,
#WebLoginLayer2 {
 z-index: 10;
}

