/**************************************************************
   AUTHOR:  Pat Heard (fullahead.org)
   DATE:    2006.11.14
   PURPOSE: Controls the styling of text only
 **************************************************************/


/**************************************************************
   #header: Holds the site title and header images
 **************************************************************/

#header .quote {
  color: #FFF;
}

/* Sign Out Link */
#header .signout {
  color: #5CA4D7;
}

#header :hover.signout {
  color: #AED8F5;
  background-color: #333;
}


/* Header chapter info */
#header .chapter {
  font: bold 1.25em arial, sans-serif;
  color: #F59F1A;
}



/**************************************************************
   .sidemenu: Sidemenu for sub-navigation
 **************************************************************/


#sidenav ul li a,
#sidenav ul li span {
  font: 700 14px arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #426781;
}


#sidenav ul li a:hover,
#sidenav ul li a:hover span {
  color: #16354B;

}

#sidenav ul li.here a,
#sidenav ul li.here span {
  color: #3E85B7;
}


/* Submenu Items */

#sidenav ul li.here ul li a,
#sidenav ul li.here ul li a span {
  font-size: 12px;
  letter-spacing: 0px; 
}



/**************************************************************
   #footer: The page footer - will stick to the bottom if not
            enough content.
 **************************************************************/

#footer { 
  font: 400 0.9em arial, sans-serif;  
}



/**************************************************************
   Press Releases list
 **************************************************************/


ul.pressReleases li a {
  text-decoration: none;
}

ul.pressReleases li a span.date {
  text-decoration: underline;
}

ul.pressReleases li a span.desc {
  color: #111;
}



/**************************************************************
   HTML Elemenets
 **************************************************************/

body {
  font: 400 0.75em arial, sans-serif;
  line-height: 140%;

  color: #111;
}


h1 {   
  font: 700 1.2em arial, sans-serif;
  color: #FFF;
}

h2 {
  font: 700 1.15em arial, sans-serif;
  letter-spacing: -0.01em;
}

a {
  color: #3E85B7;
}

a:hover {
  color: #235C84;
  background-color: #DBEAF5;
}

del {
  color: #888;
}



/**************************************************************
   Form Elements
 **************************************************************/


input,
textarea,
select {
  font: 400 1em arial, sans-serif;
}



/**************************************************************
   Galleries (gallery selection page)
 **************************************************************/

ul.galleries li a span.title {
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: -0.01em;
  text-decoration: none;
}

/**************************************************************
    Child Galleries (child gallery selection page)
 **************************************************************/

ul.childgalleries li a span.title {
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: -0.01em;
  text-decoration: underline;
}


