/**************************************************************
   AUTHOR:  Pat Heard (fullahead.org)
   DATE:    2006.11.20
   PURPOSE: Styles polls and their results
 **************************************************************/
 
 /* This remove the border/bg from radio buttons and check boxes,
    but it'll cause problems if you want an input field used in the poll */
 .poll input {
   border: 0;
   background: none;
 }
 
 .poll hr {
   display: none;
 }
 
 .poll_container {
   margin: 0 auto;   
 }
 
 .poll_question {
   margin: 5px 0; 
   /*text-align: center;*/
   font: 700 1.15em arial, sans-serif;
   letter-spacing: -0.01em;  
 }
 
 .poll_question input {
   width: 66px;
   height: 20px;
   margin: 0 5px 0 0;
      
   font: 400 0.9em arial, sans-serif;
   text-align: center;
   cursor: pointer;
   background: url(../images/bg/button_blank.gif) no-repeat center center;
 }
 
 .poll_button {
   width: 66px;
   height: 20px;
   margin: 0 5px 0 0;
      
   font: 400 0.9em arial, sans-serif;
   text-align: center;
   cursor: pointer;
   background: url(../images/bg/button_blank.gif) no-repeat center center;
 }
 
 .poll_row_container {   
   padding: 0.2em 0;
 }
 
 .poll_choice {
   float: left;
   width: 30%;
   padding-left: 0;   
 }
 
 .poll_votes {
   float: left;
   width: 15%;   
   padding-right: 0.5em;
   text-align: right;
 }
 
 .poll_bar_container {
   float: left;
   width: 33%;
   height: 0.98em;   
   margin: 0.1em;
   border: 1px solid #3E85B7;
 }
 
 .poll_bar {
   float:left;
   height: 0.98em;
   background-color: #83B9DF;   
 }
 
 .poll_percent {   
   margin: 0 auto;
   padding-left: 1em;
   font-size: 0.9em;
   text-align: left; 
 }
 
 .poll_totalvotes {
   width: 45%;
   text-align: right;
 }
 
 .float_left_text_right {
   float: left;
   width: 49%;   
   text-align: right;
 }
 
 .float_right_text_left {
   float: right;
   width: 49%;
 }
 
 .space_line {
   clear: both; 
   width: 90%;
   margin: 0; 
   padding: 0;    
}