h2 {font-family:verdana,helvetica,sans-serif; font-size:18px; color:#003399; font-weight:normal; align:center}
h3 {font-family:verdana,helvetica,sans-serif; font-size:14px; color:#990000; font-weight:bold;}
h4 {font-family:verdana,helvetica,sans-serif; font-size:12px; font-weight:bold;}
.leftnav {font-size:12px; background-color:#eeeef5; color:#000000; margin-top:0px; margin-bottom:0px}
.module {font-size:14px; color:#660000; margin-bottom:10px; border-bottom:1px solid #cccccc;}

ul {margin-top:0px;}
li {font-family:verdana,helvetica,sans-serif; font-size:13px;}

p,td {font-family:verdana,helvetica,sans-serif; font-size:13px}
.small {font-size:11px}
.smallest {font-family:verdana,helvetica,sans-serif; font-size:10px}
.footer {font-size:10px; color:#ffffff}
.pr-subhead {font-weight:bold; font-style:italic;}
.quote {font-style:italic; text-indent:2em;}
.source {font-style:italic; text-align:right;}
.breadcrumb {font-family:verdana,helvetica,sans-serif; font-size:10px}
.normal {font-size: 13px;}

.head-page {font-family:verdana,helvetica,sans-serif; font-size:16px; color:#990000; border-bottom:1px dotted #cccccc;}
.head-sub {font-size:11px; font-weight:bold;}
.head-sub13 {font-size:13px; font-weight:bold;}


.leftnav-text {font-family:verdana,helvetica,sans-serif; font-size:10px; padding:0px 4px; margin:4px 0px 8px; line-height:1em;}

.content-main {
	width:100%;
	margin:10px;
}

.content-gen {
	margin:10px;
}

.content-border {
	width:100%;
	border:1px;
	border-style:solid;
	border-color:#cccccc;
}

.embed {
	padding:10px;
	border:1px;
	border-right:0px;
	border-style:solid;
	border-color:#cccccc;
	float:right;
	display:inline;
	text-align:center;
}


//form field formatting

input { font-family: Verdana; font-size: 11px;
	height:16px;
	border:1px;
	border-style:solid;
	border-color:#333333; }

.banner-search-input {
	width:155px;
	height:16px;
	border:1px;
	border-style:solid;
	border-color:#333333;
	font-family:verdana,helvetica,sans-serif;
	font-size:10px;
}

.form-find_ag {
	height:16px;
	width:260px;
	border:1px;
	border-style:solid;
	border-color:#333333;
	font-family:verdana,helvetica,sans-serif;
	font-size:10px;
}

.banner-input {
	width:120px;
	height:16px;
	border:1px;
	border-style:solid;
	border-color:#cccccc;
	font-family:verdana,helvetica,sans-serif;
	font-size:10px;
}

.basic-input {
	height:16px;
	border:1px;
	border-style:solid;
	border-color:#cccccc;
	font-family:verdana,helvetica,sans-serif;
	font-size:10px;
}

.basic-multiselect {
	border:1px;
	border-style:solid;
	border-color:#cccccc;
	font-family:verdana,helvetica,sans-serif;
	font-size:10px;
}

.select-leftnav {
	width:140px;
	height:16px;
	border:1px;
	border-style:solid;
	border-color:#cccccc;
	font-family:verdana,helvetica,sans-serif;
	font-size:10px;
}

.basic-textarea {
	width:340px;
	height:50px;
	border:1px;
	border-style:solid;
	border-color:#cccccc;
	font-family:verdana,helvetica,sans-serif;
	font-size:10px;
}

//links
a {text-decoration:underline; color:#0000ff}
a:visited {text-decoration:underline; color:#990000}
a:active {text-decoration:underline; color:#999999}
a:hover {text-decoration:underline; color:#000000;}

a.footer {text-decoration:none; color:#ffffff}
a.footer:visited {text-decoration:none; color:#cccccc}
a.footer:active {text-decoration:none; color:#ffffcc}
a.footer:hover {text-decoration:none; color:#ff0000}

