#tab {
background: #ffffff url(../images/bg/denvermtns.gif) no-repeat bottom;border:1px solid gray; 
width: 785px;
padding: 0 0 200px 0;}
#tab {
font: normal 1.1em Georgia, Times, "Times New Roman", serif;color: #000000;}

#tab h1 {
font: bold 1.25em Georgia, Times, "Times New Roman", serif;color: #000000;margin: 0;
padding: 0 0 18px 0;
}

.logo {
float: right;
/*margin: 0 0 0 10px;*/
}

.gb {
padding: 18px;
background: #FCBD4A;}

.gb_title {
display: block;font: normal 24px Georgia, Times, "Times New Roman", serif;color: #326BEE;}

.gb_date {
display: block;font: normal 18px Georgia, Times, "Times New Roman", serif;color: #326BEE;}
.gb_location {
display: block;font: normal 14px Georgia, Times, "Times New Roman", serif;color: #326BEE;}

.gb_slogan {
padding: 18px 0;
margin-top: 0;
margin-bottom: 1em;background: #5986C5;font: italic 2.8em Georgia, Times, "Times New Roman", serif;color: #FCBD4A;text-align: center;width: 787px;
}

.gb_register {
padding: 18px;
background: #9CB3DC;font: italic 18px Georgia, Times, "Times New Roman", serif;color: #000000;}
.tabcontent .day {
margin-top: 8px;
font: bold 18px Georgia, Times, "Times New Roman", serif;color: #326BEE; !importantpadding: 0 0 8px 0;text-transform: uppercase;}

ul.activity {
list-style-type: none;display: inline-block;margin: 8px 0 0 0;
padding: 0;}

ul.activity li.act_title {
font: bold 1.25em Georgia, Times, "Times New Roman", serif;color: #000000;margin: 6px 0 0 0;
padding: 0;
}

ul.activity li.act_date {
font: normal 1em Georgia, Times, "Times New Roman", serif;color: #000000;margin: 0;
padding: 0 0 4px 0;
}

ul.activity li.act_time {
font: normal 1em Georgia, Times, "Times New Roman", serif;color: #000000;margin: 0;
padding: 0 0 4px 0;
}

ul.activity li.act_desc {
display: block ;font: normal 1em/1.5em Georgia, Times, "Times New Roman", serif;color: #000000;margin: 0;
padding: 0 0 8px 0;
}



/*featured events */

dt.act_title {
font: bold 24px Georgia, Times, "Times New Roman", serif;color: #000000;margin: 18px 0 0 0;
padding: 0;}

dd.act_date {
font: normal 16px Georgia, Times, "Times New Roman", serif;color: #000000;margin: 0;
padding: 0;
}

dd.act_time {
font: normal 16px Georgia, Times, "Times New Roman", serif;color: #000000;margin: 0;
padding: 0 0 18px 0;
}

dd.act_desc {
display: block ;font: normal 1.1em/1.6em Georgia, Times, "Times New Roman", serif;color: #000000;margin: 0;
padding: 0 0 10px 0;
}

/* end featured events */


.illusLeft {float: left;margin: 4px 12px 0px 0px;border: 4px #FCBD4A solid;padding: 0;}

.illusRight {
float: right;margin: 4px 0 0 12px;border: 4px #FCBD4A solid;
padding: 0;
}