/**************************************************************
   AUTHOR:  Pat Heard (fullahead.org)
   DATE:    2007.04.26 
   PURPOSE: Style the chapter yearbook tables
 **************************************************************/


/**************************************************************
   Block layout
 **************************************************************/

table.chapter {
  width: 100%;
   
  padding: 0;
  margin: 30px 0;
  
  font-size: 0.9em;
}

table.chapter tr td {
  padding: 5px;
  width: 30%;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
}

table.chapter tr td.blank {
  border-width: 0;
}



/* Styles block HTML elements */
table.chapter tr td h1 {
  padding: 0 0 5px 0;
  margin: 0;
  
  font-size: 1.5em;
  
  border-bottom: 1px solid #7C1E0D;
}

table.chapter tr td h2 {
  padding: 0 0 5px 0;
  margin: 0;
  
  font-size: 1.3em;
}


table.chapter tr td h3 {
  font-size: 1.1em;
}

table.chapter tr td p {
  padding: 0;
  margin: 0;
}



/* Controls how avatars are displayed (or not) */
table.chapter tr td a:hover.image,
table.chapter tr td a.image img {
  border: 0;
  background: none;
}

table.chapter tr td div {
  float: left;
  width: 125px;
}

table.chapter tr td div.avatar {
  float: left;
  width: 55px;  
}

table.chapter tr td div.noAvatar {
  float: none;
  width: 100%;
  
}


/**************************************************************
   Section specific colours
 **************************************************************/

/* Member blocks (white) */
table.chapter tr td.member {
  background-color: #FFF;
  border-color: #DDD #BBB #BBB #DDD;
}

table.chapter tr td .admin {
  margin-top: 10px;
  color: #999;
}

table.chapter tr td .admin a {
  color: #8F2916;
}

table.chapter tr td .admin a:hover {
  color: #000;  
}



/* Chapter Name blocks (red) */
table.chapter tr td.name {
  background-color: #8F2916;
  border-color: #C23C23 #551206 #551206 #C23C23;
}

table.chapter tr td.name .admin {
  color: #D7715E;
}

table.chapter tr td.name .admin a {
  color: #FFF;
}

table.chapter tr td.name .admin a:hover {
  color: #FFF;
  background-color: #B63E27;
}



/* Officer blocks (gold) */
table.chapter tr td.officer {
  background-color: #DBB350;
  border-color: #F0CC73 #C18D0A #C18D0A #F0CC73;
  
}

table.chapter tr td.officer .admin {
  color: #FBE7B4;
}

table.chapter tr td.officer a:hover,
table.chapter tr td.officer .admin a:hover {
  background-color: #E6C063;
}
