/*! normalize.css v1.1.1 | MIT License | git.io/normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{background:#fff;color:#000;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}button,html,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:dotted thin}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.67em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:after,q:before{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ol,nav ul{list-style:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure,form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

/*! fontello.css */
@font-face{font-family:fontello;src:url(../font/fontello.eot?50315467);src:url(../font/fontello.eot?50315467#iefix) format('embedded-opentype'),url(../font/fontello.woff?50315467) format('woff'),url(../font/fontello.ttf?50315467) format('truetype'),url(../font/fontello.svg?50315467#fontello) format('svg');font-weight:400;font-style:normal}[class*=" fa-"]:before,[class^=fa-]:before{font-family:fontello;font-style:normal;font-weight:400;speak:none;display:inline-block;width:1em;text-align:center;font-variant:normal;text-transform:none;text-decoration:none!important;line-height:1em}.fa-fw:before{content:''}.fa-circle-o:before { content: '\e800'; }.fa-circle:before { content: '\e801'; }.fa-search:before { content: '\e802'; }.fa-chevron-down:before { content: '\e803'; }.fa-chevron-left:before { content: '\e804'; }.fa-chevron-right:before { content: '\e805'; }.fa-chevron-up:before { content: '\e806'; }.fa-cancel:before { content: '\e807'; }.fa-down:before { content: '\e808'; }.fa-left:before { content: '\e809'; }.fa-right:before { content: '\e80a'; }.fa-up:before { content: '\e80b'; }.fa-bars:before { content: '\e80c'; }.fa-chevron-down:before,.fa-chevron-left:before,.fa-chevron-right:before,.fa-chevron-up:before,.fa-down:before,.fa-fw:before,.fa-left:before,.fa-right:before,.fa-up:before.fa-bars:before{font-size:20px;font-size:1.2rem;vertical-align:middle}


/* ==========================================================================
   Main site styles
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
	height: 100%;	
	overflow-y: scroll;
}

html {
	background: #fff;
}

body {
	min-height: 100%;
    font-size: 1em;
	font-family: Raleway, arial, sans-serif;
    line-height: 1.6;
	color: #3e3d3d;
}

::-moz-selection,
::selection {	
	text-shadow: none;
	color: #fff;
    background: #3388c3;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

a:link {
	color: #3388c3;
	text-decoration: none;
	transition: color .1s;
}

a:hover {
	color: #00518a;
	text-decoration: underline;
}

p, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 20px 0;
	margin: 1.25rem 0;	
}

h1, h2, h3, h4, h5, h6, #tagline {
	font-family: 'Roboto Slab', georgia, serif;
	font-weight: 400;
}

h1 {
	font-size: 36px;
	font-size: 2.4rem;
	line-height: 100%;
	color: #3e3d3d;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1.1em;
}

h6 {
	font-size: 1em;
}

abbr[title] {
	border: 0;
}

label {
	display: block;
}

input,
select,
textarea,
a.button {
	padding: 5px;
	border-radius: 4px;
}

input,
select,
textarea {
	box-sizing: border-box;
	background: #eee;
	border: 0;
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;
	transition: all .2s;
}

input:focus,
select:focus,
textarea:focus {
	background: #f7f7f7;
	border-color: 1px solid #aaa;
}

a.button,
input[type=submit] {
	display: inline-block;
	padding: 8px 20px;
	
	text-transform: uppercase;
	text-decoration: none;
	
	color: #fff !important;
	background-color: #3388c3;
	border-width: 0 2px 2px 0;
	border-style: solid;
	border-color: #0662a2;
	
	transition: all .2s;
}

a.button:hover,
input[type=submit]:hover {
	text-decoratin: none;
	background-color: #00518a;
	border-color: #03395f;
}

a.button.button-gray {
	color: #3388c3 !important;
	background-color: #edeae9;
	border-color: #cacaca
}

a.button.button-gray:hover {
	background-color: #ccc;
	border-color: #aaa
}

address {
	font-style: normal;
}

label {
	display: block;
}

#main :first-child {
	margin-top: 0;
}

#main ul {	
	margin: 0 40px;
	padding: 0;	
}

#main ul li {
	padding: 0;	
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.width {
	max-width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
}

.full-width {
	max-width: 1400px;
	margin: 0 auto;
}

.padding {
	padding: 20px;
}

/* 
 * Header
 */
header {
	border-top: 10px solid #006fb1;
	position: relative;
	width: 100%;
	transition: all .2s;
}

.blue-bar header {
	border-top: 0;
}

header > div {
	padding-bottom: 10px;
}

header ul {
	display: inline;
	margin: 0;
	padding: 0;
}

header li {
	margin: 0;
	padding: 0;
	display: inline;
	position: relative;
}

header .logo {
	position: relative;
	z-index: 3;
}

header .logo {
	text-align: justify; 
	padding: 20px;
}

.blue-bar header .logo {
	padding: 5px 20px;
	margin-bottom: -40px;
}

header .logo:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size:0;
    line-height:0;
}

header .logo a {
	display: inline-block;
	text-decoration: none;
}

header .logo img {
	vertical-align: middle;
	transition: all .2s;
}

header .sphinx {
	height: 115px;	
}

header .text {
	margin-left: 15px;
	height: 40px;
}

header .text,
header .logo em {
	position: relative;
	top: -5px;
}

.blue-bar header .text,
.blue-bar header .logo em {
	top: 0;
}

header .logo em {
	display: inline-block;
	font: normal 1.3em "Roboto Slab", georgia, serif;
}

header nav {
	position: relative;
	margin-top: -80px;
	z-index: 5;
	clear: both;
	margin-left: 160px;
}

.blue-bar header nav {
	margin: 0;
	text-align: right;
	background: #006fb1;
}

.blue-bar header nav .jetmenu {
	text-align: left;
}

header nav ul {
	padding: 0 10px;
}

header nav a:link,
header nav a:visited {
	display: inline-block;
	padding: 10px;
}

.blue-bar header nav a:link,
.blue-bar header nav a:visited {
	color: #b6dff8;
}

header nav a:hover,
.menu-panel a:hover,
.menu-panel .trigger:hover  {
	color: #1472b3;
	text-decoration: none;
}

header nav a.active {
	color: #000;
}

.blue-bar header nav a.active {
	color: #fff;
}

header .secondary {
	float: right;
	margin: 5px 20px 0 20px;
}

.blue-bar  header .secondary {
	float: none;
	margin: 5px 10px 0 0;
}

header nav a.button {
	padding: 5px 20px;
	font-size: 14px;
	font-size: .85rem;
	border: 0;
}

.blue-bar  header nav a.button {
	padding: 2px 15px;
	background: #005486;
}


/* 
 * JET Menu (responsive menus)
 */

.jetmenu {
	position: relative;	
}

.jetmenu ul li {
	display: inline-block;
}

.jetmenu a {
	position: relative;
	outline: none;
	z-index: 10;
}
.jetmenu ul a {
	position: relative;
	padding: 10px 15px;
	text-decoration: none;
	display: inline-block;
}

/* DROPDOWN CONFIGURATION */
.jetmenu ul.dropdown, 
.jetmenu ul.dropdown li ul.dropdown {
	list-style: none;
    margin: -1px 0 0 0;
    padding: 0;   
	display: none;
    position: absolute;	
	min-width: 220px;
	z-index: 99;		
	background: #f7f7f7;
}

.blue-bar .jetmenu ul.dropdown, 
.blue-bar .jetmenu ul.dropdown li ul.dropdown {
	background: #006fb1;
}

.jetmenu ul.dropdown{
	left: -15px;
	padding: 10px 0;
}
.jetmenu ul.dropdown li ul.dropdown{
    left: 100%;
	top: inherit;
	padding: 10px 0;
	margin-top: -10px;
	margin-left: 0 !important;
}
.jetmenu ul.dropdown li{
	clear:both;
	width:100%;	
}
.jetmenu ul.dropdown li a {
	width:100%;
	padding: 3px 25px;
	display:inline-block;
	float:left;
	clear:both;
	text-decoration: none;
	
	font-size: 16px;
	font-size: 1rem;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box;
}
.jetmenu ul.dropdown li:hover > a{
	text-decoration: underline;
}

/* SUBMENU INDICATORS */
.jetmenu .indicator {
	position: relative;
	left: 5px;
	top: 0;
	float: right;	
}
.jetmenu ul li .indicator{
	top: 2px;
	left: 10px;
	color: #646161;
}

.blue-bar ul li .indicator {
	color: #2f97d5;
}

.topbar .jetmenu ul.dropdown, 
.topbar .jetmenu ul.dropdown li ul.dropdown {
	min-width: 200px;
	background: #c2c2c0;
} 

.topbar .jetmenu ul.dropdown li a {
	color: #666;
	font-size: 14px;
	font-size: .9rem;
}

header .open,
header .menu-panel {
	display: none;
}

/*large size grey sky media*/ 

.headersearch {
    background-color: transparent;
    display: block;
    position: absolute;
	top: -webkit-calc(100% + 13px);
    top: calc(100% + 13px);
	right: 0;
	left: auto;
	height: 0;
	overflow: hidden;
	-webkit-transition: height 250ms ease-out 0s;
	-moz-transition: height 250ms ease-out 0s;
	-o-transition: height 250ms ease-out 0s;
	transition: height 250ms ease-out 0s;
}

.headersearch form{
	padding: 10px;
	background-color: rgb(0, 111, 177);
}

.headersearch::before {
    border-bottom: 7px solid rgb(0, 111, 177);
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    content: " ";
    height: 0;
    position: relative;
	left: -webkit-calc(100% - 35px);
    left: calc(100% - 35px);
    top: 0;
    width: 0;
	display: block;
}

.headersearch fieldset{
	white-space: nowrap;
}
.headersearch label{
	display: inline-block;
}
.headersearch input[type="submit"]{
	padding: 6px 8px;
	background-color: rgb(0, 84, 134);
	border-width: 0;
}

/* 
 * Main content area
 */
#main {
	position: relative;
	z-index: 4;
	background: #fff;
}


/* 
 * Gray events section
 */
#events {
	margin-top: 25px;
	background: #d4d5d7 url(../images/events-bg.jpg) repeat 0 0;
	border-top: 10px solid #52b609;
}

#events h2 {
	font-size: 36px;
	font-size: 2.4rem;
}

#events ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#events ul.lines li {
	border-color: #ccc;
}

.dates li {
	position: relative;
	padding-left: 80px;
	margin: 40px 0;
}

.dates li:first-child {
	margin-top: 0;
}

.dates strong {
	display: block;
}

.dates .date {
	position: absolute;
	display: inline-block;
	left: 0;
	top: 0;
	
	width: 60px;
	padding: 10px;
	box-sizing: border-box;
	
	font-size: 14px;
	font-size: .875rem;
	text-align: center;
	
	background-color: #52b609;
	color: #fff;
	border-radius: 4px;
}

.dates .date strong {
	font-size: 36px;
	font-size: 2.25rem;
	line-height: 32px;
	line-height: 2rem;
}


/* 
 * Sidenav
 */
#nav ul {
	margin: 0;
	padding: 0;
}

#nav a {
	display: block;
	zoom: 1;
}

#nav a {
	padding: .75em 0;
	border-top: 2px solid #eee;
}

#nav a.active {
	font-weight: bold;
}

#nav ul ul {
	padding-bottom: 0;
}

#nav ul ul a{
	padding: 0 10px 10px 30px;
	font-weight: 400 !important;
	border: 0;
}

#nav ul ul a:hover {
	text-decoration: underline;
}

#nav ul ul ul a{
	padding-left: 60px;
	background-position: 30px 7px !important;
}



/* 
 * Footer
 */

footer {
	margin-top: 50px;
}
 
footer h2 {
	text-align: center;
}

footer ul {
	padding: 0;
}

footer .lines {
	margin: 0 10px 0 0;
}

footer .float-right .lines {
	margin: 0 0 0 10px;
}

footer .lines a {
	display: inline-block;
	width: 100%;
}

footer .copyright {
	margin: 50px 0;	
	font-size: 12px;
	font-size: .75rem;
}

footer img {
	width: auto !important;
	height: 85px !important;
}

footer img:first-child {
	margin-right: 20px;
}


/* 
 * Grid layout 
 */

.row {
	margin: 10px 0 10px -40px;	
} 
 
.row [class^="span-"] {	
	float: left;	
}

.row [class^="span-"] > .inner {
	margin-left: 40px;
}

.row img {
	width: 100%;
	height: auto;
}

.row img.no-resize {
	width: auto !important;
} 

.span-1 {
	width: 12.5%;
}

.span-2 {
	width: 25%;
}

.span-3 {
	width: 37.5%;
}

.span-4 {
	width: 50%;
}

.span-5 {
	width: 62.5%;
}

.span-6 {
	width: 75%;
}

.span-7 {
	width: 87.5%;
}

.span-8 {
	width: 100%;
}

.grid-12 .span-1 {
	width: 8.33%;
}

.grid-12 .span-2 {
	width: 16.66%;
}

.grid-12 .span-3 {
	width: 25%;
}

.grid-12 .span-4 {
	width: 33.33%;
}

.grid-12 .span-5 {
	width: 41.66%;
}

.grid-12 .span-6 {
	width: 50%;
}

.grid-12 .span-7 {
	width: 58.33%;
}

.grid-12 .span-8 {
	width: 66.66%;
}

.grid-12 .span-9 {
	width: 75%;
}

.grid-12 .span-10 {
	width: 83.33%;
}

.grid-12 .span-11 {
	width: 91.66%;
}

.grid-12 .span-12 {
	width: 100%;
}

/* 
 * Image slider
 */
#slider {
	position: relative;	
} 
 
#slider .slide {
	display: none;
	position: relative;
	width: 100%;
	z-index: 1;
}

#slider .slide.next {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
}

#slider .slide:first-child {
	display: block;
}

#slider .overlay {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 20px;
	text-align: center;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	background: rgba(26,19,12,0.7);
}

.no-rgba #slider .overlay {
	background: url(../images/overlay-70.png) repeat 0 0;
}

#slider .overlay {
	color: #fff;
}

#slider h2 {	
	margin: 0;
	font-size: 2.2em;
	line-height: 1.2em;
	color: #fff;
} 

#slider a:hover {
	text-decoration: none;
}

#slider .link {
	color: #78bdda;
}

#slider .link:hover {
	text-decoration: underline;
}

#slider .idx-cont {
	position: absolute;
	z-index: 3;
	left: 0;
	top: -45px;
	height: 30px;
	z-index: 3;
	width: 100%;
	text-align: center;
}

#slider .idx-cont .fa {
	color: #fff;
	padding: 3px;
	opacity: 0.5;
	cursor: pointer;
	
    -webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;	
}

#slider .idx-cont .active {
	opacity: 1;
}

#slider .idx-cont span {
	display: inline-block;
	width: 12px;
	height: 13px;
	margin: 3px;
	color: #fff;
	opacity: 0.5;
	cursor: pointer;
	
    -webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

#slider .idx-cont span.active {
	opacity: 1;
}

#slider .fa.next,
#slider .fa.prev {
	position: absolute;
	z-index: 4;
	opacity: .5;

	color: #fff;	
}

#slider .fa.next:before,
#slider .fa.prev:before {
	font-size: 5em !important;
}

.no-js #slider .slide {
	display: block;
}


/* 
 * Images with a translucent overlay
 */
.image-overlay,
.image-overlay img {
	display: block;
	position: relative;
	z-index: 1;
}

.image-overlay .text,
.image-overlay h2 {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 100%;	
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	margin: 0;
	padding: 0 .4em;
	
	color: #fff;
	background: rgba(0,0,0,.7);
	
	transition: background .3s;
}

.image-overlay h2 {
	text-align: center;
}

.image-overlay .text {
	padding: .6em;
}

.image-overlay:hover .text {
	background: rgba(0,0,0,1);
}

.image-overlay .text h3 {
	margin: 0;
	font-size: 1.3em;
}

.image-overlay .text p {
	margin: 0;
	font-size: .8em;
}

.image-overlay .fa {
	display: none;
}

.no-rgba .image-overlay .text,
.no-rgba .image-overlay h2 {
	background: url(../images/overlay-70.png) repeat 0 0;
}


/* 
 * Breadcrumbs
 */ 
.breadcrumbs {
	padding: 0;
	list-style: none;
}
 
.breadcrumbs li {
	font-size: 14px;
	font-size: .9rem;
	display: inline;
	color: #666;
}

.breadcrumbs li:before {
	content: '>';
	padding: 0 10px 0 5px;
	color: #aaa;
}

.breadcrumbs li:first-child:before {
	content: '';
	padding: 0;
}

/* 
 * OO css
 */

.clear {
	clear: both;
} 
 
.font-small {
	font-size: 12px !important;
	font-size: .75rem !important;
}

.font-large {
	font-size: 24px !important;
	font-size: 1.5rem !important;
}

.sans-serif {
	font-family: 'Open Sans', arial, sans-serif !important;
	line-height: 140%;
	letter-spacing: 0;
}

.bold {
	font-weight: 700 !important;
}

.uppercase {
	text-transform: uppercase !important;
}

.relative {
	position: relative;
}

.padding-small {
	padding: 10px;
}

.margin-none {
	margin: 0 !important;
}

ul.margin-none {
	list-style: none;
}

.margin-vert-none {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.margin-top-none {
	margin-top: 0 !important;
}

.margin-top-large {
	margin-top: 50px !important;
}

.margin-top-medium {
	margin-top: 25px !important;
}

.margin-top-small {
	margin-top: 10px !important;
}

.margin-left-xsmall {
	margin-left: 5px !important;
}

.margin-left-small {
	margin-left: 10px !important;
}

.margin-left-medium {
	margin-left: 25px !important;
}

.margin-bottom-large {
	margin-bottom: 50px !important;
}

.margin-bottom-medium {
	margin-bottom: 25px !important;
}

.margin-bottom-small {
	margin-bottom: 10px !important;
}

.block {
	display: block !important;
}

.inline-block {
	display: inline-block !important;
}

.inline {
	display: inline !important;
}

.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

.width-50 {
	width: 50% !important;
}

.width-80 {
	width: 80% !important;
}

.width-100 {
	width: 100% !important;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.background-grey {
	background: #3e3d3d;
}

.color-white {
	color: #fff;
}

.color-grey {
	color: #9e9e9e;
}

.color-red {
	color: #cd1b1b;
}

.msg {
	padding: 25px;
	color: #fff;
	background: #3388c3;
}

.msg.success {
	background: #52b609;
}

.msg.warning {
	background: #ff8a00;
}

.msg.error {
	background: #cd1b1b;
}

.msg .title {
	display: block;
}

.msg .fa {
	font-size: 1.5em;
	color: #104b7d;
}

.msg.success .fa {
	color: #598808;
}

.msg.warning .fa {
	color: #eeae00;
}

.msg.error .fa {
	color: #b40f0f;
}

img.float-left {
	margin: 5px 20px 20px 0;
}

img.float-right {
	margin: 5px 0 20px 20px;
}

ul.lines li {
	padding: 10px 0;	
	border-top: 2px solid #eee;
}

ul.lines li:first-child {
	padding-top: 0;	
	border-width: 0;
}

.input-button input {
	width: 85%;
	padding: 12px;
	border-radius: 4px 0 0 4px;
}

.input-button a {	
	position: relative;
	left: -5px;
	top: -1px;

	border-radius:  0 4px 4px 0;
}

ul.double-space li {
	margin: 25px 0;
}


ul.expandable > li > a {
	display: block;
	padding: 15px;
	font-weight: bold;
	text-decoration: none;
	
	color: #3388c3;	
	border-top: 2px solid #ccc;
}

ul.expandable .fa {
	color: #999;
} 

ul.expandable ul {
	display: none;
	margin: -5px 40px 15px 40px !important;
}

ul.expandable .open ul {
	display: block;
}

ul.semantic {
	margin: 0 !important;
	padding: 0;
	list-style: none;
}

.semantic li {
	margin: 0;
	padding: 0 !important;
	display: inline;
	background: 0 !important;
}

#cont ul.no-indent,
#cont ul.no-indent li{
	margin: 0 10px;
}


/* ==========================================================================
   IE Fixes
   ========================================================================== */

.lt-ie9 body {
	min-width: 960px;
}

.lt-ie9 header a:visited {
	text-decoration: none;
}

.lt-ie9 header a:hover {
	text-decoration: underline;
}
   
.lt-ie8 #slider {
	font-size: 0;
	line-height: 0;
}

.lt-ie9 .input-button a {
	top: -2px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

/*
 * Clearfix
 */

.clearfix:before,
.clearfix:after,
.row:before,
.row:after,
header:before,
header:after,
#main:before,
#main:after {
    content: " "; 
    display: table; 
	zoom: 1;
}

.clearfix:after,
.row:after,
header:after,
#main:after {
    clear: both;
}
 


/* ==========================================================================
   Responsive Design
   ========================================================================== */

   
.menu-mobile,   
.show-mobile {
	display: none;
}
 
@media screen and (max-width: 999px) {

	header .logo {
		line-height: 0;
		padding-bottom: 0;
	}
	
	.blue-bar header .logo {
		padding-bottom: 25px;
	}	

	header nav {
		margin: 0;
	}
	
	header .secondary {
		float: none;
		margin-left: 10px;
	}

	footer img {		
		height: 65px !important;
	}
	
	.image-overlay .text h3 {
		font-size: 1.1em;
	}

	.image-overlay .text p {
		font-size: .7em;
	}

	.image-overlay-hover .image-overlay .text {
		padding-top: .5em;
	}	
}

@media screen and (max-width: 765px) {
		
	[class^='span-'] {
		width: 100% !important;
	}
	
	header .logo em {
		display: none;
	}
	
	header nav {
		position: absolute;
		z-index: 4;
		top: 10px;
		right: 10px;
		display: inline-block;
		padding: 0 10px;
		width: auto;
	}
	
	.blue-bar header nav {
		position: static;
		padding: 5px;
		width: 100%;
		box-sizing: border-box;
	}
		
	header nav ul {
		padding: 0;
	}
	
	header .jetmenu li,
	header .jetmenu .showhide {
		display: none;
	}
	
	header .jetmenu .home li,
	header .jetmenu .home .showhide {
		display: block;
	}
	
	header nav .open  {
		display: inline;
		cursor: pointer;	
	}
	
	header nav .open a {
		padding: 0;
		color: #3388c3;
	}
	
/* small size (@media (max-width: 768px)) grey sky*/

header nav .searchtrigger{
	display: inline;
	float: left;
}

header nav .searchtrigger a{
	padding: 0;
	margin: 0;
}

header .searchtrigger .secondary {
    margin: 0;
    padding: 0;
}

.headersearch {
	left: 0;
	right: auto;
	top: -webkit-calc(100% + 5px);
	top: calc(100% + 5px);
}

.headersearch::before {
    left: 20px;
}

	header .jetmenu .home {
		display: none;
	}
	
	header .jetmenu a {
		padding: 15px 10px;
	}
	
	header .secondary {
		float: none;
	}
	
	header section {
		clear: both;
		padding-top: 20px;
		text-align: center;
	}
	
	header section * {
		text-align: center;
	}
	
	header section p {
		max-width: 100%;
	}	

	footer .lines {
		margin: 0 !important;
	}
	
	footer .float-right .lines li:first-child {
		padding-top: 10px;
		border-width: 2px 
	}
	
	footer img {		
		height: 90px !important;
	}	
	
	footer .copyright {
		text-align: center;
	}
	
	.menu-panel {
		display: none;
		position: fixed;
		z-index: 10;
		top: 0;
		right: 0;		
		min-width: 300px;
		height: 100%;		

		overflow: auto;
		background: #1a130c;
	}

	.menu-mobile {
		display: block;
		padding: 1em 3em 1em 1em;
		
		position: relative;
		z-index: 11;
	}

	.menu-mobile {
		color: #fff;
	}
	
	.menu-mobile li {
		display: block;
		cursor: pointer;
	}
	
	.menu-mobile ul {
		padding-left: 1em;
	}
	
	.menu-mobile li a,
	.menu-mobile .trigger {
		display: block;
		padding: 10px;
		color: #fff;
	}
	
	.menu-mobile a .fa-search {
		display: none;
	}
	
	.menu-mobile ul {
		display: none;
	}
	
	.menu-mobile .open > ul {
		display: block;
	}
	
	.menu-mobile .close {
		position: absolute;
		top: 21px;
		right: 25px;
		font-size: 20px;
		font-size: 1.25rem;
		color: #666;
		cursor: pointer;
		z-index:2;
	}
	
	.menu-mobile .close:hover {
		color: #fff;
	}
	
	header .menu-mobile .pipe {
		padding: 4px 0;
	}
	
	#slider .overlay {
		position: relative;
		background: #1a130c !important;
	}	
	
	#slider h2 {
		font-size: 1.6em;
	}
	
	
	
	.hide-mobile {
		display: none !important;
	}
	
	.show-mobile {
		display: block !important;
	}
	
	.margin-top-large-mobile {
		margin-top: 50px !important;
	}

	.image-overlay .text h3 {
		font-size: 1.3em;
	}

	.image-overlay .text p {
		font-size: .8em;
	}
	
	.image-overlay.image-large img {
		margin-top: 0;
	}
	
	.image-overlay-hover .image-overlay .text {
		z-index: 99;
	}	
}

@media screen and (max-width: 499px) {

	header .sphinx {
		height: 90px;	
	}

	header .text {
		margin-left: 0;
		height: 30px;
	}
	
	.blue-bar header .sphinx {
		height: 95px;	
	}

	.blue-bar header .text {
		height: 35px;
	}	
	
	#slider h2 {
		font-size: 1.4em;
	}

	header .secondary.last {
		margin-right: 0;
	}

	#cont,
	footer .width {	
		padding: 20px;
	}
	
	.input-button input {
		width: 70%;
	}
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
	

    a:link,
    a:visited {
        text-decoration: underline;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
	

	
	.overlay,
	.image-overlay p,
	.image-overlay h2,
	.image-overlay .text{
		color: #000 !important;
		border: 10 solid #fff !important;
		background-color: #fff !important;
	}
	
	.image-overlay-hover .image-overlay .text {
		bottom: 0;
	}	
	
	.padding {
		padding-top: 0;
		padding-bottom: 0;
	}

	.margin-top-large {
		margin-top: 0 !important;
	}

	header {		
		border: 0 !important;
	}
	
	header section {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	
	header .button {
		display: none;
	}
	
	header .logo {
		width: 100%;
	}
	
	#main {
		margin-top: 0 !important;
	}
	
	#main > .row > .float-right,
	#events [class^="span-"] {
		width: 100% !important;
	}

	#events {
		border: 0;
	}
	
	header form,
	header .account,
	header nav,
	#nav,
	footer,
	.idx-count {
		display: none !important;
	}
}
