@import url("common.css");
@import url("sigma/nav.css");
@import url("sigma/wdg.css");
@import url("sigma/tng.css");
@import url("sigma/nxt.css");
@import url("sigma/cal.css");
.style1 {
	font-size: 18px;
	margin-right: 200px;
}
.style27 {
	font-size: 14px;
}
.style28 {
	font-size: 14px;
	margin-right: 200px;
	margin-left: 20px;
}
.style29 {
	font-size: 10px;
	margin-left: 20px;
}
