<!-- <li><a href="[+LINK+]" title="Posted on [+PUBDATE+]">[+TITLE+] [+TEST+]</a></li> -->
<li><a href="[+LINK+]" title="[+TITLE+]" target="_blank">[+TITLE+]</a><br />
[+DESCRIPTION+]
<span class="small">[+phx:input=`[+PUBDATE+]`:mydate=`%B %d, %Y`+]</span></li>
