/**************************************************************
   AUTHOR:  Pat Heard (fullahead.org)
   DATE:    2010.08.16
   PURPOSE: Styles the html elements
 **************************************************************/

html {
  height: 100%;
  margin-bottom: 1px;
}

body {
  height: 100%;

  margin: 0;
  padding: 0;
  text-align: center;

  background: #FFF url(../images/bg_white/body.png) repeat-x 0 122px;
}


h1 {
  clear: both;
  margin: 0;
  padding: 5px 13px;
}

/* Rounded corners */
h1.blue, h1.red, h1.darkRed, h1.green, h1.yellow, h1.purple, h1.black, h1.brown {
  background-repeat: no-repeat;
  background-position: top left;
}


h1.blue {
  background-image: url(../images/bg_white/corner_blue.gif);
}

h1.red {
  background-image: url(../images/bg_white/corner_red.gif);
}

h1.darkRed {
  background-image: url(../images/bg_white/corner_dark_red.gif);
}

h1.green {
  background-image: url(../images/bg_white/corner_green.gif);
}

h1.yellow {
  background-image: url(../images/bg_white/corner_yellow.gif);
}

h1.purple {
  background-image: url(../images/bg_white/corner_purple.gif);
}

h1.black {
  background-image: url(../images/bg_white/corner_black.gif);
}

h1.brown {
  background-image: url(../images/bg_white/corner_brown.gif);
}


h2 {
  margin: 0;
  padding: 5px 0;
}

h3 {
  margin: 0;
  padding: 6px 0 0 0;
}

p {
  margin: 0;
  padding: 5px 0;
}

ol, ul {
  margin: 10px 0;
  padding: 0 15px;
}

ul.noBullets {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.noBullets li {
  padding: 5px 0;
}

ul.noMargin {
  margin: 0;
}

ul.doubleSpace li {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Used on the private homepage */
dl.contactDetails {
  float: left;
  width: 235px;
  padding: 10px 0;
  margin: 0 0 10px 0;
}

dl.contactDetails dt {
  float: left;
  width: 80px;
  padding: 2px 0;
  margin: 0;

  font-weight: bold;
}

dl.contactDetails dd {
  float: left;
  width: 130px;
  clear: right;

  padding: 2px 0;
  margin: 0;
}




/**************************************************************
   Form Elements
 **************************************************************/

form {
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  padding: 2px;
  background: #FFF;
  border-style: solid;
  border-width: 1px;
  border-color: #BBB #BBB #E5E5E5 #E5E5E5;
}

input.radio {
  padding: 0;
  background: none;
  border: 0;
}

input.macButton {
  width: 66px;
  height: 25px;
  line-height: 10px;


  cursor: pointer;

  background: url(../images/bg_white/button_blank.gif) no-repeat 0 3px;
  border: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

fieldset p {
  padding: 2px 0;
}

/* Hide the legend */
fieldset legend {
  display: none;
}

/**************************************************************
   Images
 **************************************************************/

img {
	vertical-align: top;
}

img.floatRight {
  margin: 5px 0px 10px 15px;
}

img.floatLeft {
  margin: 5px 15px 10px 0px;
}

/**************************************************************
   Table w/ lines
 **************************************************************/

table.lines {
	width: 100%;
	border: 0;
	border-collapse: collapse;
}

table.lines th, table.lines td {
	vertical-align: top;
	padding: 5px;
}

table.lines th:first-child,
table.lines td:first-child {
	padding-left: 0px;
}

table.lines th:last-child,
table.lines td:last-child {
	padding-right: 0px;
}

table.lines td {
	border-top: 1px solid #ddd;
}

table.lines .small {
	font-size: 0.85em;
}