/**************************************************************
   AUTHOR:  Pat Heard (fullahead.org)
   DATE:    2010.08.16 
   PURPOSE: Fixes IE's major problems
 **************************************************************/

.contentBlock,
.contentBlockFooter {
  zoom: 1;
}

ul.galleries li br {  
  display: none; 
}

input.macButton {
  background: url(../images/bg_white/button_blank.gif) no-repeat 0 2px;
}
