/**************************************************************
   AUTHOR:  Pat Heard (fullahead.org)
   DATE:    2010.08.16
   PURPOSE: Controls the layout of the site and styles
            the menus
 **************************************************************/



/**************************************************************
   #content: Sets the width of the site.  Make changes here
             to convert to a fixed width site.
 **************************************************************/

#content {
  margin: 0 auto;
  width: 910px;
  padding: 0 45px;
  text-align: left;
}



/**************************************************************
   #header: Holds the site title and header images
 **************************************************************/

#header {
  position: relative;
  left: -45px;
  height: 140px;
  z-index: 1;
  background: url(../images/bg_white/header-white.jpg) no-repeat 0 0;
}


#header a img {
  border: 0;
}

/* Used for SEO and text readers */
#header h1 {
  margin: 0;
  padding: 0;
  text-indent: -100em;
}

/* Header quote */
#header .quote {
  position: absolute;
  z-index: 10;
  bottom: 10px;
  left: 210px;

  /* FIX */
  width: 640px;
}


/* Header quote */
#header .chapter {
  position: absolute;
  z-index: 10;
  bottom: 4px;
  left: 110px;

  /* FIX */
  width: 640px;

  text-align: center;
  font: bold 1.25em arial, sans-serif;
  color: #F59F1A;
}

#header .chapter img {
  margin: 0 auto 5px auto;
  display: block;
}


/* Sign Out Link */
#header .signout {
  position: absolute;
  z-ind
  top: 10px;
  left: 790px;
}


/**************************************************************
   #menu
 **************************************************************/

#menu,
#menu ul {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

#menu li {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
}

#menu li ul {
	opacity: 0;

	position: absolute;
	top: -1000em;
	left: 0;

	width: 150px;

	background: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);

	transition-property: opacity, top;
	transition-duration: 0.3s, 0s;
	transition-delay: 0s, 0.3s;
}

#menu a {
  float: left;
  padding: 5px 13px;
  background: url(../images/bg_white/menu.png) no-repeat 0 50%;
}

#menu .first a {
  padding-left: 0;
  background: none;
}



#menu li:hover > ul {
	top: 2.2em;
	opacity: 1;
	padding: 5px 0px;
	transition-delay: 0s;
}

#menu li li {
	display: block;
}

#menu li > ul a {
	float: none;
	display: block;
	padding-left: 13px !important;
	background: #fff;
}


/**************************************************************
   #page: Holds the main page content.
 **************************************************************/

#page {
  float: left;
  width: 100%;
  clear: both;

  padding: 10px 0 30px 0;
}



/**************************************************************
   #footer: The page footer - will stick to the bottom if not
            enough content.
 **************************************************************/

#footer {
  clear: both;
  min-width: 1000px;
  height: 5.3em;
}


#footer #copyright {
  padding-top: 20px;
  text-align: center;
  border-top: 2px solid #CCC;
}




/**************************************************************
   Various login, search and other forms
 **************************************************************/

.searchForm {
  margin: 10px 15px;
}

.loginForm {
  margin-bottom: 4px;
}

.loginForm label {
  float: left;
  clear: both;
  width: 70px;
  padding-left: 35px;
}

#header .loginForm {
  position: absolute;
  z-index: 10;
  top: 5px;
  left: 0;
  width: 835px;

  text-align: right;
}

.searchForm a img,
.loginForm a img {
  position: relative;
  top: 5px !important;
  top: 3px;
  left: 3px;
  border: 0;
}

.searchForm a:hover,
.loginForm a:hover {
  background: none;
}


.loginForm input,
.searchForm input {
 position: relative;
 top: 2px !important;
 top: 4px;
}

.loginForm input.button,
.searchForm input.button,
.searchForm img {
 position: static;

 cursor: pointer;
 vertical-align: middle;

 background: none;
 border: 0;
}



/**************************************************************
   AJAX search results
 **************************************************************/

#ajaxSearch_output {
  margin: 15px;
}

.AS_ajax_result {
  margin-bottom: 10px;
}

.AS_ajax_resultDescription {
  display: block;
}





/**************************************************************
   .contentBlock: gives the blocks of content their faint
                  gray background
 **************************************************************/

.contentBlock {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f7f7f7;
}

.contentBlockFooter, .contentFooter {
  position: relative;
  top: -15px;
  padding: 6px 10px;

  font-size: 0.85em;

  background-color: #ececec;
  border-top: 1px solid #d5d5d5;
}

/* .contentFooter {
 margin-top: -15px;
 padding: 6px 10px;
 background-color: #E7E7E7;
 margin-bottom: 15px;
 border-top: 1px solid #D0C8C8;
clear:both;
} */

span.pub_date, span.category {
display: block;
font-size: smaller;
}


/**************************************************************
   Press Releases list
 **************************************************************/

ul.pressReleases {
  margin: 5px 5px 10px 5px;
  padding: 0;
}

ul.pressReleases li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.pressReleases li a {
  display: block;
  padding: 3px 0;
}

ul.pressReleases li a span.desc {
  display: block;
}

ul.pressReleases li a:hover {
  background-color: #DBEAF5;
}






/**************************************************************
   Main Gallery Page (main gallery selection page)
 **************************************************************/


ul.galleries {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
}

ul.galleries li {
  float: left;
  width: 190px;
  margin: 0 7px 20px 0;
  padding: 0;
  text-align: center;
}

ul.galleries li a {
  padding: 3px;
}

ul.galleries li br {
  margin-top: -15px;
  display: block;
}

ul.galleries li a:hover {
  background: none;
}

ul.galleries li a img {
  border: 0;
  height: 126px;
}

ul.galleries li a span.title {
  display: block;
  padding-top: 10px;
  text-decoration: underline;
}


/**************************************************************
   Child Galleries (child gallery selection page)

**************************************************************/

ul.childgalleries {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
}

ul.childgalleries li {
  display: inline;
  margin: 0;
  padding: 0;
}

ul.childgalleries li a {
  float: left;
  width: 190px;
  margin: 0 4px 15px 0;
  padding: 3px;
  text-decoration:
none;
}

ul.childgalleries li.last a {
  margin-right: 0;
}

ul.childgalleries li a img {
  border: 0;
}

ul.childgalleries li a span.title {
  display: block;
  text-align: center;
}

/**************************************************************
   Gallery (subpage with thumbnails and scrolling container)
 **************************************************************/

div.thumbnails {
  width: 570px;
  margin: 10px;
  padding: 10px;
  height: 250px;
  overflow: auto;
  background-color: #ECECEC;
}

div.thumbnails ul {
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
}

div.thumbnails ul li {
  display: inline;
  margin: 0;
  padding: 0;
}

div.thumbnails ul li a {
  margin: 3px;
  text-decoration: none;
}

div.thumbnails ul li a img {
  border: 2px solid #ECECEC;
  vertical-align: middle;
}

div.thumbnails ul li a:hover img {
  border: 2px solid #80AFD1;
}

div.thumbnails ul li.selected a img,
div.thumbnails ul li.selected a:hover img {
  border: 2px solid #F59F1A;
}


/* Holds the currently display image */
#image {
  margin: 20px 10px 10px 10px;
  text-align: center;
  height: 600px;
  background-position: top center;
  background-repeat: no-repeat;

}


/**************************************************************
   Paging
 **************************************************************/

.paging {
  font-size: 1.1em;
  line-height: 20px;
  width: 100%;
  position: relative;
  text-align: center;
}

.paging a,
.paging span {
  float: left;
  padding: 2px 5px;
  margin: 2px;

  background: #fff;
  border: 1px solid #ccc;
}

.paging span {
  color: #999;
}

.paging .back,
.paging .forward {
  position: absolute;
  top: -5px;
}

.paging .back {
  left: 0;
}

.paging .forward {
  right: 0;
}


/**************************************************************
   Width classes used by the site columns
 **************************************************************/

.width630 {
  width: 630px;
}

.width560 {
  width: 560px;
}

.width460 {
 width: 400px;
}

.width360 {
  width: 360px;
}

.width305 {
  width: 305px;
}

.width260 {
  width: 260px;
}

.width255 {
  width: 250px;
}

.width250 {
  width: 250px;
}

.width100 {
  width: 100%;
}

.width75 {
  width: 74%;
}

.width66 {
  width: 65.5%;
}

.width50 {
  width: 49.7%;
}

.width40 {
  width: 39%;
}

.width33 {
  width: 32.7%;
}

.width25 {
  width: 24.7%;
}


.width20 {
  width: 19.5%;
}

.width10 {
  width: 9.5%;
}

.height200 {
  height: 200px
}

/**************************************************************
   Alignment classes
 **************************************************************/

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.alignCenter {
  text-align: center;
}


/**************************************************************
   Generic colour definitions
 **************************************************************/

.red {
  background-color: #BF311B;
}

.darkRed {
  background-color: #8C1401;
}

.yellow {
  background-color: #F59F1A;
}

.blue {
  background-color: #3E85B7;
}

.green {
  background-color: #768526;
}

.purple {
  background-color: #A64399;
}

.black {
  background-color: #182B34;
}

.brown {
  background-color: #7F4511;
}

.gray {
  color: #aaa;
}



/**************************************************************
   Generic display classes
 **************************************************************/

.clear {
  clear: both;
}

.block {
  display: block;
}

.scroll {
  overflow-y: scroll;
}

.small {
  font-size: 0.9em;
}

.gradient {
  background: #fff url(../images/bg_white/gradient.png) repeat-y 0 0;
}

.padTop20 {
  padding-top: 20px;
}

.marginRight15 {
  margin-right: 15px;
}

.marginLeft25 {
  margin-left: 25px;
}

.marginLeft50 {
  margin-left: 50px;
}

.marginBottom20 {
	margin-bottom: 20px;
}

.marginBottom5 {
	margin-bottom: 5px;
}

.noMargin {
  margin: 0;
}

.lineHeightSmall {
	line-height: 90%;
}

.noBg {
  background: none;
}

.pipe {
	font-size: 12px;
	color: #aaa;
	padding: 0 5px;
}

img.border {
	border: 5px solid #fff;
	outline: 1px solid #ddd;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	box-sizing: border-box;
	max-height: 230px;
	min-height: 150px;
	height: auto;
}

.imageCaptionRight {
  float: right;
  padding: 5px 0px 10px 15px;
  text-align: center;
}

.imageCaptionLeft {
  float: left;
  padding: 5px 15px 10px 0px;
  text-align: center;
}

.imageCaptionRight img,
.imageCaptionLeft img {
  padding-bottom: 3px;
}


.archonImageLeft {
  margin: 0 8px 2px 0;
  background-color: #DADADA;
  padding-bottom: 0.5em;
}

.archonImageLeft span.caption {
display: block;
font-size: smaller;
margin: 0 0 0 4px;
line-height: 1.2em;
}

.archonImageLeft span.title, span.boule {
display: block;
font-size: smaller;
margin: 0 0 0 4px;
line-height: 1.2em;
color: #6a6a6a;
}

.break-word {
  word-wrap: break-word;
}