/**************************************************************
   AUTHOR:  Pat Heard (fullahead.org)
   DATE:    2010.08.16
   PURPOSE: Controls the styling of text only
 **************************************************************/


/**************************************************************
   #header: Holds the site title and header images
 **************************************************************/

#header .quote {
  color: #FFF;
}

/* Sign Out Link */
#header .signout {
  color: #5CA4D7;
}

#header :hover.signout {
  color: #AED8F5;
  background-color: #333;
}


/**************************************************************
   #menu
 **************************************************************/

#menu a {
  font: bold 1.2em arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;

  color: #aaa;
}


#menu ul a {
  font: bold 1em arial, sans-serif;
  text-transform: none;
  color: #999;
}

#menu a:hover,
#menu .here > a,
#menu .here ul a:hover,
#menu .here ul .here a {
  color: #00689b;
}


/**************************************************************
   #footer: The page footer - will stick to the bottom if not
            enough content.
 **************************************************************/

#footer {
  font: 400 0.9em arial, sans-serif;
}



/**************************************************************
   Press Releases list
 **************************************************************/


ul.pressReleases li a {
  text-decoration: none;
}

ul.pressReleases li a span.date {
  text-decoration: underline;
}

ul.pressReleases li a span.desc {
  color: #111;
}



/**************************************************************
   HTML Elemenets
 **************************************************************/

body {
  font: 400 0.75em arial, sans-serif;
  line-height: 140%;

  color: #111;
}


h1 {
  font: 700 1.35em arial, sans-serif;
  color: #FFF;
}

h2 {
  font: 700 1.3em Georgia, arial, sans-serif;
  letter-spacing: -0.01em;
}

h2.big {
  font-size: 1.3em;
}
a {
  color: #3E85B7;
  text-decoration: none;
}

a:hover {
  color: #235C84;
  background-color: #DBEAF5;
}

del {
  color: #888;
}



/**************************************************************
   Form Elements
 **************************************************************/


input,
textarea,
select {
  font: 400 1em arial, sans-serif;
}



/**************************************************************
   Galleries (gallery selection page)
 **************************************************************/

ul.galleries li a span.title {
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: -0.01em;
  text-decoration: underline;
}

/**************************************************************
    Child Galleries (child gallery selection page)
 **************************************************************/

ul.childgalleries li a span.title {
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: -0.01em;
  text-decoration: underline;
}


