/* @override http://skylinephoto.org/assets/snippets/kalender/themes/gold/theme.css */

#content .kalender tr td ul {
	margin: 0;
	padding: 0 2px;
}

#content .kalender tr td ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.kalender{
	width:870px;
	cursor:pointer;
	border: 1px solid #303030;
}
.kalender-menu{
	width:870px;
}

.kalender tr td {
	width: 14%;
	height: 75px;
	vertical-align: top;
	padding: 2px;
}

.kalender tr td.kalender-month{
	background:url('images/month_bar.gif') repeat-x;
	height:23px;
	font-family:verdana;
	font-size:10px;
	font-weight:bold;
	color:#000000;	
	padding: 0;
}
.kalender tr td.kalender-week{
	background:url('images/week_bar.gif') repeat-x;;
	height:15px;
	width:24px;
	font-family:verdana;
	font-size:9px;
	font-weight:bold;
	color:#433d27;
	padding: 0;
}

.kalender-dayDim{
	background-color:#eeeeee;
	height:50px;	
	font-family:verdana;
	font-size:9px;
	color:#bbbbbb;	
}

.kalender-dayDefault{
	background-color:#e0e0e0;
	height:50px;
	font-family:verdana;
	font-size:9px;
	color:#433d27;		
}

.kalender-dayWeekend{
	background-color:#d0d0d0;
	height:50px;
	font-family:verdana;
	font-size:9px;
	color:#433d27;		
}

.kalender-dayHighlight_1{
	background-color: #8a8a8a;
	height:50px;
	font-family:verdana;
	font-size:9px;
	color:#433d27;			
}

.kalender-dayHighlight_1:hover{
	background-color: #676767;
}

.kalender-dayWeekendHighlight_1{
	background-color: #a0a0a0;
	height:50px;
	font-family:verdana;
	font-size:9px;
	color:#433d27;			
}

.kalender-dayWeekendHighlight_1:hover{
	background-color: #737373;
}

.kalender-dayHighlight_2{
	background-color: #8a8a8a;
	height:50px;
	font-family:verdana;
	font-size:9px;
	color:#fff;			
}

/* My Comment */

.kalender-dayHighlight_2:hover{
	background-color: #676767;
}

.kalender-dayWeekendHighlight_2{
	background-color: #a0a0a0;
	height:50px;
	font-family:verdana;
	font-size:9px;
	color:#433d27;			
}

.kalender-dayWeekendHighlight_2:hover{
	background-color: #737373;
}

.kalender-dayHighlight_3{
	background-color: #8a8a8a;
	height:50px;
	font-family:verdana;
	font-size:9px;
	color:#433d27;			
}

.kalender-dayHighlight_3:hover{
	background-color: #676767;
}

.kalender-dayWeekendHighlight_3{
	background-color: #a0a0a0;
	height:50px;
	font-family:verdana;
	font-size:9px;
	color:#433d27;			
}

.kalender-dayWeekendHighlight_3:hover{
	background-color: #737373;
}

.kalender-tooltip-day{
	height:23px;
	font-family:verdana;
	font-size:10px;
	font-weight:bold;
	color: #fff;
	background-color: #303030;
}

.kalender-tooltip-row_1{
	background-color: #fff;
	font-family:verdana;
	font-size:10px;
	color:#433d27;
	padding: 2px;
}

.kalender-tooltip-row_2{
	background-color: #fff;
	font-family:verdana;
	font-size:10px;
	color:#433d27;
	padding: 2px;
}

.kalender-tooltip-highlight_1{
	background-color: #d0d0d0;
	font-family:verdana;
	font-size:10px;
	color:#433d27;	
	font-weight:bold;
}

.kalender-tooltip-highlight_2{
	background-color: #aaa;
	font-family:verdana;
	font-size:10px;
	color:#433d27;	
	font-weight:bold;	
}

.kalender-tooltip-highlight_3{
	background-color: #8e8e8e;
	font-family:verdana;
	font-size:10px;
	color:#433d27;	
	font-weight:bold;	
}

.kalender-tooltip-row_shadow{
	background:url('images/tooltip_row_shadow.gif') repeat-x;
	height:5px;	
}

.kalender-next{
	background:url('images/next.gif') no-repeat;	
	width:15px;
	height:14px;
}

.kalender-next:hover{
	background:url('images/next_over.gif') no-repeat;	
	width:15px;
	height:14px;
}

.kalender-previous{
	background:url('images/previous.gif') no-repeat;	
	width:15px;
	height:14px;
}

.kalender-previous:hover{
	background:url('images/previous_over.gif') no-repeat;	
	width:15px;
	height:14px;
}

.kalender-jump-row {
	font-family:verdana;
	font-size:10px;
	color:#433d27;	
	cursor:pointer;	
	background-color:#eeeeee;
	height:15px;
	text-decoration:none;
}

.kalender-jump-row:hover{
	font-family:verdana;
	font-size:10px;
	color:#ffffff;	
	cursor:pointer;	
	height:15px;
	text-decoration:none;	
	background-color:#d0d0d0;	
}

.kalender-jump-row-text {
	text-decoration:none;
	color:#555555;
}

.kalender-jump-current-row {
	font-family:verdana;
	font-size:10px;
	color:#ccc;	
	cursor:pointer;	
	background-color:#999;
	height:15px;
	text-decoration:none;
}

.kalender-jump-link{
	font-family:verdana;
	font-size:10px;
	color:#fff;	
	font-weight:bold;	
	cursor:pointer;
}

.kalender-jump-link:hover{
	text-decoration:none;
}

td.kalender-event-highlight_2 {
	background-color: #fff;
	padding: 2px;
}

#overDiv table {
	margin: 0;
	padding: 0;
}

#overDiv tbody {
	border-style: none;
}