/* SLIMBOX */

#lbOverlay {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #000;
	cursor: pointer;
}

#lbCenter, #lbBottom {
	position: absolute;
	left: 50%;
	overflow: hidden;
	background-color: #fff;
}

/* Commented by doze, generated in javascript
.lbLoading {
	background: #fff url(loading.gif) no-repeat center;
}*/

#lbImage {
	border: 10px solid #fff;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0;
}

/* Commented by doze, generated in javascript
#lbPrevLink:hover {
	background: transparent url(prevlabel.gif) no-repeat 0% 15%;
}*/

#lbNextLink {
	right: 0;
}

/* Commented by doze, generated in javascript
#lbNextLink:hover {
	background: transparent url(nextlabel.gif) no-repeat 100% 15%;
}*/

#lbBottom {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	/*background: transparent url(closelabel.gif) no-repeat center;*/
	margin: 5px 0;
}

#lbCaption, #lbNumber {
	margin-right: 71px;
}

#lbCaption {
	font-weight: bold;
}
