<div>
<p>Le [+evt.event_startdate:date=`%d %B %Y`+]</p>
<p>[+evt.pagetitle+]</p>
<p>[+evt.longtitle+]</p>
[+evt.vignette_show:is=`1`:then=`
<img src="[+evt.vignette+]" />
`+]
[+evt.category_event_name:is=`FULL`:then=`
<p>FULL</p>
<a title="The booking of the show is closed. See the other shows of the month." href="index.php?id={{idPgmMois}}">[+evt.event_starttime:date=`%H:%M`+]</a>
`:else=`
<p>BOOK</p>
<a title="Book the show" href="index.php?id={{idReservation}}">[+evt.event_starttime:date=`%H:%M`+]</a>
`+]
<a title="Read more about the show" href="index.php?id=[+evt.id+]">Read more</a>
</div>