        <div class="prog-semaine">
        	<p class="date">Le [+evt.event_startdate:date=`%d/%m/%Y`+]</p>
            <div class="titres">
                <h3>[+evt.pagetitle+]</h3>
                <h4>[+evt.longtitle+]</h4>
            </div>
            <img src="[+evt.vignette+]" alt="" width="87" height="58" />
            [+evt.category_event_name:is=`FULL`:then=`
                <p class="reservation">FULL</p>
                <a title="The booking of the show is closed. See the other show of the month." href="index.php?id={{idPgmMois}}">[+evt.event_starttime:date=`%H:%M`+]</a>
                `:else=`
                <p class="reservation"><a title="Book your show" href="[[Href? &id=`{{idReservation}}` &args=`rid,rts` &rts=`[+evt.event_ts+]` &rid=`[+evt.id+]`]]">BOOKING</a></p>
                <p class="heure">[+evt.event_starttime:date=`%H:%M`+]</p>
            `+]
            <p class="read more"><a title="Read more about the show" href="[[Href? &id=`[+evt.id+]`]]">Read more</a></p>
        </div>