    <p class="choix-mois">On [+evt.tsdate:date=`%d %B %Y`+] at [+evt.tsdate:date=`%HH%M`+]</p>
    
    <div style="padding: 5px 10px;" class="table-prog prog-jour">[+evt.listevents+]
        <hr class="clear" />
    </div>
        
    <p class="nav-bottom">[+evt.prev+] [+evt.next+]</p>