<p class="choix-mois">
    <span>[+evt.tsdate:date=`%B`+]</span> - 
    <a title="[+evt.tsdate:nextmonth=`%B`+]" href="index.php?id=[*id*]&ts=[+evt.ts:nextmonth=`1`+]">[+evt.tsdate:nextmonth=`%B`+]</a> - 
    <a title="[+evt.tsdate:nextmonth=`%B,2`+]" href="index.php?id=[*id*]&ts=[+evt.ts:nextmonth=`2`+]">[+evt.tsdate:nextmonth=`%B,2`+]</a> - 
    <a title="[+evt.tsdate:nextmonth=`%B,3`+]" href="index.php?id=[*id*]&ts=[+evt.ts:nextmonth=`3`+]">[+evt.tsdate:nextmonth=`%B,3`+]</a> - 
    <a title="[+evt.tsdate:nextmonth=`%B,4`+]" href="index.php?id=[*id*]&ts=[+evt.ts:nextmonth=`4`+]">[+evt.tsdate:nextmonth=`%B,4`+]</a>
</p>

[+evt.listevents_show:is=`1`:then=`<div class="table-prog">
            <table cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Hour</th>
                        <th>Title</th>
                        <th>Style</th>
                        <th>Read more</th>
                        <th>Booking</th>
                    </tr>
                </thead>
                <tbody>
                   	[+evt.listevents+]
                </tbody>
            </table>
</div>
`:else=`    <p>No shows during this period</p>`+]

<p class="nav-bottom">[+evt.prev+] [+evt.next+]</p>