    <h2>Week from [+evt.tsdate:firstdayweek=`%d %*B %*Y`+] to [+evt.tsdate:lastdayweek=`%d %B %Y`+]</h2>

        [+evt.listevents_show:is=`1`:then=`[+evt.listevents+]`:else=`<p>No shows during this period.</p>`+]
        
    <p class="nav-bottom">[+evt.prev+] [+evt.next+]</p>