        <tr>
            <td class="date">[+evt.event_startdate:date=`%d %b`+]</td>
            <td class="heure">[+evt.event_starttime:date=`%Hh%M`+]</td>
            <td class="titre">[+evt.pagetitle:ucase+]</td>
            <td class="style">[+evt.longtitle:ucase+]</td>
            <td class="savoirplus"><a title="Read more about [+evt.pagetitle:ucase+]" href="[[Href? &id=`[+evt.id+]`]]">Read more</a></td>
			[+evt.category_event_name:is=`BOOK`:then=`
            <td class="reservation"><a title="Book your show" href="[[Href? &id=`{{idReservation}}` &args=`rid,rts` &rts=`[+evt.event_ts+]` &rid=`[+evt.id+]`]]">BOOK</a></td>
            `:else=`
            <td class="reservation">FULL</td>
            `+]    
        </tr>