        <div class="prog-1parsemaine">
            <h3>[+evt.pagetitle+]</h3>
            <h4>[+evt.longtitle+]</h4>
            <img src="[+evt.visuel-spectacle+]" alt="" width="130" />
            <p class="entete">Summary</p>
            [+evt.content+]
            <div id="resaspectacle">
            	[+evt.listnextevents+]
                <p class="savoirplus"><a title="En savoir plus sur [+evt.pagetitle:ucase+]" href="[[Href? &id=`[+evt.id+]`]]">En savoir plus</a></p>
            </div>
            
            <p><span class="entete">Duration</span> : [+evt.duree-spectacle+]</p>            
            <p><span class="entete">Audience</span> : [+evt.public+]</p>            
            <p><span class="entete">Public price</span> : [+evt.evtPrixPublic+] // <span class="entete">Discount price</span> : [+evt.evtPrixReduit+]</p>
            
            <hr class="clear" />
        </div>