<h2>[+evt.pagetitle+]</h2>
<div style="float:right;margin:0 30px 15px 15px;width:250px;text-align:center;">
    <img class="visuel-spectacle" src="[+evt.visuel-spectacle+]" alt="" width="192" height="288"  />
    [+evt.category_event_name:is=`BOOK`:then=`
            <a class="reserverenligne" title="Book your show" href="[[Href? &id=`{{idReservation}}` &args=`docid,ts` &ts=`[+evt.event_ts+]` &docid=`[+evt.id+]`]]"><span>Book on line</span></a>
            `:else=`
            <span class="complet"><span>Full</span></span>
            `+]   
</div>
<p class="entete">Summary</p>
[+evt.content+]
<p class="entete">[+evt.titre-artiste+]</p>
[+evt.artiste+]
[+evt.spectacle-pdf_show:is=`1`:then=`<p><span class="entete">Presentation of show (PDF)</span> : <a href="[+evt.spectacle-pdf+]">Dowload the presentation</a></p>`+]
<p><span class="entete">Duration</span> : [+evt.duree-spectacle+]</p>

<p><span class="entete">Audience</span> : [+evt.public+]</p>

<p><span class="entete">Public price</span> : [+evt.evtPrixPublic+] // <span class="entete">Discount price</span> : [+evt.evtPrixReduit+]</p>
[+evt.video-youtube_show:is=`1`:then=`<p><span class="entete">YOUTUBE</span> : <a href="[+video-youtube+]">[+evt.video-youtube+]</a></p>`+]
[+evt.video-myspace_show:is=`1`:then=`<p><span class="entete">MYSPACE</span> : <a href="[+video-myspace+]">[+evt.video-myspace+]</a></p>`+]
[+evt.video-facebook_show:is=`1`:then=`<p><span class="entete">FACEBOOK</span> : <a href="[+video-facebook+]">[+evt.video-facebook+]</a></p>`+]