.popperlink[<-chunkID->]{
	z-index: 2; 
	visibility: hidden; 
	width: 200px; 
	position: absolute;
	}

/*************************************************
SECTION CSS POUR LE CALENDRIER
*************************************************/
.CALxContent[<-chunkID->]{
	margin: 0;
	padding: 0;
	font-size: 1em;
	margin-bottom: 1em;
	margin-right: 1em;
	margin-left: 1em;
	text-align: center;
	color: White;
	border-color:white;
	background-color: Black;
}
/***********
CSS POUR LES LIENS ET LE MOIS ANNEE
DE NAVIGATION
************/
.navPeriod[<-chunkID->]{
	text-align: center;
	margin:0;
	padding:0;
	margin-bottom:1em;
	text-decoration: none;
	color:white;
}
.navPeriod[<-chunkID->] a{
	text-decoration: none;
	color:white;
}
.previousYear[<-chunkID->] img,a,span{
	margin-right: 2%;
	text-decoration: none;
	border: none;
}
.previousMonth[<-chunkID->] img,a,span{
	margin-right: 2%;
	text-decoration: none;
	border: none;
}
.nextMonth[<-chunkID->] img,a,span{
	margin-right: 2%;
	text-decoration: none;
	border: none;
}
.nextYear[<-chunkID->] img,a,span{
	margin-right: 2%;
	text-decoration: none;
	border: none;
}

.month[<-chunkID->]{
	margin-right: 0%;
}

.year[<-chunkID->]{
	margin-right: 0%;
}

.CALxTabOfYearContent[<-chunkID->]{
	border-style: solid solid solid solid;
	color: White;
	width: 100%; 
	border: thin solid White;
}

.CALxTable[<-chunkID->]{
	border-style: solid solid solid solid;
	color: White;
	width: 100%;
	border: thin solid White;
	text-align:center;
	font-size: 1em;
}

.CALxTable[<-chunkID->] td{
	border-style: solid solid solid solid;
	color: White;
	border: thin solid White;
width:14%;
}

td.emptyDay[<-chunkID->]{
	background-color: black;
	font-weight: bold;
	color:black;
	border: thin solid Black;
}

td.today[<-chunkID->]{
	background-color: rgb(212,227,186);
	font-weight: bold;
	color:black;
}
td.inactDay[<-chunkID->]{
	background-color:#D6E7F4;
	color: Black;
}
td.event[<-chunkID->]{
	background-color:rgb(149,169,100);
}
td.multiple[<-chunkID->]{
	background-color:rgb(111,147,72);
}
.titleMulti[<-chunkID->]{
	color:rgb(111,147,72);
}
td.event[<-chunkID->] a{
	text-decoration:none;
	color:black;
}
td.event[<-chunkID->] a:hover{
	background-color:rgb(212,227,186);
}
td.multiple[<-chunkID->] a{
	text-decoration:none;
	color:black;
}
td.multiple[<-chunkID->] a:hover{
	background-color:#D6E7F4;
}
td.dayPreviousMonth[<-chunkID->]{
	background-color: Gray;
}
td.dayNextMonth[<-chunkID->]{
	background-color: Gray;
}

/*************************************************
SECTION CSS POUR LES INFOBULLES
*************************************************/
.linkDetailPopup[<-chunkID->]{
	color:white;
}
.textfontClass[<-chunkID->] {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 1em;
	text-align: left;
	color: Black;
}
.textfontClass[<-chunkID->] a{
	color:rgb(111,147,72);
	font-size: 1em;
}
.textfontClass[<-chunkID->] a:hover{
	font-weight: bold;
}
.capfontClass[<-chunkID->] {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
  	color:  #ffffff;
	text-align:left;
}
.closefontClass[<-chunkID->]{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
  color:  #ffffff;
  text-align:right;
}
.capfontClass[<-chunkID->],.closefontClass[<-chunkID->] a {
	color: #ffffff; 
	font-size: 1em;
}
.fgClass[<-chunkID->] {
	background-color:rgb(212,227,186);
}
.bgClass[<-chunkID->] {
	background-color:rgb(111,147,72);
}
