/*------ Color Overrides ------*/

/*------ Defaults ------*/
/*--------------------------
* Palette: 
* mid blue: #006fb1
* light blue (highlight): #b6dff8
* dark blue (button bg): #005486

* Mobile Menu Palette:
* bright blue: #1472b3
* button bg mid blue: #3388c3
* button border blue: #0662a2
* white: #ffffff
* medium grey: #666666
* dark grey: #1a130c
--------------------------------*/

a.button, input[type="submit"] {
	background-color: #3388c3;
	border-color: #0662a2;
	color: #ffffff !important;
}

.blue-bar header nav {
	background-color: #006fb1;
}

.blue-bar header nav a:link, .blue-bar header nav a:visited {
	color: #b6dff8;
}

.headersearch form {
	background-color: #006fb1;
}

.headersearch::before {
	border-bottom: 7px solid #006fb1;
}

.headersearch input[type="submit"] {
	background-color: #005486;
}

.menu-panel {
	background-color: #1a130c;
}

.menu-mobile, .menu-mobile li a, .menu-mobile .trigger {
	color: #ffffff;
}

.menu-mobile .close {
	color: #666666;
}

.menu-mobile .close:hover {
    color: #ffffff;
}

header nav a:hover, .menu-panel a:hover, .menu-panel .trigger:hover {
	color: #1472b3;
}

/*------ Dark Blue ------*/
/* 
	.color-override-dark-blue {
	  Color: #0023B1;
	}
*/

/*--------------------------
* Palette: 
* mid blue: #0023B1			 was : #006fb1 - primary Color
* light blue (highlight):    was : #b6dff8
* dark blue (button bg):     was : #005486

* Mobile Menu Palette:
* bright blue: 				 was : #1472b3
* button bg mid blue: 		 was : #3388c3
* button border blue:        was : #0662a2
* white: 					 was : #ffffff
* medium grey: 				 was : #666666
* dark grey: 				 was : #1a130c

* jetmenu palette, contd
* 1st dropdown: #0023B1	 was : #006fb1 - matches primary Color
* 2nd dropdown: 			 was : #646161 - 
* 2nd dropdown: #728BEE			 was : #2f97d5 - 
* 2nd dropdown: 			 was : #c2c2c0 - 
* 2nd dropdown, medium grey: 			 was : #666666 - 


--------------------------------*/

.color-override-dark-blue a.button, input[type="submit"] {
	background-color: #2A45B1; /* update */
	border-color: #00197E; /* update */
	color: #ffffff !important; /* update */
}

.color-override-dark-blue.blue-bar header nav {
	background-color: #0023B1;
}

.color-override-dark-blue.blue-bar header nav a:link, .blue-bar header nav a:visited {
	color: #BFC8EC; /* update */
}

.color-override-dark-blue .headersearch form {
	background-color: #0023B1;
}

.color-override-dark-blue .headersearch::before {
	border-bottom: 7px solid #0023B1;
}

.color-override-dark-blue .headersearch input[type="submit"] {
	background-color: #00197E;  /* update */
}

.color-override-dark-blue .menu-panel {
	background-color: #1a130c; /* update */
}

.color-override-dark-blue .menu-mobile, .menu-mobile li a, .menu-mobile .trigger {
	color: #ffffff; /* update */
}

.color-override-dark-blue .menu-mobile .close {
	color: #666666; /* update */
} 

.color-override-dark-blue .menu-mobile .close:hover {
    color: #ffffff; /* update */
}

.color-override-dark-blue header nav a:hover, .menu-panel a:hover, .menu-panel .trigger:hover {
	color: #728BEE; /* update */
}


/* jetmenu */
.color-override-dark-blue.blue-bar .jetmenu ul.dropdown, 
.blue-bar .jetmenu ul.dropdown li ul.dropdown {
	background: #0023B1; /* update, same as primary */
}

.color-override-dark-blue .jetmenu ul li .indicator{
	top: 2px;
	left: 10px;
	color: #646161; /* update */
}

.color-override-dark-blue.blue-bar ul li .indicator {
	color: #728BEE; /* update */
}

.color-override-dark-blue .topbar .jetmenu ul.dropdown, 
.topbar .jetmenu ul.dropdown li ul.dropdown {
	min-width: 200px;
	background: #c2c2c0; /* update */
} 

.color-override-dark-blue .topbar .jetmenu ul.dropdown li a {
	color: #666;
	font-size: 14px;
	font-size: .9rem;
}



/*------ Blue Red ------*/
/*
	.color-override-blue-red {
	  Color: #3E00B1;
	}
*/
/*--------------------------
* Palette: 
* Blue Red: #3E00B1			 was : #006fb1 - primary Color
* light blue (highlight):#6B16CC    was : #b6dff8
* dark blue (button bg): #420198    was : #005486

* Mobile Menu Palette:
* bright blue: #A97AFF				 was : #1472b3
* button bg mid blue: #5A2BB2		 was : #3388c3
* button border blue: #2C007E       was : #0662a2
* white: 					 was : #ffffff
* medium grey: 				 was : #666666
* dark grey: 				 was : #1a130c

* jetmenu palette, contd
* 1st dropdown: #3E00B1	 was : #006fb1 - matches primary Color
* 2nd dropdown: 			 was : #646161 - 
* 2nd dropdown: #ffffff			 was : #2f97d5 - 
* 2nd dropdown: 			 was : #c2c2c0 - 
* 2nd dropdown, medium grey: 			 was : #666666 - 


--------------------------------*/

.color-override-blue-red a.button, input[type="submit"] {
	background-color: #5A2BB2; /* update */
	border-color: #2C007E; /* update */
	color: #ffffff !important; /* update */
}

.color-override-blue-red.blue-bar header nav {
	background-color: #3E00B1;
}

.color-override-blue-red.blue-bar header nav a:link, .blue-bar header nav a:visited {
	color: #ffffff; /* update */
}

.color-override-blue-red .headersearch form {
	background-color: #3E00B1;
}

.color-override-blue-red .headersearch::before {
	border-bottom: 7px solid #3E00B1;
}

.color-override-blue-red .headersearch input[type="submit"] {
	background-color: #420198;  /* update */
}

.color-override-blue-red .menu-panel {
	background-color: #1a130c; /* update */
}

.color-override-blue-red .menu-mobile, .menu-mobile li a, .menu-mobile .trigger {
	color: #ffffff; /* update */
}

.color-override-blue-red .menu-mobile .close {
	color: #666666; /* update */
} 

.color-override-blue-red .menu-mobile .close:hover {
    color: #ffffff; /* update */
}

.color-override-blue-red header nav a:hover, .menu-panel a:hover, .menu-panel .trigger:hover {
	color: #A97AFF; /* update */
}


/* jetmenu */
.color-override-blue-red.blue-bar .jetmenu ul.dropdown, 
.blue-bar .jetmenu ul.dropdown li ul.dropdown {
	background: #3E00B1; /* update, same as primary */
}

.color-override-blue-red .jetmenu ul li .indicator{
	top: 2px;
	left: 10px;
	color: #646161; /* update */
}

.color-override-blue-red.blue-bar ul li .indicator {
	color: #728BEE; /* update */
}

.color-override-blue-red .topbar .jetmenu ul.dropdown, 
.topbar .jetmenu ul.dropdown li ul.dropdown {
	min-width: 200px;
	background: #c2c2c0; /* update */
} 

.color-override-blue-red .topbar .jetmenu ul.dropdown li a {
	color: #666;
	font-size: 14px;
	font-size: .9rem;
}





/*------ Red Blue ------*/
/*
	.color-override-red-blue {
	  Color: #AC00B1;
	}
*/
/*--------------------------
* Palette: 
* Red Blue: #AC00B1			 was : #006fb1 - primary Color
* light blue (highlight):    was : #b6dff8
* dark blue (button bg):     was : #005486

* Mobile Menu Palette:
* bright blue: 				 was : #1472b3
* button bg mid blue: 		 was : #3388c3
* button border blue:        was : #0662a2
* white: 					 was : #ffffff
* medium grey: 				 was : #666666
* dark grey: 				 was : #1a130c
--------------------------------*/

.color-override-red-blue a.button, input[type="submit"] {
	background-color: #3388c3; /* update */
	border-color: #0662a2; /* update */
	color: #ffffff !important; /* update */
}

.color-override-red-blue.blue-bar header nav {
	background-color: #AC00B1;
}

.color-override-red-blue.blue-bar header nav a:link, .blue-bar header nav a:visited {
	color: #b6dff8; /* update */
}

.color-override-red-blue .headersearch form {
	background-color: #AC00B1;
}

.color-override-red-blue .headersearch::before {
	border-bottom: 7px solid #AC00B1;
}

.color-override-red-blue .headersearch input[type="submit"] {
	background-color: #005486;  /* update */
}

.color-override-red-blue .menu-panel {
	background-color: #1a130c; /* update */
}

.color-override-red-blue .menu-mobile, .menu-mobile li a, .menu-mobile .trigger {
	color: #ffffff; /* update */
}

.color-override-red-blue .menu-mobile .close {
	color: #666666; /* update */
} 

.color-override-red-blue .menu-mobile .close:hover {
    color: #ffffff; /* update */
}

.color-override-red-blue header nav a:hover, .menu-panel a:hover, .menu-panel .trigger:hover {
	color: #1472b3; /* update */
}

/*------ Red ------*/
/*
	.color-override-red {
	  Color: #C40036;
	}
*/
/*--------------------------
* Palette: 
* Red: #C40036			 was : #006fb1 - primary Color
* light blue (highlight):    was : #b6dff8
* dark blue (button bg):     was : #005486

* Mobile Menu Palette:
* bright blue: #E80040				 was : #1472b3
* button bg mid blue:#C40036 		 was : #3388c3
* button border blue: #AB002F       was : #0662a2
* white: 					 was : #ffffff
* medium grey: 				 was : #666666
* dark grey: 				 was : #1a130c

* jetmenu palette, contd
* 1st dropdown: #E80040	 was : #006fb1 - matches primary Color
* 2nd dropdown: 			 was : #646161 - 
* 2nd dropdown: #728BEE			 was : #2f97d5 - 
* 2nd dropdown: 			 was : #c2c2c0 - 
* 2nd dropdown, medium grey: 			 was : #666666 - 
--------------------------------*/

.color-override-red a.button, input[type="submit"] {
	background-color: #C40036; /* update */
	border-color: #AB002F; /* update */
	color: #ffffff !important; /* update */
	/*font-weight: bold;*/
}

.color-override-red.blue-bar header nav {
	background-color: #C40036;
}

.color-override-red.blue-bar header nav a:link, color-override-red.blue-bar header nav a:visited {
	color: #E80040; /* update */
}

.color-override-red .headersearch form {
	background-color: #C40036;
}

.color-override-red .headersearch::before {
	border-bottom: 7px solid #C40036;
}

.color-override-red .headersearch input[type="submit"] {
	background-color: #005486;  /* update */
}

.color-override-red .menu-panel {
	background-color: #1a130c; /* update */
}

.color-override-red .menu-mobile, .menu-mobile li a, .menu-mobile .trigger {
	color: #ffffff; /* update */
}

.color-override-red .menu-mobile .close {
	color: #666666; /* update */
} 

.color-override-red .menu-mobile .close:hover {
    color: #ffffff; /* update */
}

.color-override-red header nav a:hover, .menu-panel a:hover, .menu-panel .trigger:hover {
	color: #E80040; /* update */
}



/* jetmenu */
.color-override-red.blue-bar .jetmenu ul.dropdown, 
.blue-bar .jetmenu ul.dropdown li ul.dropdown {
	background: #C40036; /* update, same as primary */
}

.color-override-red .jetmenu ul li .indicator{
	top: 2px;
	left: 10px;
	color: #4F0016; /* update */
}

.color-override-red.blue-bar ul li .indicator {
	color: #E80040; /* update */
}

.color-override-red .topbar .jetmenu ul.dropdown, 
.topbar .jetmenu ul.dropdown li ul.dropdown {
	min-width: 200px;
	background: #c2c2c0; /* update */
} 

.color-override-red .topbar .jetmenu ul.dropdown li a {
	color: #666;
	font-size: 14px;
	font-size: .9rem;
}



/*------ Red Orange ------*/
/*
	.color-override-red-orange {
	  Color: #DD2100;
	}
*/
/*--------------------------
* Palette: 
* red-orange: #DD2100		 was : #006fb1 - primary Color
* light blue (highlight):    was : #b6dff8
* dark blue (button bg):     was : #005486

* Mobile Menu Palette:
* bright blue: 				 was : #1472b3
* button bg mid blue: 		 was : #3388c3
* button border blue:        was : #0662a2
* white: 					 was : #ffffff
* medium grey: 				 was : #666666
* dark grey: 				 was : #1a130c
--------------------------------*/

.color-override-red-orange a.button, input[type="submit"] {
	background-color: #3388c3; /* update */
	border-color: #0662a2; /* update */
	color: #ffffff !important; /* update */
}

.color-override-red-orange.blue-bar header nav {
	background-color: #DD2100;
}

.color-override-red-orange.blue-bar header nav a:link, .blue-bar header nav a:visited {
	color: #b6dff8; /* update */
}

.color-override-red-orange .headersearch form {
	background-color: #DD2100;
}

.color-override-red-orange .headersearch::before {
	border-bottom: 7px solid #DD2100;
}

.color-override-red-orange .headersearch input[type="submit"] {
	background-color: #005486;  /* update */
}

.color-override-red-orange .menu-panel {
	background-color: #1a130c; /* update */
}

.color-override-red-orange .menu-mobile, .menu-mobile li a, .menu-mobile .trigger {
	color: #ffffff; /* update */
}

.color-override-red-orange .menu-mobile .close {
	color: #666666; /* update */
} 

.color-override-red-orange .menu-mobile .close:hover {
    color: #ffffff; /* update */
}

.color-override-red-orange header nav a:hover, .menu-panel a:hover, .menu-panel .trigger:hover {
	color: #1472b3; /* update */
}

/*------ Orange ------*/
/*
	.color-override-orange {
	  Color: #DD6900;
	}
*/
/*--------------------------
* Palette: 
* Orange: #DD6900		 was : #006fb1 - primary Color
* light blue (highlight):    was : #b6dff8
* dark blue (button bg):     was : #005486

* Mobile Menu Palette:
* bright blue: 				 was : #1472b3
* button bg mid blue: 		 was : #3388c3
* button border blue:        was : #0662a2
* white: 					 was : #ffffff
* medium grey: 				 was : #666666
* dark grey: 				 was : #1a130c
--------------------------------*/

.color-override-orange a.button, input[type="submit"] {
	background-color: #3388c3; /* update */
	border-color: #0662a2; /* update */
	color: #ffffff !important; /* update */
}

.color-override-orange.blue-bar header nav {
	background-color: #DD6900;
}

.color-override-orange.blue-bar header nav a:link, .blue-bar header nav a:visited {
	color: #b6dff8; /* update */
}

.color-override-orange .headersearch form {
	background-color: #DD6900;
}

.color-override-orange .headersearch::before {
	border-bottom: 7px solid #DD6900;
}

.color-override-orange .headersearch input[type="submit"] {
	background-color: #005486;  /* update */
}

.color-override-orange .menu-panel {
	background-color: #1a130c; /* update */
}

.color-override-orange .menu-mobile, .menu-mobile li a, .menu-mobile .trigger {
	color: #ffffff; /* update */
}

.color-override-orange .menu-mobile .close {
	color: #666666; /* update */
} 

.color-override-orange .menu-mobile .close:hover {
    color: #ffffff; /* update */
}

.color-override-orange header nav a:hover, .menu-panel a:hover, .menu-panel .trigger:hover {
	color: #1472b3; /* update */
}

/*------ Yellow Orange ------*/
/*
	.color-override-yellow-orange {
	  Color: #DD9500;
	}
*/
/*--------------------------
* Palette: 
* Yellow Orange: #DD9500	 was : #006fb1 - primary Color
* light blue (highlight):#FFC03D    was : #b6dff8
* dark blue (button bg): #63522F    was : #005486

* Mobile Menu Palette:
* bright blue: #000000				 was : #1472b3
* button bg mid blue: #DD9500		 was : #3388c3
* button border blue: #C48400       was : #0662a2
* white: 					 was : #ffffff
* medium grey: #A0854D				 was : #666666
* dark grey: #63522F				 was : #1a130c

* jetmenu palette, contd
* 1st dropdown: #0023B1	 was : #006fb1 - matches primary Color
* 2nd dropdown: 			 was : #646161 - 
* 2nd dropdown: #728BEE			 was : #2f97d5 - 
* 2nd dropdown: 			 was : #c2c2c0 - 
* 2nd dropdown, medium grey: 			 was : #666666 - 
--------------------------------*/

.color-override-yellow-orange a.button, input[type="submit"] {
	background-color: #DD9500; /* update */
	border-color: #C48400; /* update */
	color: #ffffff !important; /* update */
	/*font-weight: bold;*/
}

.color-override-yellow-orange.blue-bar header nav {
	background-color: #DD9500;
}

.color-override-yellow-orange.blue-bar header nav a:link, .color-override-yellow-orange.blue-bar header nav a:visited {
	color: #000000; /* update */
}

.color-override-yellow-orange .headersearch form {
	background-color: #DD9500;
}

.color-override-yellow-orange .headersearch::before {
	border-bottom: 7px solid #DD9500;
}

.color-override-yellow-orange .headersearch input[type="submit"] {
	background-color: #63522F;  /* update */
}

.color-override-yellow-orange .menu-panel {
	background-color: #63522F; /* update */
}

.color-override-yellow-orange .menu-mobile, .menu-mobile li a, .menu-mobile .trigger {
	color: #ffffff; /* update */
}

.color-override-yellow-orange .menu-mobile .close {
	color: #A0854D; /* update */
} 

.color-override-yellow-orange .menu-mobile .close:hover {
    color: #ffffff; /* update */
}

.color-override-yellow-orange header nav a:hover, .menu-panel a:hover, .menu-panel .trigger:hover {
	color: #FFAC00; /* update */
}


/* jetmenu */
.color-override-yellow-orange.blue-bar .jetmenu ul.dropdown, 
.blue-bar .jetmenu ul.dropdown li ul.dropdown {
	background: #DD9500; /* update, same as primary */
}

.color-override-yellow-orange .jetmenu ul li .indicator{
	top: 2px;
	left: 10px;
	color: #646161; /* update */
}

.color-override-yellow-orange.blue-bar ul li .indicator {
	color: #FFAC00; /* update */
}

.color-override-yellow-orange .topbar .jetmenu ul.dropdown, 
.topbar .jetmenu ul.dropdown li ul.dropdown {
	min-width: 200px;
	background: #c2c2c0; /* update */
} 

.color-override-yellow-orange .topbar .jetmenu ul.dropdown li a {
	color: #666;
	font-size: 14px;
	font-size: .9rem;
}





/*------ Yellow Green ------*/
/*
	.color-override-yellow-green {
	  Color: #DDC100;
	}
*/
/*--------------------------
* Palette: 
* Yellow Green: #DDC100	 	 was : #006fb1 - primary Color
* light blue (highlight):    was : #b6dff8
* dark blue (button bg):     was : #005486

* Mobile Menu Palette:
* bright blue: 				 was : #1472b3
* button bg mid blue: 		 was : #3388c3
* button border blue:        was : #0662a2
* white: 					 was : #ffffff
* medium grey: 				 was : #666666
* dark grey: 				 was : #1a130c
--------------------------------*/

.color-override-yellow-green a.button, input[type="submit"] {
	background-color: #3388c3; /* update */
	border-color: #0662a2; /* update */
	color: #ffffff !important; /* update */
}

.color-override-yellow-green.blue-bar header nav {
	background-color: #DDC100;
}

.color-override-yellow-green.blue-bar header nav a:link, .blue-bar header nav a:visited {
	color: #b6dff8; /* update */
}

.color-override-yellow-green .headersearch form {
	background-color: #DDC100;
}

.color-override-yellow-green .headersearch::before {
	border-bottom: 7px solid #DDC100;
}

.color-override-yellow-green .headersearch input[type="submit"] {
	background-color: #005486;  /* update */
}

.color-override-yellow-green .menu-panel {
	background-color: #1a130c; /* update */
}

.color-override-yellow-green .menu-mobile, .menu-mobile li a, .menu-mobile .trigger {
	color: #ffffff; /* update */
}

.color-override-yellow-green .menu-mobile .close {
	color: #666666; /* update */
} 

.color-override-yellow-green .menu-mobile .close:hover {
    color: #ffffff; /* update */
}

.color-override-yellow-green header nav a:hover, .menu-panel a:hover, .menu-panel .trigger:hover {
	color: #1472b3; /* update */
}

/*------ Green Yellow ------*/
/*
	.color-override-green-yellow {
	  Color: #C5D500;
	}
*/
/*--------------------------
* Palette: 
* Green Yellow: #C5D500 	 was : #006fb1 - primary Color
* light blue (highlight):    was : #b6dff8
* dark blue (button bg):     was : #005486

* Mobile Menu Palette:
* bright blue: 				 was : #1472b3
* button bg mid blue: 		 was : #3388c3
* button border blue:        was : #0662a2
* white: 					 was : #ffffff
* medium grey: 				 was : #666666
* dark grey: 				 was : #1a130c
--------------------------------*/

.color-override-green-yellow a.button, input[type="submit"] {
	background-color: #3388c3; /* update */
	border-color: #0662a2; /* update */
	color: #ffffff !important; /* update */
}

.color-override-green-yellow.blue-bar header nav {
	background-color: #C5D500;
}

.color-override-green-yellow.blue-bar header nav a:link, .blue-bar header nav a:visited {
	color: #b6dff8; /* update */
}

.color-override-green-yellow .headersearch form {
	background-color: #C5D500;
}

.color-override-green-yellow .headersearch::before {
	border-bottom: 7px solid #C5D500;
}

.color-override-green-yellow .headersearch input[type="submit"] {
	background-color: #005486;  /* update */
}

.color-override-green-yellow .menu-panel {
	background-color: #1a130c; /* update */
}

.color-override-green-yellow .menu-mobile, .menu-mobile li a, .menu-mobile .trigger {
	color: #ffffff; /* update */
}

.color-override-green-yellow .menu-mobile .close {
	color: #666666; /* update */
} 

.color-override-green-yellow .menu-mobile .close:hover {
    color: #ffffff; /* update */
}

.color-override-green-yellow header nav a:hover, .menu-panel a:hover, .menu-panel .trigger:hover {
	color: #1472b3; /* update */
}

/*------ Green 1 ------*/
/*
	.color-override-green1 {
	  Color: #57BF00;
	}
*/
/*--------------------------
* Palette: 
* Green 1: #57BF00 	 was : #006fb1 - primary Color
* light blue (highlight):    was : #b6dff8
* dark blue (button bg):     was : #005486

* Mobile Menu Palette:
* bright blue: 				 was : #1472b3
* button bg mid blue: 		 was : #3388c3
* button border blue:        was : #0662a2
* white: 					 was : #ffffff
* medium grey: 				 was : #666666
* dark grey: 				 was : #1a130c
--------------------------------*/

.color-override-green1 a.button, input[type="submit"] {
	background-color: #3388c3; /* update */
	border-color: #0662a2; /* update */
	color: #ffffff !important; /* update */
}

.color-override-green1.blue-bar header nav {
	background-color: #57BF00;
}

.color-override-green1.blue-bar header nav a:link, .blue-bar header nav a:visited {
	color: #b6dff8; /* update */
}

.color-override-green1 .headersearch form {
	background-color: #57BF00;
}

.color-override-green1 .headersearch::before {
	border-bottom: 7px solid #57BF00;
}

.color-override-green1 .headersearch input[type="submit"] {
	background-color: #005486;  /* update */
}

.color-override-green1 .menu-panel {
	background-color: #1a130c; /* update */
}

.color-override-green1 .menu-mobile, .menu-mobile li a, .menu-mobile .trigger {
	color: #ffffff; /* update */
}

.color-override-green1 .menu-mobile .close {
	color: #666666; /* update */
} 

.color-override-green1 .menu-mobile .close:hover {
    color: #ffffff; /* update */
}

.color-override-green1 header nav a:hover, .menu-panel a:hover, .menu-panel .trigger:hover {
	color: #1472b3; /* update */
}

/*------ Green 2 ------*/
/*
	.color-override-green2 {
	  Color: #00B14C;
	}
*/
/*--------------------------
* Palette: 
* Green 2: #00B14C 	 was : #006fb1 - primary Color
* light blue (highlight):    was : #b6dff8
* dark blue (button bg):     was : #005486

* Mobile Menu Palette:
* bright blue: 				 was : #1472b3
* button bg mid blue: 		 was : #3388c3
* button border blue:        was : #0662a2
* white: 					 was : #ffffff
* medium grey: 				 was : #666666
* dark grey: 				 was : #1a130c
--------------------------------*/

.color-override-green2 a.button, input[type="submit"] {
	background-color: #3388c3; /* update */
	border-color: #0662a2; /* update */
	color: #ffffff !important; /* update */
}

.color-override-green2.blue-bar header nav {
	background-color: #00B14C;
}

.color-override-green2.blue-bar header nav a:link, .blue-bar header nav a:visited {
	color: #b6dff8; /* update */
}

.color-override-green2 .headersearch form {
	background-color: #00B14C;
}

.color-override-green2 .headersearch::before {
	border-bottom: 7px solid #00B14C;
}

.color-override-green2 .headersearch input[type="submit"] {
	background-color: #005486;  /* update */
}

.color-override-green2 .menu-panel {
	background-color: #1a130c; /* update */
}

.color-override-green2 .menu-mobile, .menu-mobile li a, .menu-mobile .trigger {
	color: #ffffff; /* update */
}

.color-override-green2 .menu-mobile .close {
	color: #666666; /* update */
} 

.color-override-green2 .menu-mobile .close:hover {
    color: #ffffff; /* update */
}

.color-override-green2 header nav a:hover, .menu-panel a:hover, .menu-panel .trigger:hover {
	color: #1472b3; /* update */
}