<div class="contentBlock" id="centerBlock"><!-- Begin Content Block -->
	<h1 class="big">Breaking News</h1>   
	<ul class="rssFeed">
		{{ITEM->item}}
	</ul>
	<div class="footer"> 
		<a href="[~922~]" title="More news related to the 2008 Presidential Initiative.">MORE RELATED NEWS</a>
	</div>
</div><!-- End content block -->