<li><a href="[+LINK+]" title="Posted on [+PUBDATE+]">[+TITLE+] [+TEST+]</a></li>
<!-- <li><a href="[+LINK.HREF+]" title="[+TITLE+]">[+TITLE+]</a><br />
[+phx:input=`[+SOURCE_PUBLISHED_DATE+]`:mydate=`%B %d, %Y`+]</li> -->
