<li>
	<span class="small rssDate">[+phx:input=`[+PUBDATE+]`:mydate=`%B %d, %Y`+]</span><br />
	<span class="rssTitle"><a href="[+LINK+]" title="[+TITLE+]" target="_blank">[+TITLE+]</a></span><br />
	[+DESCRIPTION+]
</li>
