/**************************************************
 HTML Elements
 **************************************************/

html {
    -webkit-text-size-adjust: none;
}

body,
h5 {
    font-size: 1.5em;
}

body,
body.activity-permalink,
body#bp-default #wp-admin-bar .padder,
body#bp-default.activity-permalink #wp-admin-bar .padder {
    min-width: 100%;
    max-width: 100%;
}


/**************************************************
 Header
 **************************************************/

#header,
div#container {
    padding: 0;
    margin-left: auto;
    margin-right: auto;    
    width: 95%;
}

#header {
    height: 210px;    
}

#header #tagline {
    right: 10px;
    bottom: 60px;
    width: 100%;
    text-align: right;
    
    font-size: 1em;
    line-height: 100%;       
}

#header #cultivating-excellence {
    display: none;
}


#header #search-bar {
    top: 30px;
}

#header #search-bar input,
#header #search-bar select,
#header #search-bar input[type=submit] {
    font-size: 0.9em;
}

#header #search-bar input[type=submit] {
    position: relative;
    top: -5px;
}


ul#nav {
    position: static;
    padding-top: 170px;
}

/**************************************************
 Admin Bar
 **************************************************/

#wp-admin-bar {
    height: 35px;
}

#admin-bar-logo {
    position: relative;
    top: -2px;
}

#wp-admin-bar,
#admin-bar-logo,
#wp-admin-bar li a {
    font-size: 1em;
}

#wp-admin-bar ul li ul {
    width: 300px;
}

#wp-admin-bar ul li ul li {
    width: 290px;
}

#wp-admin-bar ul li ul ul {
    margin: -40px 0 0 295px;
}

#wp-admin-bar ul li {
    background-image: none;
}


/**************************************************
 Content
 **************************************************/

div#container {
	clear: both;
}

div#content .padder,
div#sidebar .padder {
    font-size: 1.4em;
    padding: 10px 0;
    margin: 0; 
}

#paging .left,
#paging .right {
    text-align: left;
    float: none;
    width: 100%;    
}

div#sidebar {
    width: 100%;
    margin-left: 0;
}  

#sidebar-me li a {
    padding: 20px 0;
}

div.dir-search {
    display: none;
}

div#object-nav {
    border-top: 40px solid #fff;
}

div#subnav {
    position: relative;
    top: -20px;
}


form#whats-new-form {
    padding: 40px 0;
}

.activity-list li.mini .activity-meta,
body.activity-permalink .activity-list li.mini .activity-meta {
    position: static;
}


/**************************************************
 Font size fixes
 **************************************************/

#sidebar-me h4 a {
    font-size: 2em;
}

h1,
div.post h2.posttitle,
div.page h2.pagetitle,
h2.color,
div#sidebar h3.widgettitle,
body.activity-permalink .activity-list li .activity-content,
div#item-header h2 a  {
    font-size: 1.4em;
}

h2 {
    font-size: 1.35em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.25em;
}

h5,
form#whats-new-form h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.15em;
}

#sidebar-me li a,
.activity-list li.mini,
div#item-header h2 span.highlight {
    font-size: 1em;
}

select,
textarea,
a.button, 
input[type="submit"], 
input[type="button"], 
input[type="reset"], 
ul.button-nav li a, 
div.generic-button a,
form#whats-new-form textarea,
span.activity, 
div#message p,
div#item-header div#item-meta,
div.activity-comments div.acomment-content,
form.standard-form textarea, 
form.standard-form input[type="text"], 
form.standard-form select, 
form.standard-form input[type="password"],
dir-search input[type="text"],
ul.item-list li div.item-title, 
ul.item-list li h4 {
    font-size: 0.9em;
}

div#item-header span.activity, 
.activity-list .activity-content .activity-header,
.activity-list .activity-content .comment-header,
.activity-list li .activity-inreplyto,
.activity-list div.activity-meta a,
div.activity-comments div.acomment-meta,
div.pagination {
    font-size: 0.7em;
}

