
<table>
<tr><td colspan="2">
<h3>Removal of {rsArchon.CHAPTERID} Boul&#233;'s Rhetoricos</h3>
<p>The {COOKIE.REGIONNAME} Region Grammateus, {COOKIE.UPDATEDBY} has updated the officer information for {rsArchon.CHAPTERID} Boul&#233; so that {rsArchon.FIRSTNAME} {rsArchon.MIDDLEINITIAL} {rsArchon.LASTNAME} {rsArchon.SUFFIX} is no longer listed as Rhetoricos for {rsArchon.CHAPTERID} Boul&#233;.</p>
<p>This information has been copied to the Office of the Grand Boul&#233; and {rsArchon.CHAPTERID} Boul&#233;'s, Grammateus, Archon {rsOfficers.L2R_FULLNAME}.</p></td></tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr valign="top"><td>cc:</td><td>Office of the Grand Boul&#233;<br />{rsOfficers.L2R_FULLNAME}, Grammateus, {rsOfficers.BOULENAME} Boul&#233;<br />{COOKIE.UPDATEDBY}, Grammateus, {COOKIE.REGIONNAME} Region</td></tr>
</table>

