
<table>
<tr><td colspan="2">
<h3>Archon Contact Information Updated</h3>
<p>The {COOKIE.REGIONNAME} Region Grammateus, {COOKIE.UPDATEDBY}, updated the contact information for Archon {LASTNAME}  of {rsArchon.CHAPTERID} Boul&#233; to the following:</p>
</td></tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td>ARCHON</td><td>{FIRSTNAME} {MIDDLEINITIAL} {LASTNAME} {SUFFIX} {DESIGNATIONLST}</td></tr>
<tr><td>ADDRESS:</td><td>{ADDRESS1}<BR />{CITY}, {STATECD} {ZIP}</td></tr>
<tr><td>HOME PHONE:</td><td>{HOMEPHONE}</td></tr>
<tr><td>EMAIL:</td><td>{EMAIL}</td></tr>
<tr><td>WORK PHONE:</td><td><{WORKPHONE}/td></tr>
<tr><td>WORK EMAIL:</td><td>{ALTEMAIL}</td></tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2">This information has been recorded in the Grand Boul&eacute;'s database and a copy of this email has been sent to Archon {LASTNAME}'s Grammateus, Archon {rsOfficers.L2R_FULLNAME}</td></tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr valign="top"><td>cc:</td><td>Office of the Grand Boul&#233;<br />{rsOfficers.L2R_FULLNAME}, Grammateus, {rsOfficers.BOULENAME} Boul&#233;<br />{COOKIE.UPDATEDBY}, Grammateus, {COOKIE.REGIONNAME} Region</td></tr>
</table>

