/*
Theme Name: Sigma Pi Phi
Theme URI: http://sigmapiphi.org
Author: Pat Heard
Author URI: http://fullahead.org
Description: Sigma Pi Phi theme for Archon Network.
Version: 3.0
Tags: two-column, white
*/


@import url( _incl/css/reset.css );
@import url( _incl/css/default.css );


html {
	overflow-y: scroll;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff url(images/bg/body.gif) repeat-x 0 0 !important;
}

a {
    color: #3E85B7;
    text-decoration: none;
}

a:hover {
    color: #235C84;
    background-color: #DBEAF5;
}




/* Form elements */
form {
    margin: 0;
    padding: 0;
}

input,
textarea,
select {
    padding: 2px;
    background: #FFF;
    border-style: solid;
    border-width: 1px;
    border-color: #000 #ddd #ddd #000;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

fieldset p {
    padding: 2px 0;
}

/* Hide the legend */
fieldset legend {
    display: none;
}



/* Global width declarations */
#header,
div#container {
	position: relative;
	width: 910px;
	padding: 0 30px;
}

#header, div#container {
	margin: 0 auto;
}


/**************************************************
 Header
 **************************************************/

#header {
    padding-left: 8px;
    height: 162px;
}

#header #logo {
    position: absolute;
    z-index: 10;
    top: 15px;
    left: 0;

    width: 180px;
    height: 120px;

    margin: 0;
    padding: 0;
}

#header #logo a {
    display: block;
    height: 120px;
    text-indent: -1000em;
}

#header #logo a:hover {
    background: none;
}

#header #search-bar {
    top: 65px;
    right: 0;
}

#header #search-bar div.padder {
    padding: 0;
}

#header #search-bar input[type="submit"],
#header #search-submit {
    font-size: 14px;
}

#header #tagline {
	width: 406px;
	margin: 0;
	padding: 0;
    position: absolute;
    top: 105px;
    left: 215px;
    text-align: center;
    font-size: 1.3em;
    color: #f59e1d;
}

#header #extraordinary {
    position: absolute;
    top: 25px;
    left: 210px;

    width: 424px;
    height: 23px;
    background: url(images/bg/extraordinary-men.png) no-repeat 0 0;
}

/* Admin bar dropdowns */
#wp-admin-bar-member-boules .ab-sub-wrapper {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 20em;
}


/* Main menu */
ul#nav {
	position: relative;
	z-index: 4;
	top: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 100%
}

ul#nav li {
    margin: 0;
    padding: 0;
    display: inline;
}

ul#nav li a {
    float: left;
    padding: 5px 15px;
    background: #fff url(images/bg/menu.png) no-repeat 0 50% !important;

    font: bold 1.2em arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;

    color: #aaa;
    border-radius: 0;
}

ul#nav li:first-child a {
    background: none !important;
}

ul#nav li {
	position: relative;
}

ul#nav a:hover,
ul#nav li.active > a,
ul#nav li.current-menu-item a,
ul#nav li.current-post-ancestor a,
ul#nav li.selected a,
ul#nav li.selected ul a:hover,
ul#nav li.selected ul .selected a,
ul#nav li.current_page_item a,
ul#nav li.current_page_parent a {
    color: #00689b;
}



/* Submenus */
ul#nav ul {
	display: none;
	position: absolute;
	z-index: 4;
	top: 25px;
	left: 0;
	padding: 5px 15px;

	background: #f7f7f7;
	border-top: 5px solid #3E85B7;

	box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.3);
}

ul#nav > li:hover > ul {
	display: block;
}

/*
ul#nav > li:hover > a {
	position: relative;
	top: -1px;
	z-index: 5;
	padding: 5px 14px;
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	background: #fff !important;
}
*/



ul#nav ul li a {
	display: block;
	width: 130px;
	padding: 8px 0;

	float: none;


	font: 1em arial, sans-serif;
	text-transform: none;

	color: #3E85B7;
	background: 0 !important;
	border-top: 1px solid #d5d5d5;
}


ul#nav ul li:first-child a {
	border-top: 0;
}

#footer {
	padding: 25px;
	text-align: center;
	color: #bbb;
}

/**************************************************
 Main content area
 **************************************************/

div#content .padder {
    padding: 20px 0;
    margin-right: 280px;
    border: 0;
}

/* Post styling */
.author-box {
    display: none;
}

div.post div.post-content {
    margin-left: 0;
}

div.post p.date, div.post p.postmetadata, div.comment-meta, div.comment-options {
    color: #888;
    font: 12px arial, sans-serif;
    border: 0;
}

.entry img {
	max-width: 100%;
	height: auto;
}

/* Paging controls */
#paging .right {
    text-align: right;
    float: right;
    width: 49%;
}

#paging .left {
    float: left;
    width: 49%;
}

#pages {
    text-align: right;
}

#pages strong {
    padding-right: 5px;
}

#pages .link {
    padding: 0 5px 0 7px;
    border-left: 1px solid #bbb;
}

/* Breadcrumbs */
.breadcrumbs {
	margin-top: -5px;
}

.breadcrumbs a {
	font-size: 10px;
	text-transform: uppercase;
}

.breadcrumbs .sep {
	position: relative;
	top: -1px;

	padding: 0 5px;
	font-family: monospace;
	font-weight: bold;
	color: #bbb;
}

/* Category children */
.cat-children li {
	padding-left: 12px;
	background: url(images/bg/li_bullet.gif) no-repeat 0 6px;
}

/**************************************************
 Sidebar
 **************************************************/

div#sidebar {
    width: 260px;
    margin-left: -262px;
    border: 0;
    background: none;
}


 /* Widgets */
div#sidebar h3.widgettitle {
    margin: 0;
}

.widget {
	margin-bottom: 35px;
}


/**************************************************
 Coloured titles
 **************************************************/

h2.posttitle,
h2.pagetitle,
h2.color,
div#sidebar h3.widgettitle {
    margin: 0;
    padding: 5px 13px;

    font: 700 16px arial, sans-serif;
    letter-spacing: -0.01em;
    color: #fff;
}

div.post h2.posttitle a,
div.page h2.pagetitle a{
    color: #fff;
}

div.post h2.posttitle a:hover ,
div.page h2.pagetitle a:hover {
    background: none;
}

h2.red,
.red h2.posttitle,
.red h2.pagetitle,
div#sidebar h3.widgettitle {
    background: #BF311B url(images/bg/corner_red.gif) no-repeat 0 0;
}

h2.dark_red,
.dark_red h2.posttitle,
.dark_red h2.pagetitle {
    background: #8C1401 url(images/bg/corner_dark_red.gif) no-repeat 0 0;
}

h2.yellow,
.yellow h2.posttitle,
.yellow h2.pagetitle  {
    background: #F59F1A url(images/bg/corner_yellow.gif) no-repeat 0 0;
}

h2.blue,
h2.documents-resources,
.blue h2.posttitle,
.blue h2.pagetitle,
div#sidebar h3.entry-title,
div#sidebar .recent-updates h3.widgettitle{
    background: #3E85B7 url(images/bg/corner_blue.gif) no-repeat 0 0;
}

h2.green,
h2.press-releases,
.green h2.posttitle,
.green h2.pagetitle,
div#sidebar .widget_calendar_today h3.widgettitle,
div#sidebar .widget_calendar_upcoming h3.widgettitle {
    background: #768526 url(images/bg/corner_green.gif) no-repeat 0 0;
}

h2.purple,
h2.notices,
.purple h2.posttitle,
.purple h2.pagetitle {
    background: #A64399 url(images/bg/corner_purple.gif) no-repeat 0 0;
}

h2.black,
.black h2.posttitle,
.black h2.pagetitle {
    background: #182B34 url(images/bg/corner_black.gif) no-repeat 0 0;
}

h2.brown,
.brown h2.posttitle,
.brown h2.pagetitle {
    background: #7F4511 url(images/bg/corner_brown.gif) no-repeat 0 0;
}

h2.gray,
.gray h2.posttitle,
.gray h2.pagetitle {
    color: #aaa url(images/bg/corner_gray.gif) no-repeat 0 0;
}


/* light gray content blocks */
.contentBlock,
.entry-content,
.widget_calendar_today ul,
.widget_calendar_upcoming ul,
.avatar-block {
	zoom: 1;
    margin-bottom: 15px;
    padding: 10px !important;
    background-color: #f7f7f7;
}

.contentBlockFooter {
    position: relative;
    top: -15px;
    padding: 10px;

    font-size: 0.85em;
    margin-bottom: 20px;

    background-color: #ececec;
    border-top: 1px solid #d5d5d5;
}

.contentBlock:before,
.contentBlock:after {
    content: ' ';
    display: table;
}

.contentBlock:after {
    clear: both;
}


/**************************************************
 Home page excerpt lists
 **************************************************/

div.post ul.link-list,
ul.link-list {
    margin: 0;
    padding: 0 2px;
}

ul.link-list li {
    display: inline;
}


ul.link-list a {
    display: block;
    zoom: 1;

    padding: 10px 0;
    color: #111;
    border-top: 1px solid #d5d5d5;
}

ul.link-list li:first-child a {
    border-top: 0;
}

ul.link-list a strong {
    color: #3E85B7;
}

ul.link-list a:hover strong {
    color: #235C84;
}

ul.link-list a span p {
    margin: 0;
    padding: 0;
}


/**************************************************
 Freatured images
 **************************************************/

.featured,
.featured a.link {
	position: relative;
	width: 630px;
	height: 180px;
	overflow: hidden;
	margin-bottom: 35px;
}

.featured a.link {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}

.featured a.link:hover {
	background: 0;
}

.featured img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.featured .corner {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	height: 18px;
	width: 18px;
	background: url(images/bg/white-corner-18px.png) repeat 0 0;
}

.featured .text {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;

	padding: 20px 25px;
	width: 242px;
	height: 100%;
	color: #fff;
	background: rgba(0,0,0,0.7);

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	transition: background 0.5s;
}

.featured:hover .text {
	background: rgba(0,0,0,0.9);
}

.featured h2 {
	font-size: 16px;
	margin-bottom: 16px;
}

.featured p {
	padding: 0;
	margin: 0;
	max-height: 60px;
	overflow: hidden;
}

.featured span.link {
	position: absolute;
	bottom: 15px;
	right: 20px;
	z-index: 2;
	padding: 5px 25px;

	font: 700 14px arial, sans-serif;
	text-transform: uppercase;

	background: url(images/icon/view-raquo.png) no-repeat 100% 49.5%;
	color: #69addc;
}


/**************************************************
 Featured text
 **************************************************/
.home-text.link-list {
	padding: 0;
}

.home-text.link-list.golden-ratio {
	float: left;
	width: 349px;
}

.home-thumbnails {
	float: right;
	width: 242px;
}

.thumbnail {
	position: relative;
	margin-bottom: 35px;
}

.thumbnail img {
	width: 100%;
	height: auto;
	vertical-align: middle;
}

.thumbnail .title {
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;

	font: 700 14px arial, sans-serif;

	color: #fff;
	background: rgba(0,0,0,0.7);

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	transition: background 0.5s;
}

.thumbnail:hover .title {
	background: rgba(0,0,0,0.8);
}


/**************************************************
 Gallery
 **************************************************/

#container .gallery-icon img {
	border: 6px solid #fff;
	outline: 1px solid #e5e5e5;
	box-shadow: 1px 1px 2px #ddd;
}

#container dl.gallery-item {
	margin-top: 20px;
	margin-bottom: 0;
}

.fancybox-wrap a {
	background-color: transparent;
}

.fancybox-skin {
	border-radius: 0 !important;
}

.fancybox-buttons {
	position: fixed;
	text-align: center;
	left: 0;
	bottom: 20px;
	width: 100%;
	z-index: 8050;
}

.fancybox-buttons a {
	color: #999;
	padding: 10px 15px;
	background: #222;
	border-radius: 4px;
	transition: all .3s;
}

.fancybox-buttons a:hover {
	color: #fff;
	background: #000;
}


/**************************************************
 Chapter Officers
 **************************************************/

#chapter-officers li {
    padding: 7px 0;
}

#chapter-officers strong {
    display: block;
    padding: 0;
    margin: 0;
    line-height: 90%;
}

/**************************************************
 Regional Boules
 **************************************************/

#accordion {
	position: relative;
	top: -1000em;
}

.no-js #accordion {
	top: 0;
}

#accordion h3 {
	font-size: 14px;
	margin: 0;
	padding: 7px 0;
	font-weight: bold;
	text-transform: uppercase;
}

.regional-boules .ui-accordion .ui-accordion-content,
.regional-boules .ui-accordion .ui-accordion-header {
	border: 0;
	color: #444;
	background: none;
}

.regional-boules .ui-accordion .ui-accordion-header {
	border-top: 1px solid #ddd;
}

.regional-boules .ui-accordion .ui-accordion-header:first-child {
	border-top: 0;
}


.regional-boules .ui-accordion .ui-accordion-header.ui-accordion-header-active {
	color: #BF311B;
}

.regional-boules .ui-accordion .ui-accordion-header.ui-state-hover:not(.ui-accordion-header-active) {
	color: #222;
	background: #DBEAF5;
}

.regional-boules .ui-accordion .ui-accordion-header .ui-icon {
	background-image: url(_incl/css/jquery-ui/images/ui-icons_666666_256x240.png) !important;
}

.regional-boules .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	left: 0 !important;
}

.regional-boules .ui-accordion .ui-accordion-icons {
	padding-left: 1.5em !important;
}

.regional-boules .ui-accordion .ui-accordion-content {
	margin: 0;
	padding: 0 0 0 1.5em !important;
}

.regional-boules li.bold {
	font-weight: bold;
}

.regional-boules li a {
	display: block;
    padding: 7px 0;
	color: #3E85B7;
    border-top: 1px solid #ddd;
}

#autocomplete {
	margin-top: 1em;
	margin-bottom: -1em;

	padding: 6px;
	width: 100%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.ui-autocomplete-category {
	font-weight: bold;
	text-transform: uppercase;
	padding: 0px 5px;
	border-bottom: 1px solid #ccc;
}

/**************************************************
 Recent Updates Widget
 **************************************************/

ul.recent-updates {
	display: none;
	margin-bottom: 7px;
}

ul.recent-updates:first-child {
	display: block;
}

.recent-updates a {
	display: block;
    padding: 10px 0;
    line-height: 140%;
    border-top: 1px solid #ddd;
}

.recent-updates.active li:first-child a {
    border: 0;
}

.recent-updates a {
    display: block;
    zoom: 1;
}

.recent-updates .title {
	display: block;
}

.recent-updates .blogname,
.recent-updates .updated {
	text-transform: uppercase;
    font-size: 0.9em;
    padding: 0 5px;
    color: #666;
}

.recent-updates .updated {
	border-right: 1px solid #ddd;
	padding: 0 8px 0 0;
}

.recent-updates span[class^="link-"],
.ngg-navigation a,
.ngg-navigation span,
.page-numbers a,
.page-numbers span {
	font-size: 0.9em;
	display: inline-block;
	float: none;
	padding: 2px 6px !important;
	margin: 6px 6px 0 0 !important;
	text-transform: uppercase;

	color: #737f90 !important;
	background-color: #e2e2e2;
	cursor: pointer;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	 border-radius: 2px;
	 border: 0 !important;
}

.recent-updates span[class^="link-"]:hover,
.recent-updates span[class^="link-"].active,
.page-numbers a:hover,
.page-numbers span,
#container .ngg-navigation a:hover,
#container .ngg-navigation span.current {
	color: #465260 !important;
	background-color: #dbeaf5 !important;
}

ul.page-numbers {
	margin-top: 35px;
}

.page-numbers li,
.page-numbers li.next {
	display: inline;
	zoom: 1;
	margin: 0;
	float: left;
}

/**************************************************
 Events Calendar PRO
 **************************************************/

#container #tec-content {
	clear: both;
	padding: 10px 0;
	margin: 20px 0;
}

 /* Buttons */
#container #tec-content .ical,
#container .events-single .ical,
#container .gcal-add,
#container #tec-event-meta .gmap,
#container .tec-event-meta-desc .gmap,
#container .ical {
	color: #737f90 !important;
	background: #ececec !important;
}

#container #tec-content a:hover.ical,
#container .events-single a:hover.ical,
#container a:hover.gcal-add,
#container #tec-event-meta a:hover.gmap,
#container .tec-event-meta-desc a:hover.gmap,
#container a:hover.ical {
	color: #465260 !important;
	background: #dbeaf5 !important;
	text-decoration: none !important;
}

/* Calendar view */
#container .tec-calendar th {
	background: #bed5e6;
}

#container .tec-calendar td.tec-present .daynum  {
	background: #bf311b;
}

#container .tec-tooltip {
	border-color: #686b7a;
}

#container .tec-tooltip .tec-event-title {
	font-weight: bold;
	color: #464958;
	background: #bed5e6;
}

#container .tec-month-nav a {
	color: #3e9eaa;
}

#container .tec-month-nav a:hover{
	text-decoration: underline;
}


/* Borders around event meta info */
#container #tec-event-meta  {
	border-color: #d5d5d5;
	border-top-width: 1px;
	border-bottom-width: 1px;
}

.navigation,
.paged-navigation,
.comment-navigation {
	margin: 0;
	font: 12px arial, sans-serif;
}

#comments h3,
#trackbacks h3,
#respond h3 {
	font-weight: normal;
	font-size: 16px;
}

/**************************************************
 Business Directory
 **************************************************/

.wpbdp-listing-form legend {
	display: none;
}

.wpbdp-form-field {
	margin: 20px 0 !important;
}

.wpbdp-form-field input,
.wpbdp-form-field select,
.wpbdp-form-field textarea {
	padding: 4px;
	font: 12px arial, sans-serif;
}


.wpbdp-form-field input,
.wpbdp-form-field textarea {
	min-width: 50%;
}

.wpbdp-form-field span.sublabel {
	display: block;
	font-size: 12px !important;
	margin: 10px 0 !important;
}

.wpbdp-submit-page .wpbdp-form-field.required .wpbdp-form-field-label:after {
	color: #BF311B ;
	font-family: georgia;
	font-size: 14px !important;
}

#container .businessdirectory h2,
#container .wpbdp-listing h2 {
	margin-top: 5px;
	padding-bottom: 15px;
	border-bottom: 1px dotted #ccc;
}

#container .businessdirectory h3,
#container .wpbdp-listing h3 {
	text-transform: uppercase;
	font-size: 14px;
}

#container .wpbdp-msg,
#container .businessdirectory ul.validation-errors {
	font-size: 12px;
	padding: 10px 20px;
	margin: 20px 0;
	background: #ffc;
	border: solid 1px #f2ea8d;
}

#container .businessdirectory ul.validation-errors li {
	color: #222;
}

#container .businessdirectory .image-conditions {
	margin: 20px 0;
}

#container .listing-actions input {
	padding: 3px 10px;
}

.image img,
#container .wpbdp-excerpt-thumbnail,
#container .wpbdp-thumbnail,
#container .wpbdp-listing-single .main-image img {
	border: 6px solid #fff;
	outline: 1px solid #e5e5e5;
	box-shadow: 1px 1px 2px #ddd;
}

#container .extra-images ul li {
	margin-left: 0;
	margin-right: 10px;
}

#container .wpbdp-listing-single .listing-title {
	padding: 0;
	background: 0;
	border: 0;
	margin-bottom: 20px;
}

#container .field-value label {
	display: block;
}

#container .wpbdp-submit-page.step-images .upload-form {
	margin: 20px 0;
}

#container .image {
	float: none;
}


#container .image label {
	margin: 10px 0;
}

#container .wpbdp-listing .contact-form {
	padding-left: 0;
}

#container .wpbdp-listing .contact-form h3 {
	margin-left: 0;
}

#container .wpbdp-listing-excerpt {
	padding: 15px 0;
}

#container .wpbdp-bar .wpbdp-search-form {
	margin-left: 42.5%;
}

#container form#wpbdmsearchform a.advanced-search-link {
	font-size: 10px;
	display: inline;
}

#container #wpbdp-search-form {
	padding-left: 0;
}

#container .wpbdp-listing-excerpt.odd {
	background: 0;
}

#container .wpbdp-bar {
	min-height: 50px;
	padding-bottom: 10px;
	margin: 15px 0;
	border-bottom: 1px dotted #ddd;
}

.wpbdp-credit-info {
	display: none !important;
}

#container .listing-actions input.delete-listing {
	margin-left: 10px;
	color: #c00;
}

#container .listing-actions .button.view-listing {
	margin-right: 10px;
}

#intextbox {
	padding: 4px;
}

/**************************************************
 Icons
 **************************************************/

.icon {
	padding: 0 13px;
	background-repeat: no-repeat;
	background-position: 0 1px;
}

.icon.archive {
	background-image: url(images/icon/archive.png);
}

.icon.rss {
	background-image: url(images/icon/rss.png);
}

.icon.comment {
	background-image: url(images/icon/comment.png);
}


/**************************************************
 Generic Classes
 **************************************************/

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.clear {
    clear: both;
}

.block {
    display: block;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: ' ';
}

.clearfix: after {
	clear: both;
}

.preload {
	position: absolute;
	visibility: hidden;
	top: -1000em;
	left: -1000em;
}

.marginBottomLarge {
	margin-bottom: 35px !important;
}

/**************************************************
 IE Fixes
 **************************************************/

.lt-ie9 .featured .text,
.lt-ie9 .thumbnail .title {
	background: url(images/bg/60pc_black.png) repeat 0 0;
}

.lt-ie8 .featured .text {
	width: 192px;
}

.lt-ie8 .home-thumbnails .thumbnail .title {
	width: 222px;
}


/**************************************************
 Responsive Design
 **************************************************/


@media (max-width: 939px) {
	#container,
	#header {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		width: 100% !important;
		padding: 0 20px !important;
		margin: 0 auto;
	}

	#header {
		padding-left: 8px !important;
	}

	.padder {
		padding-right: 0 !important;
	}

	#header  {
		background-position: 10px 0 !important;
	}

	.featured {
		width: 100%;
		height: auto;
	}

	.featured img {
		position: static;
		width: 100%;
		height: auto;
	}

	.featured .text p {
		display: none;
	}

	.home-text.link-list {
		float: none !important;
		width: 100% !important;
	}

	.home-thumbnails {
		float: none;
		width: 100%;
		margin: 20px 0;
	}

	.home-thumbnails .thumbnail {
		width: 70%;
	}
}


@media (max-width: 699px) {

	ul#nav li a {
		background: 0 !important;
	}

	div#content .padder {
		margin-right: 0;
	}

	div#sidebar {
		float: none;
		margin-left: 0;
		width: 100%;
	}

	div#sidebar .padder {
		padding-left: 0;
	}


	ul.page-numbers {
		margin: 0;
		padding-bottom: 30px;
	}

	#wpadminbar {
		min-width: 100% !important;
	}

	body {
		background: 0 !important;
	}

	#header {
		height: auto;
		background: #000;
	}

	#header img {
		width: 100%;
		height: auto;
	}

	#header #tagline {
		width: 100%;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0;
		padding: 10px;
	    position: static;

	    text-align: left !important;
	    font-size: 14px;

	    background: #000;
	}



	#extraordinary {
		display: none;
	}
}

@media (max-width: 480px) {
	ul#nav {
		padding-top: 0 !important;
	}

	#wp-admin-bar-top-secondary {
		display: none;
	}

	#header {
		height: auto !important;
	}

	.contentBlock img {
		max-width: 100%;
		height: auto;
	}

	.home-thumbnails .thumbnail {
		width: 100%;
	}

	.featured .text {
		padding: 10px;
	}

	#accordion h3,
	.featured .text h2,
	.home-thumbnails .thumbnail .title,
	h2.posttitle,
	h2.pagetitle,
	h2.color,
	div#sidebar h3.widgettitle,
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
		font-size: 1em !important;
	}

	#wpadminbar {
		font-size: 0.8em !important;
	}
}