html,body{margin:0;padding:0}
body{font: 85%/1.3 TrebuchetMS,Arial,sans-serif;
    text-align: left;background: #fff;padding-bottom:0px}
a { color: #0066B3; background: inherit; text-decoration: none;}
h1 { font: bold 2.1em Arial, Arial, Sans-Serif; color: #036DA7 }
h2 { font: bold 1.1em Arial, Arial, Sans-Serif; padding: 0; margin: 0; }

div#header{width:100%;overflow:hidden;background: #BBD9EE; }
div#header h1,div#menu{width:100%;margin:0 auto;text-align:left;}
div#header #header_ad{margin-left:6px;}
div#header h1{padding: 5px 10px 5px;color: #fff}

div#footer{width:100%;clear: both;background: #BBD9EE; font: bold 0.8em Arial, Arial, Sans-Serif; color: #fff ;text-align:center }

ul#nav,ul#nav li{list-style-type:none;margin:0;padding:0}
ul#nav{font: bold 1.2em Arial, Arial, Sans-Serif;padding: 0 10px 0;}
ul#nav li{float:left;margin-left: 3px;text-align: center}
ul#nav a{float:left;padding: 5px 8px 5px 8px;text-decoration:none; border-top : 1px solid #fff; border-left : 1px solid #fff; border-right : 1px solid #fff;}
ul#nav a:hover{background: #fff;color: #000}
.nav{background: #E7F1F8;color: #666;}
.nav_selected{background: #fff;color: #003}
ul#nav li.activelink a,ul#nav li.activelink a:hover{background: #FFF;color: #003}

#submenu {margin: 0 auto;padding: 15px 15px 0px;background: #fff;}
#submenu_left {float: left;width: 76%;margin: 0 0 10px 0;}
#submenu_type {float: right;width: 20%;margin: 0 0 10px 0;}

.settingsTitle {cursor:pointer; font-weight: bold;}
.settingsTable {display:none;}

#left {
	float: left;
	/*width: 76%;*/
	width: 100%;
	padding: 1em;
	margin-bottom: 1.2em;
	background: #eee;
	text-align: justify;
}

#right {
	float: right;
	width: 20%;
	margin: 0 0 10px 0;
	
}

#right .box {
	
	padding: 1em;
	margin: 0 0 1em 0;
	background : #FFF6BF;
}


#content {
font: 95%/1.3 TrebuchetMS,Arial,sans-serif;
	margin: 0 auto;
    padding: 15px;
	background: #fff;
	
	
}

ul {  padding: 0; margin: 0;}
li { list-style-type: none;}

.item{margin: 15px 0 10px 0;}
.post{border-top : 1px solid #fff;width:100%;}
.thumb{border: 2px solid #fff; width: 100px;height: 75px;}
.category{border-bottom : 1px solid #fff;}

