.popperlink {
	z-index: 2; 
	visibility: hidden; 
	width: 200px; 
	position: absolute;
}

/*************************************************
SECTION CSS POUR LE CALENDRIER
*************************************************/
.CALxContent{
	margin: 0;
	padding: 0;
	font-size: 1em;
	margin-bottom: 1em;
	margin-right: 1em;
	margin-left: 1em;
	text-align: center;
	color: White;
	border-color:white;
	background-color: Black;
}
/***********
CSS POUR LES LIENS ET LE MOIS ANNEE
DE NAVIGATION
************/
.navPeriod{
	text-align: center;
	margin:0;
	padding:0;
	margin-bottom:1em;
	text-decoration: none;
	color:white;
}
.navPeriod a{
	text-decoration: none;
	color:white;
}
.previousYear img,a,span{
	margin-right: 2%;
	text-decoration: none;
	border: none;
}
.previousMonth img,a,span{
	margin-right: 2%;
	text-decoration: none;
	border: none;
}
.nextMonth img,a,span{
	margin-right: 2%;
	text-decoration: none;
	border: none;
}
.nextYear img,a,span{
	margin-right: 2%;
	text-decoration: none;
	border: none;
}

.month{
	margin-right: 0%;
}

.year{
	margin-right: 0%;
}

.CALxTabOfYearContent{
	border-style: solid solid solid solid;
	color: White;
	width: 100%; 
	border: thin solid White;
}

.CALxTable{
	border-style: solid solid solid solid;
	color: White;
	width: 100%;
	border: thin solid White;
}

.CALxTable td{
	border-style: solid solid solid solid;
	color: White;
	border: thin solid White;
}

td.emptyDay{
	background-color: black;
	font-weight: bold;
	color:black;
	border: thin solid Black;
}

td.today{
	background-color: rgb(212,227,186);
	font-weight: bold;
	color:black;
}
td.inactDay{
	background-color:#D6E7F4;
	color: Black;
}
td.event{
	background-color:rgb(149,169,100);
}
td.multiple{
	background-color:rgb(111,147,72);
}
.titleMulti{
	color:rgb(111,147,72);
}
td.event a{
	text-decoration:none;
	color:black;
}
td.event a:hover{
	background-color:rgb(212,227,186);
}
td.multiple a{
	text-decoration:none;
	color:black;
}
td.multiple a:hover{
	background-color:#D6E7F4;
}
td.dayPreviousMonth{
	background-color: Gray;
}
td.dayNextMonth{
	background-color: Gray;
}

/*************************************************
SECTION CSS POUR LES INFOBULLES
*************************************************/
.linkDetailPopup{
	color:white;
}
.textfontClass {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 1em;
	text-align: left;
	color: Black;
}
.textfontClass a{
	color:rgb(111,147,72);
	font-size: 1em;
}
.textfontClass a:hover{
	font-weight: bold;
}
.capfontClass {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
  	color:  #ffffff;
	text-align:left;
}
.closefontClass{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
  color:  #ffffff;
  text-align:right;
}
.capfontClass,.closefontClass a {
	color: #ffffff; 
	font-size: 1em;
}
.fgClass {
	background-color:rgb(212,227,186);
}
.bgClass {
	background-color:rgb(111,147,72);
}
