.popperlink {
	z-index: 2; 
	visibility: hidden; 
	width: 200px; 
	position: absolute;
}

/*************************************************
SECTION CSS POUR LE CALENDRIER
*************************************************/
.CALxContent{
		font-size: 1em;
		margin-bottom:1em;
}
/***********
CSS POUR LES LIENS ET LE MOIS ANNEE
DE NAVIGATION
************/
.navPeriod{
	text-align: center;
	margin:0;
	padding:0;
	margin-bottom:1em;
	text-decoration: none;
}
.navPeriod a{
	text-decoration: none;
}
.previousYear img,a,span{
	margin-right: 0.2em;
	text-decoration: none;
	border: none;
}
.previousMonth img,a,span{
	margin-right: 0.2em;
	text-decoration: none;
	border: none;
}
.nextMonth img,a,span{
	margin-right: 0.2em;
	text-decoration: none;
	border: none;
}
.nextYear img,a,span{
	margin-right: 0.2em;
	text-decoration: none;
	border: none;
}
.month{
	margin-right:1em;
}
.year{
	margin-right:1em;
}
td.today{
	background-color:#8DC8F5;
}
td.sunday{
	/*background-color:#D6E7F4;*/
}
td.event{
	background-color:rgb(113,209,234);
}
td.multiple{
	background-color:rgb(28,153,185);
}
.titleMulti{
	color:#446D8C;
}
td.event a{
	text-decoration:none;
	color:black;
}
td.event a:hover{
	background-color:#D6E7F4;
}
td.multiple a{
	text-decoration:none;
	color:black;
}
td.multiple a:hover{
	background-color:#D6E7F4;
}
.linkDetailPopup{
	color:white;
}




/*************************************************
SECTION CSS POUR LES INFOBULLES
*************************************************/
.textfontClass {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 1em;
}
.textfontClass a{
	color: #446D8C; 
	font-size: 1em;
}
.textfontClass a:hover{
	font-weight: bold;
}
.capfontClass {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
  	color:  #ffffff;
	text-align:left;
}
.closefontClass{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
  	color:  #ffffff;
  	text-align:right;
}
.capfontClass a,.closefontClass a {
	color: #ffffff; 
	font-size: 1em;
}
.fgClass {
	background-color: #71D1EA;
}
.bgClass {
	background-color: #1C99B9;
}
