.thumbs {
	width:			90%;
}
.thumbs div {
	margin:			5px;
	float:			left;
}
.thumbs div img {
	border:			none;
	display:		block;
	margin:			5px;
}
.thumbs div p {
	width:			100px;
	margin-left:	5px;
}
.thumbs .clearboth { 
	clear: 			both; 
}
.picturecontainer {
	text-align:		center;
}
.managecontainer textarea {
	width:			395px;
}
.managecontainer hr {
	width:			400px;
	text-align: 	left;
	margin: 		20px auto 20px 0;
}
.pictureform .managepicture {
	float:left;
	clear:left;
}
.pictureform .shortfields {
	margin-left: 20px;
	float:left;
}
.pictureform .clearboth {
	clear:			both;
}
.uploadcounter {
	width: 			20px;
	margin-bottom: 	10px;
	float:			left;
	clear:			left;
}
.uploadfile {
	margin-bottom: 	10px;
	float:			left;
}
.uploadfile input {
	width:			385px;	
}
.uploadform {
	margin-top:		20px;
}
.uploadform .clearboth {
	clear:			both;
}
.slideshowwrapper {
	text-align:		center;
}