.kalender{
	width:206px;
	cursor:pointer;
	border: 1px #003366 solid;
}
.kalender-menu{
	width:206px;
}

.kalender-month{
	background:url('images/month_bar.gif') repeat-x;
	height:23px;
	font-family:verdana;
	font-size:10px;
	font-weight:bold;
	color:#000000;	
}
.kalender-week{
	background:url('images/week_bar.gif') repeat-x;;
	height:15px;
	width:24px;
	font-family:verdana;
	font-size:9px;
	font-weight:bold;
	color:#433d27;	
}

.kalender-dayDim{
	background-color:#eeeeee;
	height:20px;	
	font-family:verdana;
	font-size:9px;
	color:#bbbbbb;	
}

.kalender-dayDefault{
	background-color:#e0e0e0;
	height:20px;
	font-family:verdana;
	font-size:9px;
	color:#433d27;		
}

.kalender-dayWeekend{
	background-color:#d0d0d0;
	height:20px;
	font-family:verdana;
	font-size:9px;
	color:#433d27;		
}

.kalender-dayHighlight_1{
	background-color:#f6af12;
	height:20px;
	font-family:verdana;
	font-size:9px;
	color:#433d27;			
}

.kalender-dayHighlight_1:hover{
	background-color:#ff6314;
}

.kalender-dayWeekendHighlight_1{
	background-color:#cba247;
	height:20px;
	font-family:verdana;
	font-size:9px;
	color:#433d27;			
}

.kalender-dayWeekendHighlight_1:hover{
	background-color:#d05110;
}

.kalender-dayHighlight_2{
	background-color:#dc8902;
	height:20px;
	font-family:verdana;
	font-size:9px;
	color:#433d27;			
}

.kalender-dayHighlight_2:hover{
	background-color:#ff6314;
}

.kalender-dayWeekendHighlight_2{
	background-color:#cfa343;
	height:20px;
	font-family:verdana;
	font-size:9px;
	color:#433d27;			
}

.kalender-dayWeekendHighlight_2:hover{
	background-color:#d05110;
}

.kalender-dayHighlight_3{
	background-color:#fec852;
	height:20px;
	font-family:verdana;
	font-size:9px;
	color:#433d27;			
}

.kalender-dayHighlight_3:hover{
	background-color:#ff6314;
}

.kalender-dayWeekendHighlight_3{
	background-color:#dc8902;
	height:20px;
	font-family:verdana;
	font-size:9px;
	color:#433d27;			
}

.kalender-dayWeekendHighlight_3:hover{
	background-color:#d05110;
}

.kalender-tooltip-day{
	background:url('images/day_bar.gif') repeat-x;
	height:23px;
	font-family:verdana;
	font-size:10px;
	font-weight:bold;
	color:#433d27;	
}

.kalender-tooltip-row_1{
	background-color:#e7e7e7;
	font-family:verdana;
	font-size:10px;
	color:#433d27;
}

.kalender-tooltip-row_2{
	background-color:#e0e0e0;
	font-family:verdana;
	font-size:10px;
	color:#433d27;
}

.kalender-tooltip-highlight_1{
	background-color:#f6af12;
	font-family:verdana;
	font-size:10px;
	color:#433d27;	
	font-weight:bold;
}

.kalender-tooltip-highlight_2{
	background-color:#dc8902;
	font-family:verdana;
	font-size:10px;
	color:#433d27;	
	font-weight:bold;	
}

.kalender-tooltip-highlight_3{
	background-color:#fec852;
	font-family:verdana;
	font-size:10px;
	color:#433d27;	
	font-weight:bold;	
}

.kalender-tooltip-row_shadow{
	background:url('images/tooltip_row_shadow.gif') repeat-x;
	height:5px;	
}

.kalender-next{
	background:url('images/next.gif') no-repeat;	
	width:15px;
	height:14px;
}

.kalender-next:hover{
	background:url('images/next_over.gif') no-repeat;	
	width:15px;
	height:14px;
}

.kalender-previous{
	background:url('images/previous.gif') no-repeat;	
	width:15px;
	height:14px;
}

.kalender-previous:hover{
	background:url('images/previous_over.gif') no-repeat;	
	width:15px;
	height:14px;
}

.kalender-jump-row {
	font-family:verdana;
	font-size:10px;
	color:#433d27;	
	cursor:pointer;	
	background-color:#eeeeee;
	height:15px;
	text-decoration:none;
}

.kalender-jump-row:hover{
	font-family:verdana;
	font-size:10px;
	color:#ffffff;	
	cursor:pointer;	
	height:15px;
	text-decoration:none;	
	background-color:#d0d0d0;	
}

.kalender-jump-row-text {
	text-decoration:none;
	color:#555555;
}

.kalender-jump-current-row {
	font-family:verdana;
	font-size:10px;
	color:#433d27;	
	cursor:pointer;	
	background-color:#dfdfdf;
	height:15px;
	text-decoration:none;
}

.kalender-jump-link{
	font-family:verdana;
	font-size:10px;
	color:#433d27;	
	font-weight:bold;	
	cursor:pointer;
}

.kalender-jump-link:hover{
	text-decoration:none;
}
